{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Contestants" %}
{% endblock %}


{% block content %}
    <h3>{{ regulation.name }}-{% trans 'Contestants' %}</h3>

    {% for member in members %}
        {%  if member.get_enrollment_detail.count != 0 %}
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th>{% trans 'Game Year' %}</th>
                <th>{% trans 'Team' %}</th>
                <th>{% trans 'Discipline Number' %}</th>
                <th>{% trans 'Horse Number' %}</th>
                <th>{% trans 'Horseman Number' %}</th>
            </tr>
            </thead>
            <tr>
                <td>{{ member.get_enrollment.year }}</td>
                <td>{{ member.get_enrollment.member }}</td>
                <td>{{ member.get_enrollment.discipline_number }}</td>
                <td>{{ member.get_enrollment.horse_number }}</td>
                <td>{{ member.get_enrollment.horseman_number }}</td>
            </tr>
            <tbody>
            </tbody>
        </table>
        <div class="row equal-height">

            {% for enroll in member.get_enrollment_detail %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 team-photo">
                    <a href="{% url 'horse_detail' enroll.horse.id %}">
                        <div class="horse-photo">
                            <img src="{{ enroll.horse.horse_photo.url }} ">
                            <span>{{ enroll.horse }}•{{ enroll.game }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}
