{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Update Announcement" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/webpage_close_notify.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>{% trans "Update Announcement" %}</h3>
    {% include "racing/home/announcement_manage_form.html" %}
{% endblock %}
