{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Racing" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/jquery.scrollbox.js' %}"></script>
    <script src="{% static 'racing/js/racing_home.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="row" style="margin-bottom: 100px">
        <div class="col-md-12" style="text-align: center">
            <h3>{{ object.title }}</h3>
        </div>
        <div class="col-md-12" style="text-align: center">
            <h5><span class="glyphicon glyphicon-time"></span>&nbsp;{{ object.created }}</h5>
        </div>
        {% if object.photo %}
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <img src="{{ object.photo.url }}"><br>
            <h5>《图片》</h5>
        </div>
        {% endif %}
        <div class="col-md-6 col-md-offset-3">
            {{ object.content }}
        </div>
    </div>

{% endblock %}