{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Announcement List" %}
{% endblock %}


{% block content %}
    <h3>{% trans 'Announcement List' %}</h3>
    <a href="{% url "announcement_manage_create" %}" class="btn btn-primary">{% trans 'Create Announcement' %}</a>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Announcement Title' %}</th>
            <th>{% trans 'Create Time' %}</th>
            <th>{% trans 'Announcement Enabled' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    <a href="{% url 'announcement_manage_detail' object.id %}"> {{ object.title|safe }} </a>
                </td>
                <td>
                    {{ object.created|safe }}
                </td>
                <td>
                    {% if object.enabled %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url "announcement_manage_create" %}" class="btn btn-primary">{% trans 'Create Announcement' %}</a>
{% endblock %}
