{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Announcement" %}
{% endblock %}


{% block content %}
    <h3>{% trans "Announcement" %}</h3>
    {% has_perm 'permission.application_user' user '天马赛事' as is_application_user %}
    {% has_perm 'racing.admin' user as is_admin %}
    {% if is_application_user and is_admin %}
        <a href="{% url "announcement_manage_update" object.id %}"
           class="btn btn-warning">{% trans 'Update Announcement' %}</a>
        <a href="{% url "announcement_manage_delete" object.id %}"
           class="btn btn-danger">{% trans 'Delete Announcement' %}</a>
        <a href="{% url "announcement_manage_list" %}"
           class="btn btn-success">{% trans 'Back to Announcement List' %}</a>
    {% endif %}
    <h5>{% trans 'Announcement Title' %}</h5>
    <div>{{ object.title }}</div>
    <br>
    <h5>{% trans 'Announcement Content' %}</h5>
    <div>{{ object.content|safe }}</div>
    <br>
    {% if object.photo %}
        <h5>{% trans 'Time' %}</h5>
        <div>{{ object.photo.url }}</div>
        <br>
    {% endif %}
    <h5>{% trans 'Announcement Enabled' %}</h5>
    <div>
        {% if object.enabled %}
            <span class="glyphicon glyphicon-ok text-success"></span>
        {% else %}
            <span class="glyphicon glyphicon-remove text-danger"></span>
        {% endif %}
    </div>
    <br>

    {% if is_application_user and is_admin %}
        <a href="{% url "announcement_manage_update" object.id %}"
           class="btn btn-warning">{% trans 'Update Announcement' %}</a>
        <a href="{% url "announcement_manage_delete" object.id %}"
           class="btn btn-danger">{% trans 'Delete Announcement' %}</a>
        <a href="{% url "announcement_manage_list" %}"
           class="btn btn-success">{% trans 'Back to Announcement List' %}</a>
    {% endif %}
{% endblock %}
