{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Racing" %}
{% endblock %}

{% block head_css %}
    <style>
        a {
            color: #ffffff;
        }
        #thumbnails>#league-table>ul>li{
            min-height: 10px;
            height:initial;
        }
    </style>
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/jquery.scrollbox.js' %}"></script>
    <script src="{% static 'racing/js/racing_home.js' %}"></script>
{% endblock %}
{% block content %}
    <!-- 轮播(Carousel)容器 -->
    <div id="slide" class="carousel slide" data-ride="carousel">

        <!-- 指示器 -->
        <ol class="carousel-indicators">
            {% for carousel in carousels %}
                {% if carousel.active %}
                    <li data-target="#slide" data-slide-to="{{ carousel.ranking }}" class="active"></li>
                {% else %}
                    <li data-target="#slide" data-slide-to="{{ carousel.ranking }}"></li>
                {% endif %}
            {% endfor %}
        </ol>

        <!-- 内容 -->
        <div class="carousel-inner" role="listbox">
            {% for carousel in carousels %}
                {% if carousel.active %}
                    <div class="item active">
                        <img src="{{ carousel.photo.url }}">
                        <div class="carousel-caption">
                            <h3>{{ carousel.slogan }}</h3>
                            <p>{{ carousel.title }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <img src="{{ carousel.photo.url }}">
                        <div class="carousel-caption">
                            <h3>{{ carousel.slogan }}</h3>
                            <p>{{ carousel.title }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>

        <!-- 上一个/下一个 -->
        <a class="left carousel-control" href="#slide" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#slide" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- 新闻 -->
            <div id="thumbnails" class="events_announcement">
                <span>{% trans "Events Announcement" %}</span>
                <div id="announcement" class="scroll-text">
                    <ul style="-webkit-padding-start: 10px;">
                        {% for events_announcement in events_announcements %}
                            <li>
                                <a href="/racing/announcement_manage/show/{{ events_announcement.id }}">
                                    {{ events_announcement.title }}（{{ events_announcement.created.date }}）
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-12">
            <div id="thumbnails" class="league_table">
                <span>{% trans "League Table" %}</span>
                <div id="league-table" class="scroll-text">
                    <ul style="-webkit-padding-start: 10px;">
                        {% for game in games %}
                            {% if game.enrollmentdetail_set.all.count != -1 %}
                                <li style="font-size: 15px;">{{ game.name }}</li>
                                <li>
                                    <table class="ptable ptable-rounded">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>马名</th>
                                            <th>骑师</th>
                                            <th>团队</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for enrollmentdetail in game.enrollmentdetail_set.all|dictsort:"get_rank" %}
                                            {% if enrollmentdetail.get_rank != -1%}
                                            <tr>
                                                <td>{{ enrollmentdetail.get_rank }}</td>
                                                <td>{{ enrollmentdetail.horse.name }}</td>
                                                <td>{{ enrollmentdetail.horseman }}</td>
                                                <td>{{ enrollmentdetail.enrollment.member }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    ------------------------------------------------------------------------------------
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        {% for my_video in videos %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <video preload="none" poster="{{ my_video.poster.url }}" controls>
                    <source src="{{ my_video.url }}"
                            type="video/mp4">
                    {% trans "Your browser does not support the video tag." %}
                </video>
                <p class="video-title">{{ my_video.title }}({{ my_video.duration }})</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
