{% extends "bootstrap/bootstrap.html" %}

{% load i18n %}


{% block head_title %}{% trans "Language Preference" %}{% endblock %}

{% block inner-content %}
    <h1>{% trans "Language Preference" %}</h1>
    <hr>
    <table width="100%" border="2">
        <tr>
            <td width="30%">{% trans "UserID" %}</td>
            <td>{{ profile.user }}</td>
        </tr>
        <tr>
            <td>{% trans "Email" %}</td>
            <td>{{ profile.user.email }}</td>
        </tr>
        <tr>
            <td>{% trans "Language" %}</td>
            <td>{{ profile.locale_code }}</td>
        </tr>
    </table>
{% endblock %}
