{% extends "bootstrap/bootstrap.html" %}

{% load i18n %}

<!-- 针对bootstrap_form-->
{% load bootstrap3 %}

{% block head_title %}{% trans "Language Preference" %}{% endblock %}

{% block inner-content %}
    <h1>{% trans "Language Preference" %}</h1>
    <hr>

    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit">{% trans 'Submit' %}</button>
    </form>


{% endblock %}
