{% load i18n %}
{% load bootstrap3 %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    <a href="{% url "regulation_manage_list" %}" class="btn btn-success">{% trans 'Cancel' %}</a>
</form>
