{% extends "racing/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delete Regulation" %}
{% endblock %}

{% block content %}
    <p>{% trans 'Are you sure do you want to delete ' %}<a href="{{ object.get_absolute_url }}">"{{ object.name }}《{% trans "Regulation" %}》"?</a></p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value={% trans 'Delete Regulation' %}>
        <a href="{% url "regulation_manage_list" %}" class="btn btn-success">{% trans 'Cancel' %}</a>
    </form>
{% endblock %}
