{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Regulation" %}
{% endblock %}


{% block content %}
    <h3 class="horizontal-center">{{ regulation.name }}《{% trans "Regulation" %}》</h3>
    <br>
    <!-- 一、主办单位 -->
    <h4 class="horizontal-center">{% trans "Ⅰ " %}{% trans "Host" %}</h4>
    <div class="horizontal-center">{{ regulation.host|linebreaksbr }}</div>
    <!-- 二、承办单位 -->
    <h4 class="horizontal-center">{% trans "Ⅱ " %}{% trans "Organizer" %}</h4>
    <div class="horizontal-center">{{ regulation.organizer|linebreaksbr }}</div>
    <!-- 三、协办单位 -->
    <h4 class="horizontal-center">{% trans "Ⅲ " %}{% trans "CoOrganizer" %}</h4>
    <div class="horizontal-center">{{ regulation.coorganizer|linebreaksbr }}</div>
    <!-- 四、执行单位 -->
    <h4 class="horizontal-center">{% trans "Ⅳ " %}{% trans "Executive" %}</h4>
    <div class="horizontal-center">{{ regulation.executive|linebreaksbr }}</div>
    <!-- 五、支持单位 -->
    <h4 class="horizontal-center">{% trans "Ⅴ " %}{% trans "Support" %}</h4>
    <div class="horizontal-center">{{ regulation.support|linebreaksbr }}</div>
    <!-- 六、比赛时间和地点 -->
    <h4 class="horizontal-center">{% trans "Ⅵ " %}{% trans "Time" %}•{% trans "Venue" %}</h4>
    <div class="horizontal-center">{{ regulation.time|linebreaksbr }}</div>
    <div class="horizontal-center">{{ regulation.venue|linebreaksbr }}</div>
    <!-- 七、参赛单位 -->
    <h4 class="horizontal-center">{% trans "Ⅶ " %}{% trans "Participant" %}</h4>
    <div class="horizontal-center">{{ regulation.participant|linebreaksbr }}</div>
    <!-- 八、竞赛项目 -->
    <h4 class="horizontal-center">{% trans "Ⅷ " %}{% trans "Game" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Game' %}</th>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Game Day' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Time' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in games %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    {{ object.name|safe }}
                </td>
                <td>
                    {{ object.year|safe }}
                </td>
                <td>
                    {{ object.game_day|safe }}
                </td>
                <td>
                    {{ object.horse_type|safe }}
                </td>
                <td>
                    {{ object.time|safe }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- 九、参赛资格 -->
    <h4 class="horizontal-center">{% trans "Ⅸ " %}{% trans "Eligibility" %}</h4>
    <div>{{ regulation.eligibility|linebreaksbr }}</div>
    <!-- 十、竞赛办法 -->
    <h4 class="horizontal-center">{% trans "Ⅹ " %}{% trans "Method" %}</h4>
    <div>{{ regulation.method|linebreaksbr }}</div>
    <!-- 十一、赛事董事组、资格审查组、赛事干事组 -->
    <h4 class="horizontal-center">{% trans "XI " %}{% trans "Game Administration" %}</h4>
    <div>{{ regulation.administration|linebreaksbr }}</div>
    <!-- 十二、录取名次和奖励 -->
    <h4 class="horizontal-center">{% trans "XII " %}{% trans "Ranking & Award" %}</h4>
    <div>{{ regulation.ranking_award|linebreaksbr }}</div>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Game' %}</th>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Game Day' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Prize' %}</th>
            <th>{% trans 'Prize Comment' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in games %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    {{ object.name|safe }}
                </td>
                <td>
                    {{ object.year|safe }}
                </td>
                <td>
                    {{ object.game_day|safe }}
                </td>
                <td>
                    {{ object.horse_type|safe }}
                </td>
                <td>
                    {{ object.time|safe }}
                </td>
                <td>
                    {{ object.prize|safe }}
                </td>
                <td>
                    {{ object.prize_comment|safe }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{{ regulation.prize_remark|linebreaksbr }}</div>
    <!-- 十三、违禁物质检测 -->
    <h4 class="horizontal-center">{% trans "XIII " %}{% trans "Analeptic Inspection" %}</h4>
    <div>{{ regulation.analeptic_inspection|linebreaksbr }}</div>
    <!-- 十四、报名及报到 -->
    <h4 class="horizontal-center">{% trans "XIV " %}{% trans "Enroll Checkin" %}</h4>
    <div>{{ regulation.enroll_checkin|linebreaksbr }}</div>
    <!-- 十五、器材和经费 -->
    <h4 class="horizontal-center">{% trans "XV " %}{% trans "Facility Finance" %}</h4>
    <div>{{ regulation.facility_finance|linebreaksbr }}</div>
    <!-- 十六、其它 -->
    <h4 class="horizontal-center">{% trans "XVI " %}{% trans "Other" %}</h4>
    <div>{{ regulation.other|linebreaksbr }}</div>
{% endblock %}
