{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Regulation List" %}
{% endblock %}

{% block head_js %}
    <script>
        //删除gameday
        function delete_gameday(id){
            var result=confirm("确定要删除？")
            if(result){
                var action = $(".js-create-gameday-form").attr("action");
                var postdata="id="+id;
                $.ajax({
                    url: action,
                    data: postdata,
                    type: "DELETE",
                    dataType: 'json',
                    beforeSend:function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val());
                    },
                    success: function (data) {
                        if (data.status == 1) {
                            $("#modal-dialog .modal-content").html(data.html_form);
                            alert("删除成功！");
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });
            }else{
                alert("取消成功！");
            }
        }
        $(function () {
            var loadForm = function () {
                var a_href = $(this);
                $.ajax({
                    url: a_href.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-dialog").modal("show");
                    },
                    success: function (data) {
                        $("#modal-dialog .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 1) {
                            $("#modal-dialog").modal("hide");
                            alert("比赛日创建成功！");
                        }
                        else {
                            $("#modal-dialog .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };

            $(".ptable").on("click",".edit_game_day",loadForm);
            $(".modal-dialog").on("submit", ".js-create-gameday-form", saveForm);

        })
    </script>
{% endblock %}

{% block content %}
    <h3>{% trans 'Regulation List' %}</h3>
    <a href="{% url "regulation_manage_create" %}" class="btn btn-primary">{% trans 'Create Regulation' %}</a>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Year' %}</th>
            <th>{% trans 'Regulation Name' %}</th>
            <th>{% trans 'Active' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    {{ object.year|safe }}
                </td>
                <td>
                    <a href="{% url 'regulation_manage_detail' object.id %}"> {{ object.name|safe }} </a>
                </td>
                <td>
                    {% if object.active %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </td>
                <td>
                    <a class="edit_game_day" data-url="{% url 'regulation_manage_edit_gameday' object.id %}" href="#">{% trans 'Edit GameDay' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url "regulation_manage_create" %}" class="btn btn-primary">{% trans 'Create Regulation' %}</a>
{% endblock %}
