{% load i18n %}
{% load bootstrap3 %}

<form method="post" action="{% url 'regulation_manage_edit_gameday' regulation.id %}" class="js-create-gameday-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Create Game" %}</h4>
    </div>
    <div class="modal-body">

        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th style="text-align: center">赛程</th>
                <th style="text-align: center">比赛日</th>
                <th style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in gameday_list %}
                <tr>
                    <td style="text-align: center">{{ item.year }}</td>
                    <td style="text-align: center">{{ item.name }}</td>
                    <td style="text-align: center"><a href="javascript:delete_gameday('{{ item.id }}')">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% csrf_token %}
        {% bootstrap_form gameday_form %}

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">{% trans "Create GameDay" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>