{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Game" %}
{% endblock %}


{% block content %}
    <h3>{{ regulation.name }}-{% trans 'Equestrian Events' %}</h3>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Game' %}</th>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Game Day' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Prize' %}</th>
            <th>{% trans 'Prize Comment' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in games %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    {{ object.name|safe }}
                </td>
                <td>
                    {{ object.year|safe }}
                </td>
                <td>
                    {{ object.game_day|safe }}
                </td>
                <td>
                    {{ object.horse_type|safe }}
                </td>
                <td>
                    {{ object.time|safe }}
                </td>
                <td>
                    {{ object.prize|safe }}
                </td>
                <td>
                    {{ object.get_prize_comment|safe }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}
