{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}
{% load bootstrap3 %}

{% block title %}
    比赛管理
{% endblock %}

{% block head_js %}
    <script>

        //检验闸号是否存在
        function verifyvalue(value, id) {
            var gate_nos = document.getElementsByClassName("gate_no");
            var gn_list = [];

            for (var i = 0; i < gate_nos.length; i++) {
                //去掉空的排名和当前排名
                if (gate_nos[i].id != id && gate_nos[i].value != "") {
                    gn_list.push(gate_nos[i].id + "&" + gate_nos[i].value);
                }
            }

            if (gn_list.find(checkResult) != undefined) {
                alert("闸号重复！");
                document.getElementById(id).value = 0;
            }

            //检验数据 是否能找到，相同的数字
            function checkResult(val) {
                var result = (val.split("&")[1] == value);
                if ($("#" + (val.split("&")[0]).replace("gate", "group")).val()
                    == $("#" + id.replace("gate", "group")).val() && result)
                    result = true;
                else
                    result = false;
                return result;
            }
        }

        $(function () {

            $("#game_update").on("submit", function () {
                var result = confirm("确认保存当前信息？并修改比赛状态？");

                if (result == false) {
                    alert("取消成功！");
                    return false;
                }
                $.ajax({
                    url: "",
                    type: "POST",
                    data: $("#game_update").serialize(),
                    success: function (data) {
                        if (data.status == 1) {
                            location.reload();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
                return false;
            })

        })
    </script>
{% endblock %}


{% block content %}
    <h3>{{ game }}-比赛管理</h3>
    <h4>
        当前比赛状态:
        {% if game.year.active %}
            {% if game.game_status == 1 %}
                参赛报名
            {% elif game.game_status == 2 %}
                正在比赛
            {% elif game.game_status == 3 %}
                成绩登记
            {% endif %}
        {% else %}
            当前赛程未激活！
        {% endif %}
    </h4>
    <form id="game_update" method="post">
        {% csrf_token %}
        {% if game.game_status == 1 %}
            <input type="hidden" name="game_status" value="1">
        {% elif game.game_status == 2 %}
            <input type="hidden" name="game_status" value="2">
        {% elif game.game_status == 3 %}
            <input type="hidden" name="game_status" value="3">
        {% endif %}
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th>{% trans 'Serial Number' %}</th>
                <th>{% trans 'Horse' %}</th>
                <th>{% trans 'Horseman' %}</th>
                <th>{% trans 'Member' %}</th>

                <th>{% trans 'Group Number' %}</th>
                <th>{% trans 'Starting Gate Number' %}</th>

                {% if game.game_status != 1 %}
                    <th>耗时</th>
                    <th>是否合规</th>
                    <th>不合规原因</th>
                {% endif %}

                {% if game.game_status == 3 %}
                    <th>排名</th>
                {% endif %}

                {% if game.game_status == 3 %}
                    <th>{% trans 'Prize' %}</th>
                {% endif %}

                <th>{% trans 'Published' %}</th>
                <th>{% trans 'Paid' %}</th>
            </tr>
            </thead>
            <tbody>

            {% for item in enrollment_detail_list %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ item.horse }}
                    </td>
                    <td>
                        {{ item.horseman }}
                    </td>
                    <td>
                        <a href="/racing/enrollment_admin/member_game/{{ item.enrollment.member.user.user.id }}/">
                            {{ item.enrollment }}
                        </a>
                    </td>
                    <!-- 组号 -->
                    <td>
                        {% if game.game_status == 1 and item.enrollment.fare_paid %}
                            <input type="number" required min="1" max="10" id="group_{{ item.id }}"
                                   size="2" maxlength="2"
                                   name="group_{{ item.id }}" value="{{ item.group_no }}"
                                   onchange="javascript:if(this.value>{{ max_group_no }}||this.value<=0)this.value=1;">
                        {% elif game.game_status == 1 and not item.enrollment.fare_paid %}
                            <input type="number" required min="0" max="10" id="group_{{ item.id }}" name="group_{{ item.id }}"
                                   size="2" maxlength="2" readonly value="0">
                        {% else %}
                            {{ item.group_no }}
                        {% endif %}
                    </td>
                    <!-- 马闸号 -->
                    <td>
                        {% if game.game_status == 1 and item.enrollment.fare_paid %}
                            <input type="number" required class="gate_no" min="1" onblur="verifyvalue(this.value,this.id)"
                                   max="14" id="gate_{{ item.id }}"
                                   size="2" maxlength="2"
                                   name="gate_{{ item.id }}" value="{{ item.starting_gate_no }}">
                        {% elif game.game_status == 1 and not item.enrollment.fare_paid %}
                            <input type="number" required min="0" max="14" id="gate_{{ item.id }}" name="gate_{{ item.id }}"
                                   size="2" maxlength="2" readonly value="0">
                        {% else %}
                            {{ item.starting_gate_no }}
                        {% endif %}
                    </td>
                    <!-- 耗时，是否合规，不合规原因 -->
                    {% if game.game_status != 1 and item.enrollment.fare_paid %}
                        <td>
                            <input type="number" required min="1" max="86400" id="time_{{ item.id }}" size="6" maxlength="6"
                                   name="time_{{ item.id }}" value="{{ item.time_limit }}">
                            秒
                        </td>
                        <td>
                            {% if item.is_valided %}
                                <input type="checkbox" checked id="valid_{{ item.id }}" name="valid_{{ item.id }}"/>
                            {% else %}
                                <input type="checkbox" id="valid_{{ item.id }}" name="valid_{{ item.id }}"/>
                            {% endif %}
                        </td>
                        <td>
                            <input type="text" id="reason_{{ item.id }}"
                                   name="reason_{{ item.id }}" value="{{ item.not_valid_reason|default_if_none:"" }}">
                        </td>
                    {% elif game.game_status != 1 and not item.enrollment.fare_paid %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}

                    {% if game.game_status == 3 and item.get_rank != -1%}
                        <td>{{ item.get_rank }}</td>
                        {% elif game.game_status == 3 %}
                        <td>名次无效</td>
                    {% endif %}

                    {% if game.game_status == 3 %}
                    <td>{{ item.get_prize_num }}</td>
                    {% endif %}
                    <!-- 是否公布 -->
                    <td>
                        {% if item.published and item.enrollment.fare_paid %}
                            <input type="checkbox" checked id="pub_{{ item.id }}" name="pub_{{ item.id }}"/>
                        {% elif item.enrollment.fare_paid %}
                            <input type="checkbox" id="pub_{{ item.id }}" name="pub_{{ item.id }}"/>
                        {% endif %}
                    </td>
                    <!-- 是否支付 -->
                    <td>
                        {% if item.enrollment.fare_paid %}
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        {% endif %}
                    </td>
                <tr>
            {% endfor %}

            </tbody>
        </table>

        <br>

        <div style="width: 100%;text-align: center;">
            {% if enrollment_detail_list|length != 0  and game.year.active %}
                <button type="submit" class="btn btn-primary">
                    {% if game.game_status == 1 %}
                        修改组号与闸号，并设定比赛为开赛状态
                    {% else %}
                        更新比赛成绩
                    {% endif %}
                </button>
                {% if game.game_status == 2 %}
                    <a href="javascript:if(confirm('确认修改当前状态?'))location.href='{% url 'game_back_to_not_start' game.id %}';"
                       class="btn btn-primary">设定为未开赛状态
                    </a>
                {% elif game.game_status == 3 %}
                    <a href="javascript:if(confirm('确认修改当前状态?'))location.href='{% url 'game_back_to_start' game.id %}';"
                       class="btn btn-primary">设定为开赛状态
                    </a>
                {% endif %}

            {% elif enrollment_detail_list.count != 0 and not game.year.active %}

            {% elif not game.year.active %}
                <h3>不具备修改条件！</h3>
            {% else %}
                <h3>当前还没有报名信息！</h3>
            {% endif %}

        </div>

    </form>
    <br>
{% endblock %}