{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Regulation" %}
{% endblock %}


{% block content %}
    <h3>{% trans "Regulation" %}</h3>
    {% has_perm 'permission.application_user' user '天马赛事' as is_application_user %}
    {% has_perm 'racing.admin' user as is_admin %}
    {% if is_application_user and is_admin %}
        <a href="{% url "game_manage_update" object.id %}"
           class="btn btn-warning">{% trans 'Update Equestrian Events' %}</a>
        <a href="{% url "game_manage_delete" object.id %}"
           class="btn btn-danger">{% trans 'Delete Equestrian Events' %}</a>
        <a href="{% url "game_manage_list" %}" class="btn btn-success">{% trans 'Back to Equestrian Events List' %}</a>
    {% endif %}
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "Game" %}</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>{% trans "Fare Rate" %}</td>
            <td>{{ object.fare_rate }}</td>
        </tr>
        <tr>
            <td>{% trans "Game Day" %}</td>
            <td>{{ object.game_day }}</td>
        </tr>
        <tr>
            <td>{% trans "Horse Type" %}</td>
            <td>{{ object.horse_type }}</td>
        </tr>
        <tr>
            <td>{% trans "Referee" %}</td>
            <td>{{ object.get_referees }}</td>
        </tr>
        <tr>
            <td>{% trans "Racing Horse Limit" %}</td>
            <td>{{ object.racing_horse_limit }}</td>
        </tr>
        <tr>
            <td>{% trans "Backup Horse Limit" %}</td>
            <td>{{ object.backup_horse_limit }}</td>
        </tr>
        <tr>
            <td>{% trans "Horse Birthday Begin" %}</td>
            <td>{{ object.horse_birthday_begin }}</td>
        </tr>
        <tr>
            <td>{% trans "Horse Birthday End" %}</td>
            <td>{{ object.horse_birthday_end }}</td>
        </tr>
        <tr>
            <td>{% trans "Time" %}</td>
            <td>{{ object.time }}</td>
        </tr>
        <tr>
            <td>{% trans "Prize" %}</td>
            <td>{{ object.prize }}</td>
        </tr>
        <tr>
            <td>{% trans "Prize Comment" %}</td>
            {% autoescape off %}
                <td>
                    {{ object.get_prize_comment|safe }}
                </td>
                {% endautoescape %}
        </tr>
        <tr>
            <td>{% trans "Game Year" %}</td>
            <td>{{ object.year }}</td>
        </tr>
        <tr>
            <td>{% trans "Active Game" %}</td>
            <td>
                {% if object.active %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {% if is_application_user and is_admin %}
        <a href="{% url "game_manage_update" object.id %}"
           class="btn btn-warning">{% trans 'Update Equestrian Events' %}</a>
        <a href="{% url "game_manage_delete" object.id %}"
           class="btn btn-danger">{% trans 'Delete Equestrian Events' %}</a>
        <a href="{% url "game_manage_list" %}" class="btn btn-success">{% trans 'Back to Equestrian Events List' %}</a>
    {% endif %}
{% endblock %}
