{% load i18n %}
{% load bootstrap3 %}


<script>
    $(function () {
        $("#id_referees").attr({"data-toggle":"tooltip",
            "data-placement":"bottom","title":"按住 'Control'键，或者Mac上的'Command'键选择和取消！"});
        $("#id_referees").tooltip('toggle');

    })
</script>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    <a href="{% url "game_manage_list" %}" class="btn btn-success">{% trans 'Cancel' %}</a>
</form>
