{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Equestrian Events List" %}
{% endblock %}


{% block content %}
    <h3>{{ regulation.name }}-{% trans 'Equestrian Events' %}</h3>
    <a href="{% url "game_manage_create" %}" class="btn btn-primary">{% trans 'Create Equestrian Events' %}</a>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Game' %}</th>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Game Day' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Prize' %}</th>
            <th>{% trans 'Prize Comment' %}</th>
            <th>{% trans 'Active Game' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% if object.year.id == regulation.id %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    <a href="{% url 'game_manage_detail' object.id %}"> {{ object.name|safe }} </a>
                </td>
                <td>
                    {{ object.year|safe }}
                </td>
                <td>
                    {{ object.game_day|safe }}
                </td>
                <td>
                    {{ object.horse_type|safe }}
                </td>
                <td>
                    {{ object.time|safe }}
                </td>
                <td>
                    {{ object.prize|safe }}
                </td>
                {% autoescape off %}
                <td>
                    {{ object.get_prize_comment|safe }}
                </td>
                {% endautoescape %}
                <td>
                    {% if object.active %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'group_gate_change' object.id %}">比赛管理</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url "game_manage_create" %}" class="btn btn-primary">{% trans 'Create Equestrian Events' %}</a>
    <hr>
    <h3>以往比赛项目记录</h3>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Game' %}</th>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Game Day' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Prize' %}</th>
            <th>{% trans 'Prize Comment' %}</th>
            <th>{% trans 'Active Game' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% if object.year.id != regulation.id %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    <a href="{% url 'game_manage_detail' object.id %}"> {{ object.name|safe }} </a>
                </td>
                <td>
                    {{ object.year|safe }}
                </td>
                <td>
                    {{ object.game_day|safe }}
                </td>
                <td>
                    {{ object.horse_type|safe }}
                </td>
                <td>
                    {{ object.time|safe }}
                </td>
                <td>
                    {{ object.prize|safe }}
                </td>
                {% autoescape off %}
                <td>
                    {{ object.get_prize_comment|safe }}
                </td>
                {% endautoescape %}
                <td>
                    {% if object.active %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'group_gate_change' object.id %}">比赛管理</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
