{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Create Equestrian Events" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/racing_datetimepicker.js' %}"></script>
    <script src="{% static 'racing/js/webpage_close_notify.js' %}"></script>
    <script src="{% static 'racing/js/prize_comment_detection.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>{% trans "Create Equestrian Events" %}</h3>
    {% include "racing/game/game_manage_form.html" %}
{% endblock %}
