{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Judge Game" %}
{% endblock %}

{% block head_js %}

    <script src="{% static 'racing/js/racing_game.js' %}"></script>

    <script>

        maxlength={{ object_list|length }};

        //检验排名是否存在
        function verifyvalue(value,id) {
            var rankings = document.getElementsByClassName("ranking");

            var vlist=[];
            var i;

            for (i = 0; i < rankings.length; i++) {
                //去掉空的排名和当前排名
                if(rankings[i].id != id && rankings[i].value!=""){
                    vlist.push(rankings[i].value);
                }
            }

            if(vlist.find(checkResult)!=undefined){
                alert("该排名已经存在！");
                document.getElementById(id).value="";
            }

            //检验数据 是否能找到，相同的数字
            function checkResult(val) {
                return val == value;
            }
        }

    </script>

{% endblock %}

{% block content %}
    <form id="rakingform" method="post" action="{% url 'judge_game' game.id %}">
        {% csrf_token %}
        <h3>{{ game.name }}-{% trans 'Judge Game' %}</h3>
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th>{% trans 'Serial Number' %}</th>
                <th>{% trans 'Group Number' %}</th>
                <th>{% trans 'Starting Gate Number' %}</th>
                <th>{% trans 'Game Year' %}</th>
                <th>{% trans 'Game Day' %}</th>
                <th>{% trans 'Horse Type' %}</th>
                <th>{% trans 'Time' %}</th>
                <th>{% trans "Horse" %}</th>
                <th>{% trans "Horseman" %}</th>
                <th>{% trans "Team" %}</th>
                <th>{% trans 'Ranking' %}</th>
                <th>{% trans 'Published' %}</th>
            </tr>
            </thead>
            <tbody>

            {% for object in object_list %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ object.group_no }}
                    </td>
                    <td>
                        {{ object.starting_gate_no }}
                    </td>
                    <td>
                        {{ game.year|safe }}
                    </td>
                    <td>
                        {{ game.game_day|safe }}
                    </td>
                    <td>
                        {{ game.horse_type|safe }}
                    </td>
                    <td>
                        {{ game.time|safe }}
                    </td>
                    <td>{{ object.horse }}</td>
                    <td>{{ object.horseman }}</td>
                    <td>{{ object.enrollment.member }}</td>
                    <td>
                        <input type="tel" class="ranking" min="1" max="{{ object_list|length }}"
                               id="{{ object.id }}" size="2" maxlength="2"
                               name="{{ object.id }}"

                               {% if object.ranking == 0  %}
                                    value=""
                               {% else %}
                                    value="{{ object.ranking }}"
                               {% endif %}

                               onblur="verifyvalue(this.value,this.id);">
                    </td>
                    <td>
                        {% if object.published == 1 %}
                            <input type="checkbox" checked id="p{{ object.id }}" name="p{{ object.id }}"/>
                        {% else %}
                            <input type="checkbox" id="p{{ object.id }}" name="p{{ object.id }}"/>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <br>

        <div style="width: 100%;text-align: center;">
            {% if object_list.count != 0 %}
                <button type="submit" class="btn btn-primary">更新</button>
            {% else %}
                <h3>当前比赛不具备上报成绩的条件</h3>
            {% endif %}
        </div>

    </form>
{% endblock %}