{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Judge Game List" %}
{% endblock %}

{% block head_js %}

    <script src="{% static 'racing/js/racing_game.js' %}"></script>

{% endblock %}


{% block content %}
    <h3>{{ regulation.name }}-{% trans 'My Judge Games' %}</h3>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Game' %}</th>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Game Day' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {{ object.id|safe }}
                </td>
                <td>
                    {{ object.name|safe }}
                </td>
                <td>
                    {{ object.year|safe }}
                </td>
                <td>
                    {{ object.game_day|safe }}
                </td>
                <td>
                    {{ object.horse_type|safe }}
                </td>
                <td>
                    {{ object.time|safe }}
                </td>
                <td>

                        <a href="/racing/judge_game/{{ object.id }}">填写比赛成绩</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}