/* 图像加载完成后，显示加载指示器 */
.cropit-preview.cropit-image-loading .spinner {
    opacity: 1;
}

.cropit-preview {
    background-color: #006600;
    background-size: cover;
    border: 1px solid #aa0000;
    border-radius: 3px;
    margin-top: 0px;
    width: 486px;
    height: 306px;
}

.controls-wrapper {
    margin-top: 10px;
}

.icon {
    padding: 5px;
}

.side-by-side {
    float: left;
}

.zoom-bar {
    width: 354px;
}

.large-image {
    font-size: 1.5em;
}

.rotation-btns {
    margin-top: -3px;
}

.small-logo {
    margin-top: -3px;
}

.large-logo {
    margin-top: -6px;
}

/* 图像加载完成后，则鼠标显示为移动光标、 */
.cropit-preview.cropit-image-loaded .cropit-preview-image-container {
    cursor: move;
}

/* 如果图像不能再放大，则灰化放大滑条 */
.cropit-image-zoom-input[disabled] {
    opacity: .2;
}

/* 如果您想使用在自己的按钮，则隐藏缺省的图像文件选择按钮 */
input.cropit-image-input {
    visibility: hidden;
}

/* 启用背景图像后，下列样式才会发挥作用 */

/* 背景图像透明度 */
.cropit-preview-background {
    opacity: .2;
}

/* 如果滑条和其它控件被背景图像覆盖，则对它们使用非静态位置 */
input.cropit-image-zoom-input {
    position: relative;
}

/* 添加overflow: hidden来限制背景图像 */
#image-cropper {
    overflow: hidden;
}

.horizontal-center {
    display: table;
    margin: 0 auto;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf?penqtf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
    content: "\e900";
}

.icon-box-add:before {
    content: "\e901";
}

.icon-github:before {
    content: "\e902";
}

.icon-rotate-right:before {
    content: "\f01e";
}

.icon-rotate-left:before {
    content: "\f0e2";
}

.submit-button {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
}


.btns .select-image-btn {
    background: #52a0c7;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 2px #3784aa;
    box-shadow: 0 2px #3784aa;
}

.btns .select-image-btn:active, .btns .select-image-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}

.btns .download-btn, .btns .download-btn {
    background: #cf754f;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 2px #b45831;
    box-shadow: 0 2px #b45831;
}

.btns .download-btn:active, .btns .download-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}
.certificate-result{
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

label{
    margin-bottom: 0px;
}
.form-group{
    margin-bottom: 5px;
}

.invisible-input{
    display: none;
}
