/** 导航栏背景及边框 **/
.navbar {
    background-color: #006400;
    border-radius: 0;
    border: 0;
}

/*****************************************************************************************
  功能：响应式navbar-brand image CSS
  调整navbar-brand padding：1、让logo图片的有更多的显示区域；2、解决firefox bug
  添加100% height和width auto：作用类似bootstrap img-responsive class，使得logo图片大小自适应
  增加brand-name padding：让网站名称居中显示
*****************************************************************************************/
.navbar-brand {
    padding: 4px;
}

.navbar-brand > img {
    height: 100%;
    padding-top: 4px;
    color: #000000;
    width: auto;
}
.brand-name {
    padding: 15px;
}

.brand-name p {
    color: #fff;
}

.brand-name p:hover {
    color: #000;
}

/** 导航栏菜单、按钮 **/
@media screen and (min-width: 768px){
    #nav-list a {
        color: #fff;
        text-align: right;
    }
}

@media screen and (max-width: 767px){
    #nav-list a {
        color: #fff;
        text-align: center;
    }
}

#rightli a{
    text-align: center;
}

#rightul a{
    text-align: center;
}

#nav-list a:hover {
    background: #979797;
}

#nav-list a:active {
    background: #61122f;
}

.actived {
    background: #FAFFFA;
}

#nav-list > li.actived > a {
    color: #61122f;
}

/**列表**/
#list_title {
    text-align: center;
    background: #006400
}

#list_title a{
    color: #fff;
    font-weight:500;
}

/* 导航栏下拉菜单背景颜色, 与导航栏背景颜色相同 */
.dropdown-menu {
    background-color: #006400;
}

/* 导航栏下拉菜单背景颜色, 与导航栏背景颜色相同，手机模式 */
.navbar-right > li {
    background-color: #006400;
}

.navbar-left > li {
    background-color: #006400;
}

/*主页面中间内容*/
#main-content{
    padding-bottom: 15px;
}