{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Cart" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h4>{{ regulation.name }}-{% trans 'Cart' %}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 pull-right">
            {% include 'racing/ticket/ticket_shop_title_bar.html' %}
        </div>
    </div>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Ticket Image" %}</th>
            <th>{% trans "Game Day" %}</th>
            <th>{% trans "Ticket Type" %}</th>
            <th>{% trans "Ticket Quantity" %}</th>
            <th>{% trans "Remove Ticket" %}</th>
            <th>{% trans "Ticket Unit Price" %}</th>
            <th>{% trans "Ticket Total Price" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img width="80px" src="{{ product.image.url }}">
                        </a>
                    </td>
                    <td>{{ product.game_day }}</td>
                    <td>{{ product.get_ticket_type_display }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id %}">{% trans "Remove Ticket" %}</a></td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td colspan="5"></td>
            <td>{% trans "Cart Total Price" %}</td>
            <td>{{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="horizontal-right">
        <a href="{% url "ticket" %}" class="btn btn-primary">{% trans 'Continue shopping' %}</a>
        {% for item in cart %}
            {% if forloop.counter0 == 0 %}
            <a href="{% url "order_create" %}" class="btn btn-primary">{% trans 'Place order' %}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
