{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Cart" %}
{% endblock %}

{% block content %}

    <div class="col-md-12 horizontal-center">
        <h3>{% trans 'My Ticket' %}</h3>
        <h5 style="color: red;">{% trans 'Please show to teller' %}</h5>
    </div>

    <div class="col-md-12 horizontal-center">
        {% if has_ticket == 1 %}
            <img width="200px" height="200px" src="{% url 'ticket_qrcode' %}">
        {% else %}
            <h3><a href="/racing/ticket"> 没有购票信息，请前往购票！</a></h3>
        {% endif %}
    </div>

    <div class="horizontal-center">
        <a href="{% url "ticket_qrcode_page" %}" class="btn btn-primary">
            {% trans 'Update Ticket Qrcode' %}
        </a>
    </div>

{% endblock %}
