{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Order" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h4>{{ regulation.name }}-{% trans 'Order' %}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 pull-right">
            {% include 'racing/ticket/ticket_shop_title_bar.html' %}
        </div>
    </div>
    <br>
    <div class="horizontal-right">
        <h5>
            {% trans "Total Ticket" %}：{{ total_item }}{% trans "Tickets" %}，{% trans "Total Amount" %}：{{ total_amount }}（{% trans "Yuan" %}）
        </h5>
    </div>
    {% if orders.count == 0 %}
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th class="horizontal-center">{% trans "Order Total Ticket" %}</th>
                <th>{% trans "Adult Ticket" %}</th>
                <th>{% trans "Children Ticket" %}</th>
                <th>{% trans "Order Total" %}</th>
                <th>{% trans "Order Created " %}</th>
                <th>{% trans "Operation" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td colspan="5">{% trans "There is no any order right now!" %}</td>
            </tr>
            </tbody>
        </table>
        <br>
    {% else %}
        {% for order in orders %}
            <table class="ptable ptable-rounded">
                <thead>
                <tr>
                    <th class="horizontal-center">{% trans "Order Total Ticket" %}</th>
                    <th>{% trans "Adult Ticket" %}</th>
                    <th>{% trans "Children Ticket" %}</th>
                    <th>{% trans "Order Total" %}</th>
                    <th>{% trans "Order Created " %}</th>
                    <th>{% trans "Operation" %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="horizontal-center">{{ order.get_unpaid_items }}</td>
                    <td>{{ order.get_adult_unpaid_items }}</td>
                    <td>{{ order.get_children_unpaid_items }}</td>
                    <td>{{ order.get_total_cost }}</td>
                    <td>{{ order.created }}</td>
                    <td><a href="{% url "order_remove" order.id %}">{% trans "Remove Order" %}</a></td>
                </tr>
                </tbody>
            </table>
            <table class="ptable">
                <tr>
                    <td>{% trans "Game Day" %}</td>
                    <td>{% trans "Ticket Type" %}</td>
                    <td>{% trans "Ticket Quantity" %}</td>
                    <td>{% trans "Ticket Unit Price" %}</td>
                    <td>{% trans "Ticket Total Price" %}</td>
                </tr>
                <tbody>
                {% for item in order.orderdetail_set.all %}
                    <tr>
                        <td>{{ item.product.game_day }}</td>
                        <td>{{ item.product.get_ticket_type_display }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.get_cost }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
    <div class="horizontal-right">
        <h5>
            {% trans "Total Ticket" %}：{{ total_item }}{% trans "Tickets" %}，{% trans "Total Amount" %}：{{ total_amount }}（{% trans "Yuan" %}）
        </h5>
    </div>
    <div class="horizontal-right">
        <a href="{% url "ticket" %}" class="btn btn-primary">{% trans 'Continue shopping' %}</a>
        {% for item in orders %}
            {% if forloop.last %}
            <a href="payment_create" class="btn btn-primary">{% trans 'Check' %}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
