{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "My Purchased" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h4>{{ regulation.name }}-{% trans 'My Purchased' %}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 pull-right">
            {% include 'racing/ticket/ticket_shop_title_bar.html' %}
        </div>
    </div>
    <br>
    <div class="horizontal-right">
        <h5>
            {% trans "Total Ticket" %}：{{ total_item }}{% trans "Tickets" %}，{% trans "Total Amount" %}：{{ total_amount }}（{% trans "Yuan" %}）
        </h5>
    </div>
    {% if alipays.count == 0 %}
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th class="horizontal-center">{% trans "Payment ID" %}</th>
                <th>{% trans "Payment Subject" %}</th>
                <th>{% trans "Payment Item" %}</th>
                <th>{% trans "Payment Amount" %}</th>
                <th>{% trans "Payment Create Time" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td colspan="6">{% trans "There is no paid transaction right now!" %}</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        {% for alipay in alipays %}
            <table class="ptable ptable-rounded">
                <thead>
                <tr>
                    <th class="horizontal-center">{% trans "Payment ID" %}</th>
                    <th>{% trans "Payment Subject" %}</th>
                    <th>{% trans "Payment Item" %}</th>
                    <th>{% trans "Payment Amount" %}</th>
                    <th>{% trans "Payment Paid Time" %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="horizontal-center">{{ alipay.id }}</td>
                    <td>{{ alipay.subject }}</td>
                    <td>{{ alipay.total_item }}</td>
                    <td>{{ alipay.total_amount }}</td>
                    <td>{{ alipay.paid_time }}</td>
                </tr>
                </tbody>
            </table>
            <table class="ptable">
                <tr>
                    <td>{% trans "Regulation" %}</td>
                    <td>{% trans "Game Day" %}</td>
                    <td>{% trans "Ticket Type" %}</td>
                    <td>{% trans "Ticket Quantity" %}</td>
                    <td>{% trans "Ticket Unit Price" %}</td>
                    <td>{% trans "Ticket Total Price" %}</td>
                    <td>是否已使用</td>
                </tr>
                <tbody>

                {% for item in alipay.get_orders %}
                    <tr>
                        <td>{{ item.product.game_day.year.year }}{% trans "Regulation" %}</td>
                        <td>{{ item.product.game_day }}</td>
                        <td>{{ item.product.get_ticket_type_display }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.get_cost }}</td>
                        {% if item.isused == 0 %}
                            <td>未使用</td>
                        {% else %}
                            <td>已使用</td>
                        {% endif %}

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endfor %}
    {% endif %}
    <br>

    <div class="horizontal-center">
        <a href="{% url "ticket_qrcode_page" %}" class="btn btn-primary">{% trans 'Show Ticket Qrcode' %}</a>
        <a href="{% url "ticket" %}" class="btn btn-primary">{% trans 'Continue shopping' %}</a>
    </div>


{% endblock %}