{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Waiting Payment" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h4>{{ regulation.name }}-{% trans 'Waiting Payment' %}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 pull-right">
            {% include 'racing/ticket/ticket_shop_title_bar.html' %}
        </div>
    </div>
    <br>
    <div class="horizontal-right">
        <h5>
            {% trans "Total Ticket" %}：{{ total_item }}{% trans "Tickets" %}，{% trans "Total Amount" %}：{{ total_amount }}（{% trans "Yuan" %}）
        </h5>
    </div>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th class="horizontal-center">{% trans "Payment ID" %}</th>
            <th>{% trans "Payment Subject" %}</th>
            <th>{% trans "Payment Item" %}</th>
            <th>{% trans "Payment Amount" %}</th>
            <th>{% trans "Payment Create Time" %}</th>
            <th>{% trans "Delete" %}</th>
            <th>{% trans "Pay" %}</th>
        </tr>
        </thead>
        <tbody>


        {% if alipays.count == 0 %}

            <td></td>
            <td colspan="6">{% trans "There is no payment right now!" %}</td>
            </tr>
        {% else %}
            {% for alipay in alipays %}
                <tr>
                    <td class="horizontal-center">{{ alipay.id }}</td>
                    <td>{{ alipay.subject }}</td>
                    <td>{{ alipay.total_item }}</td>
                    <td>{{ alipay.total_amount }}</td>
                    <td>{{ alipay.created }}</td>
                    <td><a href="{% url 'payment_remove' alipay.id %}"
                           class="btn btn-danger">{% trans "Remove Payment" %}</a></td>
                    <td><a href="{% url 'alipay' alipay.id %}" class="btn btn-success">{% trans "Pay" %}</a></td>
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
    <br>
    <div class="horizontal-center">
        <a href="{% url "ticket" %}" class="btn btn-primary">{% trans 'Continue shopping' %}</a>
    </div>
{% endblock %}
