{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Ticket" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h4>{{ regulation.name }}-{% trans 'Ticket Shop' %}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 pull-right">
            {% include 'racing/ticket/ticket_shop_title_bar.html' %}
        </div>
    </div>

    <div class="row">
        {% for product in products %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ticket-photo-margin-top">
                <a href="{% url 'ticket_detail' product.id %}">
                    <div class="ticket-photo">
                        <img src="{{ product.image.url }} ">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
