{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Notice" %}
{% endblock %}

{% block head_js %}
    <script>
        {% autoescape off %}
        var notice = "{{ notice }}";
        var url = "{{ url }}";
        {% endautoescape %}
        $(function () {
            $("#motice_Modal").modal("show");
            $(".modal-body").html(notice);

        })
        function back_up(){
                location.href=url;
        }
    </script>

{% endblock %}


{% block content %}

<!-- 模态框（Modal） -->
<div class="modal fade" id="motice_Modal" tabindex="-1" role="dialog" aria-labelledby="motice_ModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="motice_ModalLabel">提示信息</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  onclick="back_up()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% endblock %}
