{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Ticket" %}
{% endblock %}
{% block head_js %}
    <script src="{% static 'racing/js/racing_ticket.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h4>{{ regulation.name }}-{% trans 'Ticket' %}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 pull-right">
            {% include 'racing/ticket/ticket_shop_title_bar.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ticket-photo-margin-top">
            <img class="img-responsive" src="{{ product.image.url }} ">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ticket-photo-margin-top">
            <table class="ptable ptable-rounded">
                <thead>
                <tr>
                    <th class="horizontal-left">{% trans "Ticket Information" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% trans "Ticket Name" %}</td>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <td>{% trans "Game Day" %}</td>
                    <td>{{ product.game_day }}</td>
                </tr>
                </tr>
                <tr>
                    <td>{% trans "Ticket Type" %}</td>
                    <td>{{ product.get_ticket_type_display }}</td>
                </tr>
                <tr>
                    <td>{% trans "Ticket Stock" %}</td>
                    <td>{{ product.stock }}</td>
                </tr>
                <tr>
                    <td>{% trans "Ticket Description" %}</td>
                    <td>{{ product.description }}</td>
                </tr>

                <tr>
                    <td>{% trans "Venue" %}</td>
                    <td>{{ product.game_day.year.venue }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
            <table class="ptable ptable-rounded" id="ticket-item">
                <thead>
                <tr>
                    <th class="horizontal-center">{% trans "Quantity" %}</th>
                    <th>{% trans "Ticket Price" %}</th>
                    <th>{% trans "Ticket Total" %}</th>
                    <th>{% trans "Operation" %}</th>
                </tr>
                </thead>
                <tr>
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {% csrf_token %}
                        <td>
                            <input id="quantity" name="quantity" onchange="update_total(this.value);" class="horizontal-center" size="8"
                                   type="number" min="1" max="50"
                                   step="1" value="1"/>
                        </td>
                        <td>
                            <input id="price" class="horizontal-center" size="8" readonly="readonly"
                                   value="{{ product.price }}"/>
                        </td>
                        <td><input id="total" class="horizontal-center" size="8" readonly="readonly"
                                   value="{{ product.price }}"/></td>
                        <td>
                            <button type="submit" class="btn btn-primary"
                                    data-url="">
                                <span class="glyphicon glyphicon-shopping-cart">{% trans "Add to Cart" %}</span>
                            </button>
                        </td>


                    </form>
                </tr>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
