{% load i18n %}
{% load static %}

<ul class="nav nav-pills">
    <li role="presentation"><a href="{% url "ticket" %}">{% trans "Ticket Shop" %}</a></li>
    <li role="presentation">
        <a href="{% url "cart:cart_detail" %}">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    <span class="glyphicon glyphicon-shopping-cart"></span><span class="red">{{ total_items }}</span>
                {% else %}
                    <span class="glyphicon glyphicon-shopping-cart"></span><span class="green">0</span>
                {% endif %}
            {% endwith %}
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'order' %}">{% trans "Order" %}
            {% if unchecked_items == 0 %}
                <span class="green">{{ unchecked_items }}</span>
            {% else %}
                <span class="red">{{ unchecked_items }}</span>
            {% endif %}
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'payment' %}">{% trans "Waiting Payment" %}
            {% if unpaid_items == 0 %}
                <span class="green">{{ unpaid_items }}</span>
            {% else %}
                <span class="red">{{ unpaid_items }}</span>
            {% endif %}
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'paid' %}">{% trans "Purchased" %}
            {% if paid_items == 0 %}
                <span class="green">{{ paid_items }}</span>
            {% else %}
                <span class="red">{{ paid_items }}</span>
            {% endif %}
        </a>
    </li>
</ul>
