{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Game Enrollment" %}
{% endblock %}
{% block head_js %}
    <script src="{% static 'racing/js/racing_enrollment.js' %}"></script>

    <script type="text/javascript">
        var all_fare = {{ enrollment.get_all_racing_fare }};
        function confirmPayment(eid) {
            var r = confirm("总费用" + all_fare + "元，确认对方已支付？");
            if (r == true) {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    url: "/racing/enrollment_confirmpayment/" + eid,
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        if (data.status == 1) {
                            location.reload();
                        } else {
                            alert("确认失败！")
                        }
                    }
                });
            }
            else {
                x = "你按下了\"取消\"按钮!";
                alert(x);
            }

        }
    </script>

{% endblock %}

{% block content %}

    <h3>【{{ enrollment.member }}】{% trans "Game Enrollment" %}</h3>
    <hr>
    <h4>{% trans "Enrollment Summary" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Team' %}</th>
            <th>{% trans 'Discipline Number' %}</th>
            <th>{% trans 'Horse Number' %}</th>
            <th>{% trans 'Horseman Number' %}</th>
            <th>{% trans 'Racing Fare' %}</th>
            <th class="horizontal-center">{% trans 'Enrollment Fixed' %}</th>
            <th class="horizontal-center">{% trans 'Enrollment Qualified' %}</th>
            <th class="horizontal-center">{% trans 'Racing Fare Paid' %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ enrollment.year }}</td>
            <td>{{ enrollment.member }}</td>
            <td>{{ enrollment.discipline_number }}</td>
            <td>{{ enrollment.horse_number }}</td>
            <td>{{ enrollment.horseman_number }}</td>
            <td>{{ enrollment.fare }}</td>

            <td class="horizontal-center">
                {% if enrollment.enrollment_fixed %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
            <td class="horizontal-center">
                {% if enrollment.qualified %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
            <td class="horizontal-center">
                {% if enrollment.fare_paid %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>

        </tr>
        </tbody>
    </table>
    <h4>{% trans "Enrollment Detail" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Game' %}</th>
            <th>{% trans 'Horse' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Horseman' %}</th>
            <th>{% trans 'Group Number' %}</th>
            <th>{% trans 'Starting Gate Number' %}</th>
            <th>{% trans 'Racing Fare' %}</th>
        </tr>
        </thead>
        <tbody>
        {% if enrollment.enrollmentdetail_set.all.count > 0 %}
            {% for enrollment_detail in enrollment.enrollmentdetail_set.all %}
                <tr>
                    <td>{{ enrollment_detail.game }}</td>
                    <td>{{ enrollment_detail.horse }}</td>
                    <td>{{ enrollment_detail.horse.horse_type }}</td>
                    <td>{{ enrollment_detail.get_type_display }}</td>
                    <td>{{ enrollment_detail.horseman }}</td>
                    <td>{{ enrollment_detail.group_no }}</td>
                    <td>{{ enrollment_detail.starting_gate_no }}</td>
                    <td>{{ enrollment_detail.fare }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td></td>
                <td colspan="8">
                    {% trans "There is no any game under your name!" %}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <br>

    <div align="right">
        <a href="{% url "enrollment_authorize" %}"
           class="btn btn-success">{% trans 'Back to enrollment authorize' %}</a>
    </div>
{% endblock %}
