{% load i18n %}
{% load rules %}

{% if object_list %}
    {% for object in object_list %}
        {% csrf_token %}
        <tr>
        <tr>
            <td>{{ object.year }}</td>
            <td><a href="{% url 'enrollment_authorize_detail' object.id %}">{{ object.member }}</a></td>
            <td>{{ object.discipline_number }}</td>
            <td>{{ object.horse_number }}</td>
            <td>{{ object.horseman_number }}</td>
            <td>{{ object.fare }}</td>
            <td class="horizontal-center">
                {% if object.enrollment_fixed %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
            <td class="horizontal-center">
                {% has_perm 'racing.can_qualify_enrollment' object.member.user.user object as can_qualify_enrollment %}
                {% if can_qualify_enrollment %}
                    <button type="button" class="btn btn-default js-update-enrollment-qualify"
                            data-url="{% url 'enrollment_authorize_update' object.id %}">
                        {% if object.qualified %}
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        {% endif %}
                    </button>
                {% else %}
                    {% if object.qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                {% endif %}
            </td>
            <td class="horizontal-center">

                {% if object.qualified and object.fare_paid == False %}
                    <button type="button" class="btn btn-default"
                            onclick="confirmPayment('{{ object.id }}',{{ object.get_all_racing_fare }});">
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    </button>
                {% elif object.qualified == False %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% elif object.qualified and object.fare_paid %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% endif %}

            </td>

        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td></td>
        <td colspan="8">
            {% trans "There is no any enrollment record right now!" %}
        </td>
    </tr>
{% endif %}
<script type="text/javascript">
    function confirmPayment(eid,all_fare) {
        var r = confirm("总费用" + all_fare + "元，确认对方已支付？");
        if (r == true) {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: "/racing/enrollment_confirmpayment/" + eid,
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    if (data.status == 1) {
                        location.reload();
                    } else {
                        alert("确认失败！")
                    }
                }
            });
        }
        else {
            x = "你按下了\"取消\"按钮!";
            alert(x);
        }

    }
</script>