{% extends "racing/bootstrap.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Horseman Apply" %}{% endblock %}

{% block inner-content %}
    <h1>{% trans "Horseman Apply" %}</h1>
    <hr>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit">{% trans 'Submit' %}</button>
    </form>
{% endblock %}
