{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Horseman Detail" %}
{% endblock %}


{% block content %}
    <h1>{% trans "Horseman Detail" %}</h1>
    <hr>
    <h4>{% trans "Account Information" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "Username" %}</td>
            <td>{{ object.user.user.username }}</td>
        </tr>
        <tr>
            <td>{% trans "Email" %}</td>
            <td>{{ object.user.user.email }}</td>
        </tr>
        </tbody>
    </table>

    <h4>{% trans "Horseman Information" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "Team" %}</td>
            <td>{{ object.member }}</td>
        </tr>
        <tr>
            <td>{% trans "Height" %}</td>
            <td>{{ object.height }}</td>
        </tr>
        <tr>
            <td>{% trans "Weight" %}</td>
            <td>{{ object.weight }}</td>
        </tr>
        <tr>
            <td>{% trans "Native Place" %}</td>
            <td>{{ object.native_place }}</td>
        </tr>
        <tr>
            <td>{% trans "Employer" %}</td>
            <td>{{ object.employer }}</td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">{% trans "Horseman Photo" %}</td>
        </tr>
        <tr>
            <td colspan="2">
                <img class="img-responsive img-rounded center-block" src="{{ object.horseman_photo.url }}">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">{% trans "Health Certificate Photo" %}</td>
        </tr>
        <tr>
            <td colspan="2">
                <img class="img-responsive img-rounded center-block" src="{{ object.health_certificate_photo.url }}">
            </td>
        </tr>
        <tr>
            <td>{% trans "Horseman Qualified" %}</td>
            <td>
                {% if object.qualified %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <h4>{% trans "Individual Certification Information" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "User Name" %}</td>
            <td>{{ object.user.userName }}</td>
        </tr>
        <tr>
            <td>{% trans "Gender" %}</td>
            <td>{{ object.user.gender }}</td>
        </tr>
        <tr>
            <td>{% trans "Ethnicity" %}</td>
            <td>{{ object.user.ethnicity }}</td>
        </tr>
        <tr>
            <td>{% trans "Birthday" %}</td>
            <td>{{ object.user.birthday }}</td>
        </tr>
        <tr>
            <td>{% trans "Identity" %}</td>
            <td>{{ object.user.identity }}</td>
        </tr>
        <tr>
            <td>{% trans "Address" %}</td>
            <td>{{ object.user.address }}</td>
        </tr>
        <tr>
            <td>{% trans "Mobile" %}</td>
            <td>{{ object.user.mobile }}</td>
        </tr>

        <tr>
            <td colspan="2" class="horizontal-center">{% trans "Identity Photo" %}</td>
        </tr>
        <tr>
            <td colspan="2">
                <img class="img-responsive img-rounded  center-block" src="{{ object.user.id_photo.url }}">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">{% trans "User Photo" %}</td>
        </tr>
        <tr>
            <td colspan="2">
                {% if object.user.user_photo  %}
                    <img class="img-responsive img-rounded  center-block" src="{{ object.user.user_photo.url }}">
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    {% if object.get_corporation %}
        <h4>{% trans "Corporation Certification Information" %}</h4>
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th>{% trans "Item" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% trans "Unified social credit code" %}</td>
                <td>{{ object.get_corporation.uscc }}</td>
            </tr>
            <tr>
                <td>{% trans "Corporation Name" %}</td>
                <td>{{ object.get_corporation.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Legal Representative" %}</td>
                <td>{{ object.get_corporation.legal_representative }}</td>
            </tr>
            <tr>
                <td>{% trans "Domicile" %}</td>
                <td>{{ object.get_corporation.domicile }}</td>
            </tr>
            <tr>
                <td class="horizontal-center" colspan="2">{% trans "Corporation Photo" %}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img class="img-responsive img-rounded center-block"
                         src="{{ object.get_corporation.corporation_photo.url }}">
                </td>
            </tr>
            <tr>
                <td class="horizontal-center" colspan="2">{% trans "Authorization Photo" %}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img class="img-responsive img-rounded center-block"
                         src="{{ object.user.authorization_photo.url }}">
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
