{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "My Horse List" %}
{% endblock %}


{% block content %}
    <h3>{% trans "My Horse List" %}</h3>
    <a href="{% url "enrollment_horse_owner_create" %}" class="btn btn-primary">{% trans 'Create Horse' %}</a>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Team' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Horse Name' %}</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Birthday' %}</th>
            <th>{% trans 'Breed' %}</th>
            <th>{% trans 'Horse Qualified' %}</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for object in object_list %}
                <tr>
                    <td>{{ object.year }}</td>
                    <td>{{ object.member }}</td>
                    <td>{{ object.horse_type }}</td>
                    <td><a href="{% url 'enrollment_horse_detail' object.id %}">{{ object.name }}</a></td>
                    <td>{{ object.get_gender_display }}</td>
                    <td>{{ object.birthday }}</td>
                    <td>{{ object.breed }}</td>
                    <td align="center">
                        {% if object.qualified %}
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td></td>
                <td colspan="7">
                    {% trans "There is no any horse under your name!" %}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
