{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Referee Detail" %}
{% endblock %}


{% block content %}
    <h1>{% trans "Referee Detail" %}</h1>
    <hr>
    <h4>{% trans "Account Information" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "Username" %}</td>
            <td>{{ object.user.user.username }}</td>
        </tr>
        <tr>
            <td>{% trans "Email" %}</td>
            <td>{{ object.user.user.email }}</td>
        </tr>
        </tbody>
    </table>

    <h4>{% trans "Referee Information" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <td>{% trans "Referee Qualified" %}</td>
        <td>
            {% if object.referee_qualified %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <tr>
            <td>{% trans "Referee History" %}</td>
            <td>{{ object.referee_history|safe|linebreaksbr }}</td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">{% trans "Referee Licence" %}</td>
        </tr>
        <tr>
            <td colspan="2">
                <img class="img-responsive img-rounded center-block" src="{{ object.referee_licence.url }}">
            </td>
        </tr>
        </tbody>
    </table>

    <h4>{% trans "Individual Certification Information" %}</h4>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "User Name" %}</td>
            <td>{{ object.user.userName }}</td>
        </tr>
        <tr>
            <td>{% trans "Gender" %}</td>
            <td>{{ object.user.gender }}</td>
        </tr>
        <tr>
            <td>{% trans "Ethnicity" %}</td>
            <td>{{ object.user.ethnicity }}</td>
        </tr>
        <tr>
            <td>{% trans "Birthday" %}</td>
            <td>{{ object.user.birthday }}</td>
        </tr>
        <tr>
            <td>{% trans "Identity" %}</td>
            <td>{{ object.user.identity }}</td>
        </tr>
        <tr>
            <td>{% trans "Address" %}</td>
            <td>{{ object.user.address }}</td>
        </tr>
        <tr>
            <td>{% trans "Mobile" %}</td>
            <td>{{ object.user.mobile }}</td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">{% trans "Identity Photo" %}</td>
        </tr>
        <tr>
            <td colspan="2">
                <img class="img-responsive img-rounded center-block" src="{{ object.user.id_photo.url }}">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">{% trans "User Photo" %}</td>
        </tr>
        <tr>
            <td colspan="2">
                {% if object.user.user_photo  %}
                <img class="img-responsive img-rounded center-block" src="{{ object.user.user_photo.url }}">
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
