{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Enrollment" %}
{% endblock %}


{% block content %}
    <h3>{{ regulation.name }}-{% trans 'Enrollment' %}</h3>
    {% for role in roles %}
        <br>
        <h4>【{{ role.name }}】{% trans "Enrollment Step" %}</h4>
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th>{% trans 'Enrollment Step' %}</th>
                <th>{% trans 'Step Name' %}</th>
                <th>{% trans 'Step Description' %}</th>
                <th>{% trans 'Premise & Comment' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for step in role.get_enrollment_workflow %}
                <tr>
                    <td class="horizontal-center">
                        {% if not user.is_authenticated %}
                            <div class="number-circle-red">{{ step.step }}</div>
                        {% else %}
                            {% if step.step == 1 %}
                                <div class="number-circle-green">{{ step.step }}</div>
                            {% endif %}
                            {% if step.step == 2 %}
                                {% has_perm 'racing.is_certificated' user role as is_certificated %}
                                {% if is_certificated %}
                                    <div class="number-circle-green">{{ step.step }}</div>
                                {% else %}
                                    <div class="number-circle-red">{{ step.step }}</div>
                                {% endif %}
                            {% endif %}
                            {% if step.step == 3 %}
                                {% has_perm 'permission.application_user' user '天马赛事' as application_use %}
                                {% if application_use %}
                                    <div class="number-circle-green">{{ step.step }}</div>
                                {% else %}
                                    <div class="number-circle-red">{{ step.step }}</div>
                                {% endif %}
                            {% endif %}
                            {% if step.step == 4 %}
                                {% has_perm 'racing.is_role' user role as is_role %}
                                {% if is_role %}
                                    <div class="number-circle-green">{{ step.step }}</div>
                                {% else %}
                                    <div class="number-circle-red">{{ step.step }}</div>
                                {% endif %}
                            {% endif %}
                            {% if step.step == 5 %}
                                {% if role.id == 4 or role.id == 5 %}
                                    <!-- 参赛队伍 -->
                                    {% has_perm 'racing.is_member_qualified' user as is_member_qualified %}
                                    {% if is_member_qualified %}
                                        <div class="number-circle-green">{{ step.step }}</div>
                                    {% else %}
                                        <div class="number-circle-red">{{ step.step }}</div>
                                    {% endif %}
                                {% endif %}
                                {% if role.id == 2 %}
                                    <!-- 裁判员 -->
                                    {% has_perm 'racing.is_referee_qualified' user as is_referee_qualified %}
                                    {% if is_referee_qualified %}
                                        <div class="number-circle-green">{{ step.step }}</div>
                                    {% else %}
                                        <div class="number-circle-red">{{ step.step }}</div>
                                    {% endif %}
                                {% endif %}
                                {% if role.id == 8 %}
                                    <!-- 骑师 -->
                                    {% has_perm 'racing.is_horseman_qualified' user as is_horseman_qualified %}
                                    {% if is_horseman_qualified %}
                                        <div class="number-circle-green">{{ step.step }}</div>
                                    {% else %}
                                        <div class="number-circle-red">{{ step.step }}</div>
                                    {% endif %}
                                {% endif %}
                                {% if role.id == 6 or role.id == 7 %}
                                    <!-- 马主 -->

                                    {% has_perm 'racing.has_no_horse' user as has_no_horse %}
                                    {% if has_no_horse %}
                                        <div class="number-circle-red">{{ step.step }}</div>
                                    {% else %}
                                        {% has_perm 'racing.has_qualified_horse' user as has_qualified_horse %}
                                        {% if has_qualified_horse %}
                                            <div class="number-circle-yellow-green">{{ step.step }}</div>
                                        {% else %}
                                            <div class="number-circle-yellow">{{ step.step }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if step.step == 6 %}

                                {% if role.id == 2 %}

                                    <!-- 裁判员 -->
                                    {% has_perm 'racing.is_referee_qualified' user as is_referee_qualified %}
                                    {% if is_referee_qualified %}
                                        <div class="number-circle-green">{{ step.step }}</div>
                                    {% else %}
                                        <div class="number-circle-red">{{ step.step }}</div>
                                    {% endif %}

                                {% else %}

                                    {% has_perm 'racing.has_no_horse' user as has_no_horse %}
                                    {% if has_no_horse %}
                                        <div class="number-circle-red">{{ step.step }}</div>
                                    {% else %}
                                        {% has_perm 'racing.has_qualified_horse' user as has_qualified_horse %}
                                        {% if has_qualified_horse %}
                                            <div class="number-circle-red">{{ step.step }}</div>
                                        {% else %}
                                            <div class="number-circle-yellow">{{ step.step }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if not user.is_authenticated %}
                            {% if step.step == 1 %}
                                <a href="{{ step.url }}?next={{ request.path }}"> {{ step.step_name|safe }} </a>
                            {% else %}
                                <div>{{ step.step_name|safe }}</div>
                            {% endif %}
                        {% else %}
                            {% if step.step == 1 %}
                                {{ step.step_name|safe }}
                            {% endif %}
                            {% if step.step == 2 %}
                                {% has_perm 'racing.is_certificated' user role as is_certificated %}
                                {% if is_certificated %}
                                    <div>{{ step.step_name|safe }}</div>
                                {% else %}
                                    <a href="{{ step.url }}?next={{ request.path }}"> {{ step.step_name|safe }} </a>
                                {% endif %}
                            {% endif %}
                            {% if step.step == 3 %}
                                {% has_perm 'permission.application_user' user '天马赛事' as application_use %}
                                {% if application_use %}
                                    <div>{{ step.step_name|safe }}</div>
                                {% else %}
                                    {% has_perm 'racing.is_certificated' user role as is_certificated %}
                                    {% if is_certificated %}
                                        <a href="{{ step.url }}?next={{ request.path }}"> {{ step.step_name|safe }} </a>
                                    {% else %}
                                        <div>{{ step.step_name|safe }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if step.step == 4 %}
                                {% has_perm 'racing.is_role' user role as is_role %}
                                {% if is_role %}
                                    <div>{{ step.step_name|safe }}</div>
                                {% else %}
                                    {% has_perm 'permission.application_user' user '天马赛事' as application_use %}
                                    {% if application_use %}
                                        <a href="{{ step.url }}"> {{ step.step_name|safe }} </a>
                                    {% else %}
                                        <div>{{ step.step_name|safe }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if step.step == 5 %}
                                {% has_perm 'racing.is_role' user role as is_role %}
                                {% if is_role %}
                                    <a href="{{ step.url }}"> {{ step.step_name|safe }} </a>
                                {% else %}
                                    <div>{{ step.step_name|safe }}</div>
                                {% endif %}
                            {% endif %}
                            {% if step.step == 6 %}

                                {% if role.id == 2 %}

                                    <!-- 裁判员 -->
                                    {% has_perm 'racing.is_referee_qualified' user as is_referee_qualified %}
                                    {% if is_referee_qualified %}
                                        <a href="{{ step.url }}"> {{ step.step_name|safe }} </a>
                                    {% else %}
                                        <div>{{ step.step_name|safe }}</div>
                                    {% endif %}

                                {% else %}

                                    {% has_perm 'racing.is_member_qualified' user as is_member_qualified %}
                                    {% if is_member_qualified %}
                                        <a href="{{ step.url }}"> {{ step.step_name|safe }} </a>
                                    {% else %}
                                        <div>{{ step.step_name|safe }}</div>
                                    {% endif %}

                                {% endif %}

                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {{ step.step_description|safe|linebreaksbr }}
                    </td>
                    <td>
                        {{ step.step_comment|linebreaksbr }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
