{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Enrollment List" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/racing_enrollment.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>{% trans 'Enrollment List' %}</h3>
    <table class="ptable ptable-rounded" id="data-table">
        <thead>
        <tr>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Team' %}</th>
            <th>{% trans 'Discipline Number' %}</th>
            <th>{% trans 'Horse Number' %}</th>
            <th>{% trans 'Horseman Number' %}</th>
            <th>{% trans 'Racing Fare' %}</th>
            <th class="horizontal-center">{% trans 'Enrollment Fixed' %}</th>
            <th class="horizontal-center">{% trans 'Enrollment Qualified' %}</th>
            <th class="horizontal-center">{% trans 'Racing Fare Paid' %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "racing/enrollment/enrollment_authorize_list_partial.html" %}
        </tbody>
    </table>
{% endblock %}

