{% extends "racing/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}

{% block content %}
    <p>{% trans 'Are you sure do you want to delete ' %}<a href="{{ object.get_absolute_url }}">"{{ object }}"?</a></p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value={% trans 'Delete Horse' %}>
        <a href="{% url "enrollment_horse_owner_list" %}" class="btn btn-success">{% trans 'Cancel' %}</a>
    </form>
{% endblock %}
