{% load i18n %}
{% load bootstrap3 %}
<div class="form-row">
    <form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        <a href="{% url "enrollment_horse_owner_list" %}" class="btn btn-success">{% trans 'Cancel' %}</a>
    </form>
</div>
