{% extends "racing/bootstrap.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Member Apply" %}{% endblock %}

{% block inner-content %}
    <h1>{% trans "Member Apply" %}</h1>
    <hr>

    <form method="post" action="">
        {% csrf_token %}
        <h4>{% trans "Member Name" %}：{{ form.instance.get_member_name }}</h4>

        {% bootstrap_form form %}
        <button type="submit">{% trans 'Submit' %}</button>
    </form>
{% endblock %}
