{% load i18n %}
{% if object_list %}
    {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url 'horseman_authorize_detail' object.user.user.id %}">{{ object.user.userName }}</a>
            </td>
            <td>{{ object.user.mobile }}</td>
            <td>{{ object.member }}</td>
            <td>{{ object.height }}</td>
            <td>{{ object.weight }}</td>
            <td>{{ object.native_place }}</td>
            <td>{{ object.record|linebreaksbr }}</td>
            <td class="horizontal-center">
                <button type="button" class="btn btn-default js-update-horseman-qualify"
                        data-url="{% url 'horseman_authorize_update' object.user.user.id %}">
                    {% if object.qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </button>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td></td>
        <td colspan="7">{% trans "There is no any horseman record right now!" %}</td>
    </tr>
{% endif %}

