{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Horseman List" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/racing_enrollment.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>{% trans 'Horseman List' %}</h3>
    <table class="ptable ptable-rounded" id="data-table">
        <thead>
        <tr>
            <th>{% trans 'User Name' %}</th>
            <th>{% trans 'Contact Number' %}</th>
            <th>{% trans 'Team' %}</th>
            <th>{% trans 'Height' %}</th>
            <th>{% trans 'Weight' %}</th>
            <th>{% trans 'Native Place' %}</th>
            <th>{% trans 'Record' %}</th>
            <th class="horizontal-center">{% trans 'Horseman Qualified' %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "racing/enrollment/horseman_authorize_list_partial.html" %}
        </tbody>
    </table>
{% endblock %}

