{% load i18n %}
{% if object_list %}
    {% for object in object_list %}
        <tr>
        <tr>
            <td>{{ object.year }}</td>
            <td>{{ object.member }}</td>
            <td>{{ object.horse_type }}</td>
            <td><a href="{% url 'horse_authorize_detail' object.id %}">{{ object.name }}</a></td>
            <td>{{ object.get_gender_display }}</td>
            <td>{{ object.birthday }}</td>
            <td>{{ object.breed }}</td>
            <td class="horizontal-center">
                <button type="button" class="btn btn-default js-update-horse-qualify"
                        data-url="{% url 'horse_authorize_update' object.id %}">
                    {% if object.qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </button>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td></td>
        <td colspan="7">
            {% trans "There is no any horse record right now!" %}
        </td>
    </tr>
{% endif %}
