{% load i18n %}
{% load bootstrap3 %}

<form method="post" action="{% url 'horseman_authorize_update' form.instance.pk %}" class="js-update-horseman-qualify-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Horseman Qualify" %}</h4>
    </div>
    <div class="modal-body">
        <h4>{% trans "Horseman Name" %}：{{ form.instance.user.userName }}</h4>
        {% csrf_token %}
        {% bootstrap_form form %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">{% trans "Ok" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>
