{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Horse List" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/racing_enrollment.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>{% trans 'Horse List' %}</h3>
    <table class="ptable ptable-rounded" id="data-table">
        <thead>
        <tr>
            <th>{% trans 'Game Year' %}</th>
            <th>{% trans 'Team' %}</th>
            <th>{% trans 'Horse Type' %}</th>
            <th>{% trans 'Horse Name' %}</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Birthday' %}</th>
            <th>{% trans 'Breed' %}</th>
            <th class="horizontal-center">{% trans 'Horse Qualified' %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "racing/enrollment/horse_authorize_list_partial.html" %}
        </tbody>
    </table>
{% endblock %}

