{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Horse Detail" %}
{% endblock %}


{% block content %}
    <h3>{% trans "Horse Detail" %}</h3>
    <a href="{% url "horse_authorize" %}" class="btn btn-success">{% trans 'Back to Horse List' %}</a>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "Game Year" %}</td>
            <td>{{ object.year }}</td>
        </tr>
        <tr>
            <td>{% trans "Team" %}</td>
            <td>{{ object.member }}</td>
        </tr>
        <tr>
            <td>{% trans "Horse Type" %}</td>
            <td>{{ object.horse_type }}</td>
        </tr>
        <tr>
            <td>{% trans "Horse Name" %}</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>{% trans "Gender" %}</td>
            <td>{{ object.get_gender_display }}</td>
        </tr>

        <tr>
            <td>{% trans "Birthday" %}</td>
            <td>{{ object.birthday }}</td>
        </tr>
        <tr>
            <td>{% trans "Birthplace" %}</td>
            <td>{{ object.birthplace }}</td>
        </tr>
        <tr>
            <td>{% trans "Breed" %}</td>
            <td>{{ object.breed }}</td>
        </tr>
        <tr>
            <td>{% trans "Brand" %}</td>
            <td>{{ object.brand }}</td>
        </tr>
        <tr>
            <td>{% trans "Chip No" %}</td>
            <td>{{ object.chip_no }}</td>
        </tr>
        <tr>
            <td>{% trans "Passport No" %}</td>
            <td>{{ object.passport_no }}</td>
        </tr>
        <tr>
            <td>{% trans "Father Name" %}</td>
            <td>{{ object.father_name }}</td>
        </tr>
        <tr>
            <td>{% trans "Mother Name" %}</td>
            <td>{{ object.mother_name }}</td>
        </tr>
        <tr>
            <td>{% trans "Grandfather Name" %}</td>
            <td>{{ object.grandfather_name }}</td>
        </tr>
        <tr>
            <td>{% trans "Vaccinated" %}</td>
            <td>
                {% if object.vaccinated %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans "Vaccinate Date" %}</td>
            <td>{{ object.vaccinate_date }}</td>
        </tr>
        <tr>
            <td>{% trans "vaccine" %}</td>
            <td>{{ object.vaccine }}</td>
        </tr>
        <tr>
            <td>{% trans "Record" %}</td>
            <td>{{ object.record|linebreaksbr }}</td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">{% trans "Horse Photo" %}</td>
        </tr>
        <tr>
            <td colspan="2" class="horizontal-center">
                {% if object.horse_photo != "" %}
                    <img class="img-responsive img-rounded  center-block" src="{{ object.horse_photo.url }}">
                {% else %}
                    未上传图片
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans "Horse Qualified" %}</td>
            <td>
                {% if object.qualified %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
