{% load i18n %}
{% if object_list %}
    {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url 'member_authorize_detail' object.user.user.id %}">{{ object.get_member_name }}</a>
            </td>
            <td>{{ object.get_member_type_display }}</td>
            <td>{{ object.get_associations|safe }}</td>
            <td>{{ object.contact }}</td>
            <td>{{ object.contact_number }}</td>
            <td class="horizontal-center">
                <button type="button" class="btn btn-default js-update-member-qualify"
                        data-url="{% url 'member_authorize_update' object.user.user.id %}">
                    {% if object.qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </button>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td></td>
        <td colspan="5">{% trans "There is no any member record right now!" %}</td>
    </tr>
{% endif %}

