{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Member List" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/racing_enrollment.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>{% trans 'Member List' %}</h3>
    <table class="ptable ptable-rounded" id="data-table">
        <thead>
        <tr>
            <th>{% trans 'Member Name' %}</th>
            <th>{% trans 'Member Type' %}</th>
            <th>{% trans 'Association' %}</th>
            <th>{% trans 'Contact' %}</th>
            <th>{% trans 'Contact Number' %}</th>
            <th class="horizontal-center">{% trans 'Member Qualified' %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "racing/enrollment/member_authorize_list_partial.html" %}
        </tbody>
    </table>
{% endblock %}

