{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Referee List" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/racing_enrollment.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>{% trans 'Referee List' %}</h3>
    <table class="ptable ptable-rounded" id="data-table">
        <thead>
        <tr>
            <th>{% trans 'Referee Name' %}</th>
            <th>{% trans 'Referee History' %}</th>
            <th>{% trans 'Contact Number' %}</th>
            <th class="horizontal-center">{% trans 'Referee Qualified' %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "racing/enrollment/referee_authorize_list_partial.html" %}
        </tbody>
    </table>
{% endblock %}

