{% load i18n %}
{% if object_list %}
    {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url 'referee_authorize_detail' object.user.user.id %}">{{ object.user.userName }}</a>
            </td>
            <td>{{ object.referee_history|safe|linebreaksbr }}</td>
            <td>{{ object.user.mobile }}</td>
            <td class="horizontal-center">
                <button type="button" class="btn btn-default js-update-referee-qualify"
                        data-url="{% url 'referee_authorize_update' object.user.user.id %}">
                    {% if object.referee_qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </button>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td></td>
        <td colspan="5">{% trans "There is no any referee record right now!" %}</td>
    </tr>
{% endif %}

