{% load i18n %}
{% load rules %}


<h4>{% trans "Enrollment Detail" %}</h4>
<table class="ptable ptable-rounded">
    <thead>
    <tr>
        <th>{% trans 'Game' %}</th>
        <th>{% trans 'Horse' %}</th>
        <th>{% trans 'Horse Type' %}</th>
        <th>{% trans 'Type' %}</th>
        <th>{% trans 'Horseman' %}</th>
        <th>{% trans 'Group Number' %}</th>
        <th>{% trans 'Starting Gate Number' %}</th>
        <th>{% trans 'Racing Fare' %}</th>
        {% if not enrollment_fixed %}
            <th>{% trans 'Operation' %}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if enrollment.enrollmentdetail_set.all.count > 0 %}
        {% for enrollment_detail in enrollment.enrollmentdetail_set.all %}
            <tr>
                <td>{{ enrollment_detail.game }}</td>
                <td>{{ enrollment_detail.horse }}</td>
                <td>{{ enrollment_detail.horse.horse_type }}</td>
                <td>{{ enrollment_detail.get_type_display }}</td>
                <td>{{ enrollment_detail.horseman }}</td>
                <td>{{ enrollment_detail.group_no }}</td>
                <td>{{ enrollment_detail.starting_gate_no }}</td>
                <td>{{ enrollment_detail.fare }}</td>
                {% if not enrollment_fixed %}
                    <td>
                        <button type="button" class="btn btn-danger js-delete-game"
                                data-url="{% url 'enrollment_team_game_delete' enrollment_detail.id %}">
                            <span class="glyphicon glyphicon-minus-sign">{% trans 'Delete Game' %}</span>
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td></td>
            <td colspan="8">
                {% trans "There is no any game under your name!" %}
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% if not enrollment_fixed %}
    <br>
    <div align="right" id="create-game">
        <button type="button" class="btn btn-primary js-create-game"
                data-url="{% url 'enrollment_team_game_create' enrollment.id %}">
            <span class="glyphicon glyphicon-plus-sign">{% trans 'Create Game' %}</span>
        </button>
    </div>
{% endif %}

<h4>{% trans "Enrollment Summary" %}</h4>
{% has_perm 'racing.is_enrollment_fixed' enrollment.member.user.user enrollment as enrollment_fixed %}
<table class="ptable ptable-rounded">
    <thead>
    <tr>
        <th>{% trans 'Game Year' %}</th>
        <th>{% trans 'Team' %}</th>
        <th>{% trans 'Discipline Number' %}</th>
        <th>{% trans 'Horse Number' %}</th>
        <th>{% trans 'Horseman Number' %}</th>
        <th>{% trans 'Racing Fare' %}</th>
        <th class="horizontal-center">{% trans 'Enrollment Fixed' %}</th>
        <th class="horizontal-center">{% trans 'Enrollment Qualified' %}</th>
        <th class="horizontal-center">{% trans 'Racing Fare Paid' %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ enrollment.year }}</td>
        <td>{{ enrollment.member }}</td>
        <td>{{ enrollment.discipline_number }}</td>
        <td>{{ enrollment.horse_number }}</td>
        <td>{{ enrollment.horseman_number }}</td>
        <td>{{ enrollment.fare }}</td>
        {% if enrollment.qualified %}
            <td class="horizontal-center">
                {% if enrollment.enrollment_fixed %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
        {% else %}
            <td class="horizontal-center">
                <button type="button" class="btn btn-default js-enrollment-fixed"
                        data-url="{% url 'enrollment_fixed' enrollment.id %}">
                    {% if enrollment.enrollment_fixed %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </button>
            </td>
        {% endif %}
        <td class="horizontal-center">
            {% if enrollment.qualified %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td class="horizontal-center">
            {% if enrollment.fare_paid %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>

    </tr>
    </tbody>
</table>
{% has_perm 'racing.can_pay_enrollment_fare' enrollment.member.user.user enrollment as can_pay_enrollment_fare %}
{% if can_pay_enrollment_fare %}
    <br>
    <div align="right">
        <h4>请到比赛组织单位缴纳比赛费用！</h4>
    </div>
    <div style="display: none;">
    <div align="right">
        <a href="{% url 'racing_fare_alipay' enrollment.payment_uuid %}"
           class="btn btn-success">{% trans 'Pay Game Fare' %}</a>
    </div>
    </div>
{% endif %}

