{% load i18n %}


<form method="post" action="{% url 'enrollment_team_game_delete' enrollment_detail.id %}" class="js-create-game-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans 'Delete Game' %}</h4>
    </div>
    <div class="modal-body">
           <p>{% trans 'Do you really want to delete ' %}"{{ enrollment_detail.game}} [{{ enrollment_detail.horse }}，{{ enrollment_detail.horseman}}]"?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">{% trans 'Delete Game' %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
    </div>
</form>
