{% load i18n %}
{% load bootstrap3 %}

<form method="POST" action="{% url 'enrollment_fixed' form.instance.pk %}" class="js-enrollment-fixed-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Enrollment Fixed" %}</h4>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {% bootstrap_form form %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">{% trans "Ok" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>
