/*****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************/
/*****************************************************************************************
  第一部分：导航栏
*****************************************************************************************/

/** 导航栏背景及边框 **/
.navbar {
    background-color: #8B0000;
    border-radius: 0;
    border: 0;
}

/*****************************************************************************************
  功能：响应式navbar-brand image CSS
  调整navbar-brand padding：1、让logo图片的有更多的显示区域；2、解决firefox bug
  添加100% height和width auto：作用类似bootstrap img-responsive class，使得logo图片大小自适应
  增加brand-name padding：让网站名称居中显示
*****************************************************************************************/
.navbar-brand {
    padding: 4px;
}

.navbar-brand > img {
    height: 100%;
    padding-top: 4px;
    color: #000000;
    width: auto;
}

.brand-name {
    padding: 15px;
}

.brand-name p {
    color: #fff;
}

.brand-name p:hover {
    color: #000;
}

/* 导航栏下拉菜单背景颜色, 与导航栏背景颜色相同 */
.dropdown-menu {
    background-color: #8B0000;
}

/* 导航栏下拉菜单背景颜色, 与导航栏背景颜色相同，手机模式 */
.navbar-right > li {
    background-color: #8B0000;
    color: #ffffff;
}

/** 导航栏菜单、按钮 **/
#nav-list a {
    color: #fff;
    text-align: center;
}

#nav-list p {
    color: #000;
    margin-top: 15px;
    text-align: center;
}

#nav-list a:hover {
    background: #979797;
}

#nav-list a:active {
    background: #61122f;
}

.actived {
    background: #FAFFFA;
}

#nav-list > li.actived > a {
    color: #61122f;
}

.navbar-header button.navbar-toggle .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

/** 折叠的导航菜单展开后与导航栏之间的分隔线颜色 **/
.navbar-default .navbar-collapse {
    border-top-color: #61122f;
}

/*****************************************************************************************
  第三部分：页面主体
*****************************************************************************************/

/* 主体容器 */
.container .jumbotron {
    padding: 0px;
    box-shadow: 0 0 5px #3F0C1F;
    border: 1px solid #3F0C1F;
    margin-bottom: 15px;
}

#slide {
    margin-top: -5px;
    margin-bottom: 15px;
}

.carousel-caption > h3 {
    color: #8B0000;
    text-shadow: -1px -1px #ffffff,
    1px -1px #ffffff,
    -1px 1px #ffffff,
    1px 1px #ffffff;
}

.carousel-caption > p {
    color: #8B0000;
    text-shadow: -1px -1px #ffffff,
    1px -1px #ffffff,
    -1px 1px #ffffff,
    1px 1px #ffffff;
}

/* 四个缩略图导航器： 品种列表、品种分布、品种画册、品种视频 */
#thumbnails {
    width: 100%;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 0px;
    padding-top: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
}

#thumbnails:hover {
    box-shadow: 0 1px 2px 2px #666666;
}

#thumbnails span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background: rgba(139, 0, 0, 0.8);
    color: #fff;
}

#thumbnails div {
    font-size: 1.1em;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    background: rgba(139, 0, 0, 0.4);
}

.horse-photo {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid #3F0C1F;
    -webkit-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
}

.horse-photo:hover {
    box-shadow: 0 1px 2px 2px #666666;
}

.horse-photo span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    background-color: #CD1076;
    color: #fff;
    opacity: 0.7;
}

.horse-photo {
    height: 300px;
    overflow: hidden;
}

.horse-photo img {
    width: 100%;
    height: 300px;
}

.scroll-text {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scroll-text ul {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.scroll-text ul li {
    height: 1.5em;
    color: #FFFFFF !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.events_announcement {
    background: url("/static/racing/images/Events_Announcement.png");
}

.league_table {
    background: url("/static/racing/images/League_Table.png");

}

/*****************************************************************************************
  第四部分：页脚
*****************************************************************************************/
.footer {
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #8B0000;
    border-top: 0;
    color: #ffffff;
    font-size: 0.9em;
}

.footer div.row {
    margin-bottom: 35px;
}

#project, #organization, #objective {
    line-height: 2;
}

#project > span, #organization > span, #objective > span {
    font-size: 1.3em;
}

#objective {
    font-style: italic;
}

/*****************************************************************************************
  品种分布：国旗
*****************************************************************************************/
.flag {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid #3F0C1F;
    -webkit-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
}

.flag:hover {
    box-shadow: 0 1px 2px 2px #666666;
}

.flag span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    background-color: #8B0000;
    color: #fff;
    opacity: 0.7;
}

.flag img {
    width: 100%;
}

/*****************************************************************************************
  参赛报名：圆圈显示数字报名步骤
*****************************************************************************************/
.number-circle-red {
    margin: auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #EE0000;
    border: 2px solid #FFFFFF;
    color: #FFF;
    text-align: center;
    font: 2.2em Arial, sans-serif;
}

.number-circle-green {
    margin: auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #00BB00;
    border: 2px solid #FFFFFF;
    color: #FFF;
    text-align: center;
    font: 2.2em Arial, sans-serif;
}

.number-circle-yellow {
    margin: auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #DDDD00;
    border: 2px solid #FFFFFF;
    color: #FFF;
    text-align: center;
    font: 2.2em Arial, sans-serif;
}

.number-circle-yellow-green {
    margin: auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #9ACD32;
    border: 2px solid #FFFFFF;
    color: #FFF;
    text-align: center;
    font: 2.2em Arial, sans-serif;
}

video {
    width: 100%;
    height: auto;
}

.video-title {
    text-align: center;
    color: #8B0000;
}

.breed-photo {
    max-width: 480px;
}

.horizontal-center {
    text-align: center !important;
}

.horizontal-left {
    text-align: left !important;
}

.horizontal-right {
    text-align: right !important;
}

#schedule {
    width: 100%;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 568px;
    padding-top: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#schedule:hover {
    box-shadow: 0 1px 2px 2px #666666;
}

#schedule span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background: rgba(139, 0, 0, 0.8);
    color: #fff;
}

#schedule div {
    font-size: 1.2em;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    background: rgba(139, 0, 0, 0.4);
}

.scroll-text {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scroll-text ul {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.game-name {
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.schedule-row {
    line-height: 14px;
}

.team-photo {
    margin-top: 15px;
}

.test {
    color: yellow;
}

.ticket-photo {
    width: 100%;
    margin-bottom: 15px;
    position: relative;

}

.ticket-photo:hover {
    box-shadow: 0 1px 2px 2px #666666;
}

.ticket-photo span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    background-color: #CD1076;
    color: #fff;
    opacity: 0.7;
}

.ticket-photo img {
    width: 100%;
}

.ticket-photo-margin-top {
    margin-top: 15px;
}

span.red {
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 0px;
    text-align: center;
    width: 1.6em;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

span.green {
    background: #5EA226;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 0px;
    text-align: center;
    width: 1.6em;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
