.ptable {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    margin-top: 5px;
    min-width: 460px;
}

.ptable thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.ptable tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.ptable-rounded {
    border: none;
    min-width: 180px;
}

.ptable-rounded thead th {
    background-color: #CFAD70;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}

.ptable-rounded thead th:first-child {
    text-align: right;
    border-radius: 10px 0 0 0;
}

.ptable-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}

.ptable-rounded tbody td {
    border: none;
    border-top: solid 1px #957030;
    background-color: #EED592;
}

.ptable-rounded tbody td:first-child {
    text-align: right;
}

.ptable-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.ptable-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
