{% extends 'homepage/xjhorse_base.html' %}
{% load i18n %}
{% load static %}

<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->

{% block title %}
    {% trans 'Error Message' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/error-handle.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'certification/css/ptable.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="error-box">
        <h5>{% trans 'Error Message' %}</h5>
        <hr>
        <div class="horizontal-center">
            <table class="ptable ptable-rounded" width="100%">
                <thead>
                <tr>
                    <th align="center">{% trans "Message Item" %}</th>
                    <th align="center">{% trans "Message " %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% trans "Error Code" %}
                    </td>
                    <td align="left">
                        HTTP 400
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans "Error Meaning" %}
                    </td>
                    <td align="left">
                        {% trans "Bad request" %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans "Error Reason" %}
                    </td>
                    <td align="left">
                        {% trans "Request host is not a allowed host." %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans "Treatment Measure" %}
                    </td>
                    <td align="left">
                        {% trans "Please contact project team." %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="center-button">
            <a class="btn btn-warning" href="{% url 'home' %}" role="button">{% trans 'Back to Xjhorse Home' %}</a>
        </div>
    </div>
{% endblock %}
