{% extends 'homepage/xjhorse_base.html' %}
{% load i18n %}
{% load bootstrap3 %}

<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->

{% block title %} 欢迎您！{% endblock %}


{% block content %}

    <!-- 轮播(Carousel)容器 -->
    <div id="slide" class="carousel slide" data-ride="carousel">

        <!-- 指示器 -->
        <ol class="carousel-indicators">
            {% for carousel in carousels %}
                {% if carousel.active %}
                    <li data-target="#slide" data-slide-to="{{ carousel.ranking }}" class="active"></li>
                {% else %}
                    <li data-target="#slide" data-slide-to="{{ carousel.ranking }}"></li>
                {% endif %}
            {% endfor %}
        </ol>

        <!-- 内容 -->
        <div class="carousel-inner" role="listbox">
            {% for carousel in carousels %}
                {% if carousel.active %}
                    <div class="item active">
                        <img src="{{ carousel.photo.url }}">
                        <div class="carousel-caption">
                            <h3>{{ carousel.slogan }}</h3>
                            <p>{{ carousel.title }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <img src="{{ carousel.photo.url }}">
                        <div class="carousel-caption">
                            <h3>{{ carousel.slogan }}</h3>
                            <p>{{ carousel.title }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>

        <!-- 上一个/下一个 -->
        <a class="left carousel-control" href="#slide" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#slide" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'breeds_home' %}">
                <div id="thumbnails" class="breeds"><span>{% trans "Horse Breeds" %}</span></div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'disease_home' %}">
                <div id="thumbnails" class="disease"><span>{% trans "Disease Prevention" %}</span></div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a href="http://mooc.xjhorse.net">
                <div id="thumbnails" class="mooc"><span>{% trans "Bole Classroom" %}</span></div>
            </a>
        </div>
    </div>
{% endblock %}
