<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->
{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% trans "Xinjiang Horse" %} - {% block title %}{% endblock %}
    </title>

    <!-- 加载静态文件 -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
    <link rel="apple-touch-icon" href="{% static 'images/favicon.ico' %}" />
    {% block css %}{% endblock %}
</head>
<body>
{% include "homepage/xjhorse_nav.html" %}
<div id="main-content" class="container">
    {% block content %}
    {% endblock %}
</div>
{% include "homepage/xjhorse_footer.html" %}
<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->
<script src="{% static 'javascript/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>
