{% load i18n %}
<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->

<!-- 顶部静态导航栏 -->
<nav class="navbar navbar-toggler navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- 手机等小屏幕导航栏折叠后依然在导航栏左侧保留 -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/images/logo.png">
            </a>
            <a class="navbar-brand brand-name" href="{% url 'home' %}">
                <p>{% trans "Xinjiang Horse" %}</p>
            </a>
            <!-- 手机等小屏幕导航栏菜单折叠为右侧按钮 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- 一下内容在手机等小屏幕导航栏折叠后将从导航栏消失，通过点击右侧按钮可以展开 -->
        <div id="collapsed-menu" class="navbar-collapse collapse"><!-- 折叠内容开始 -->
            <!-- 左对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-left">
                <li id="li_strain"><a id="strain" href="{% url 'registration_home' %}">{% trans "Registration" %}</a>
                </li>
                <li id="li_horse"><a id="horse" href="{% url 'horsefarm_home' %}">{% trans "Horse Farm" %}</a></li>
                <li id="li_auction"><a id="auction" href="{% url 'auction_home' %}">{% trans "Auction" %}</a></li>
                <li id="li_racing"><a id="racing" href="{% url 'racing_home' %}">{% trans "Racing" %}</a></li>
            </ul>
            <!-- 右对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li id="li_login"><a id="logoin" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'socialaccount_connections' %}">{% trans "Account binding" %}</a></li>
                            <li><a href="{% url 'certification' %}">{% trans "Certification" %}</a></li>
                            <li><a href="{% url 'my_application' %}">{% trans "My Application" %}</a></li>
                            <li><a href="{% url 'profile' %}">{% trans "Language Preference" %}</a></li>
                            <li><a href="{% url 'oauth2_provider:list' %}">{% trans "Developer" %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!-- 折叠内容结束 -->
    </div>
</nav>
