{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>马病数据库 &mdash; 疾病修改</title>
    
    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">
    <link href="/static/disease/css/maintenance.css" rel="stylesheet">

</head>
<body>
{% load poll_extras %}
{% jump_link %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form id="addhd">
                {% csrf_token %}

                <div class="col-md-12 control-label">
                    <div class="col-md-6">
                        <label>名称：</label>
                        <input  class="divinput" type="text" name="hdname" value="">
                    </div>
                    <div class="col-md-6">
                        <label>病因：</label>
                        <select class="addselect" id="pacode" name="pacode">
                            <option  value="">请选择病因</option>
                            {% for pa in palist %}
                                <option value="{{ pa.code }}">{{ pa.pathogeny_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-12 control-label">
                    <div class="col-md-6">
                        <label>别名：</label>
                        <input class="divinput" type="text" name="athname" value="">
                    </div>
                    <div class="col-md-6">
                        <label>病证：</label>
                        <select class="addselect" id="disease_name" name="dcode">
                            <option value="">请选择病证</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 control-label">
                    <div class="col-md-6">
                        <label>编号：</label>
                        <input class="divinput" id="hdcode" name="hdcode" readonly>
                        </input>
                    </div>
                    <div class="col-md-6">
                        <label>部位：</label>
                        <select multiple id="dx" class="addselect" name="pocode">
                            {% for po in polist %}
                                <option value="{{ po.code }}">{{ po.position_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-12 control-label">
                    <div class="col-md-12">
                        <label>简介：</label>
                        <input id="border" name="hdintroduction" type="text" value="">
                    </div>
                </div>

                <div class="col-md-12 control-border">
                    <label>辩证要点：</label>
                    <div class="col-md-12 summernote" id="hdbz">

                    </div>
                </div>

                <div class="col-md-12 control-border">
                    <label>治疗方案：</label>
                    <div class="col-md-12 summernote" id="hdzl">

                    </div>
                </div>

                <div class="col-md-12 control-border">
                    <label>预防方案：</label>
                    <div class="col-md-12 summernote" id="hdyf">

                    </div>
                </div>

                <div class="col-md-12" style="text-align: center">
                    <button class="button-submit" id="savehd">保存</button>
                    <button class="button-reset" id="resethd">重置</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% include "homepage/xjhorse_footer.html" %}

<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->

<script src="{% static 'javascript/main.js' %}"></script>

<!-- include libraries(jQuery, bootstrap) -->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->
<script src="/static/disease/bootstrap/js/bootstrap.js"></script>
<!-- include summernote css/js-->
<link href="/static/disease/summernote/summernote.css" rel="stylesheet">
<script src="/static/disease/summernote/summernote.js"></script>

<script>
    /* 可视化HTML编辑器 */
    $(document).ready(function() {
        $('.summernote').summernote();
    });

    /* 传递病因和code */
    $(document).ready(function(){
        $("#pacode").change(function(){
            /* 重新点选清除下拉菜单内容 */
            $("#disease_name").find("option").remove();
            var hd1 = $("<option></option>").text('请选择病证').val('');
            $("#disease_name").append(hd1);

            var pacode = $("#pacode").val();
            var postdata="pacode="+pacode;
            $.ajax({
               type: "GET",
               url: "/horsedisease/addhd/",
               data:postdata,
               success: function(result) {

                   for(var i=0; i<=result.dl.length; i++){
                       var hd=$("<option></option>").text(result.dl[i].disease_name).val(result.dl[i].code);
                       $("#disease_name").append(hd);
                   }
                   window.location.reload();
               }
           });
        });
    });

    /*传递病证code*/
    $(document).ready(function(){
        $("#disease_name").change(function(){

            $("#hdcode").val('');

            var dcode = $("#disease_name").val();
            $.ajax({
               type: "POST",
               url: "/horsedisease/addhd/",
               data:{dcodedata:dcode,csrfmiddlewaretoken: '{{ csrf_token }}'},
               success: function(result) {
                   $("#hdcode").val(result.code);
                   //window.location.reload();
               }
           });
        });
    });

    /* 保存按钮 */
    $(document).ready(function(){
        $("#addhd").submit(function(){

            /*$("#dx option:selected").each(function () {
                alert($(this).val());
            })

            return false;*/
            var formdata = new FormData($("#addhd")[0]);
            formdata.append("hdcode",$("#hdcode").val())
            formdata.append("hdbz",$("#hdbz").summernote('code'))
            formdata.append("hdzl",$("#hdzl").summernote('code'))
            formdata.append("hdyf",$("#hdyf").summernote('code'))
           $.ajax({
               type: "POST",
               url: "/horsedisease/getaddhd/",
               data: formdata,
               processData: false,  // 不处理数据
               contentType: false,   // 不设置内容类型
               success: function(result) {
                   var num = result.status
                   if (num == -1){
                       alert("该马病已存在。")
                   }
                   else{
                       alert("新增马病成功！")
                   }
               }
           });
            return false;
        });
    });

    /* 重置按钮 */
    $(document).ready(function(){
        $("#resethd").click(function(){
            alert("确认重置吗？");
            window.location.reload();
        });
    });

</script>

</body>
</html>
