{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>马病数据库 &mdash; 最新马讯</title>
    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">

    <!--分页-->
    <link rel="stylesheet" href="/static/disease/css/style.css">
    <link rel="stylesheet" href="/static/disease/css/jPages.css">
    <link rel="stylesheet" href="/static/disease/css/animate.css">
    <link rel="stylesheet" href="/static/disease/css/github.css">
    <link rel="stylesheet" href="/static/disease/css/page.css">

    <script src="/static/disease/js/jquery-1.8.2.min.js"></script>
    <script src="/static/disease/js/highlight.pack.js"></script>
    <script src="/static/disease/js/tabifier.js"></script>

</head>
<body>
{% load poll_extras %}
{% jump_link %}

<div class="container">
    <!--路径导航-->
	<div class="row clearfix">
        <div class="col-md-1 column">
		</div>
		<div class="col-md-10 column">
			<ul class="breadcrumb">
				<li>
					 <a href="{% url 'home' %}">{% trans "Home" %}</a>
				</li>
				<li>
					 <a href="{% url 'disease_home' %}">{% trans "Equine Disease Database" %}</a>
				</li>
				<li class="active">{% trans "Latest Information" %}</li>
			</ul>
		</div>
        <div class="col-md-1 column">
		</div>
	</div>

    <!--文章列表-->
    <div class="row clearfix">
		<div class="col-md-1 column">
		</div>
		<div  id="articlepage" class="col-md-10 column" style="float:left">
            {% for ai in ailist %}
                <div class="form-group col-sm-9 col-xs-12" style="float:left;line-height: 40px">
                    <p style="font-size: 22px">
                        <a href="{% url 'id' ai.id %}">

                                <li style="display: inline-block; opacity: 1; font-size:20px;">
                                    {{ ai.title }}
                                </li>

                        </a>
                    </p>
                </div>
                <div class="form-group col-sm-3  col-xs-12" style="float:left;height: 40px;line-height: 40px;text-align: right">
                    <p>
                        <a href="{% url 'id' ai.id %}">
                            <li style="display: inline-block; opacity: 1;">
                                {{ ai.update_time }}
                            </li>
                        </a>
                    </p>
                </div>
            {% endfor %}
		</div>
		<div class="col-md-1 column">
		</div>
	</div>

    <!--分页-->
    <div class="row clearfix">
		<div class="col-md-1 column">
		</div>
        <div class="holder col-md-10 column" style="text-align: center">
		</div>
        <div class="col-md-1 column">
		</div>
    </div>
</div>

{% include "homepage/xjhorse_footer.html" %}

<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->

<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

<!-- 分页 -->
<script src="/static/disease/js/js.js"></script>
<script src="/static/disease/js/jPages.js"></script>
<script>
    /* when document is ready */
    $(function() {
        /* initiate plugin assigning the desired button labels  */
        $("div.holder").jPages({
            //设置页数按钮所在的层
            containerID : "articlepage",//显示数据所在的id
            first       : "首页",
            previous    : "上一页",
            next        : "下一页",
            last        : "尾页",
            perPage     :16,      //每页显示数据为多少行
            startPage   :1,       //起始页
            startRange  :10,      //开始页码为10页
            midRange    :10,       //最多显示几个页码，其余用..代替
            endRange    :10,       //结束页码为两个
            animation   :'wobble',//数据显示的动画效果
        });
    });
</script>

</body>
</html>

