{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>马病数据库 &mdash; 最新马讯</title>

    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">
    <link href="/static/disease/css/styles.css" rel="stylesheet">
    <link href="/static/disease/css/top.css" type="text/css" rel="stylesheet" />
    <script src="/static/disease/js/top.js" type="text/javascript"></script>

</head>
<body>
{% load poll_extras %}
{% jump_link %}

<div id="articlesingle"class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" style="text-align: center">
            <h2>{{ slist.title}}</h2>
            <span>{{ slist.update_time }}</span>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-1 column">
		</div>
		<div class="col-md-10 column">
            <!--显示编辑器里内容-->
            {% autoescape off %}
            {{ slist.content}}
            {% endautoescape %}
		</div>
		<div class="col-md-1 column">
		</div>
	</div>

    <!--切换-->
    <div id="singlehda" class="row clearfix">
		<div class="col-md-6 column">
            {% if altnum != None%}
                <a href={% url 'id' altnum.id%}>
                <span>上一篇</span>
                <h3>{{ altnum.title }}</h3>
            {% endif %}
            </a>
		</div>
		<div class="col-md-6 column">
            {% if agtnum != None%}
                <a href={% url 'id' agtnum.id%}>
                <span>下一篇</span>
                <h3>{{ agtnum.title }}</h3>
            {% endif %}
            </a>
		</div>
	</div>

    <!--返回上一级-->
    <a href="#" onclick="gotoTop();return false;" class="totop"></a>

</div>

{% include "homepage/xjhorse_footer.html" %}

<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->

<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>

