{% load i18n %}
{% load rules %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/disease/css/position.css" >
    <script type="text/javascript" src="/static/disease/js/maps.js"></script>
    <script type="text/javascript" src="/static/disease/js/google.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $().maps();
        });
    </script>

    <script>
        $(document).ready(function(){
            $(".venus-menu").children(".showhide").remove();
        });
    </script>

    <style>
        .caret1 {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 20px;
            vertical-align: middle;
            border-left: 4px dashed;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
        }
    </style>

</head>
<body>
<!-- 顶部静态导航栏 -->
<nav class="navbar navbar-toggler navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- 手机等小屏幕导航栏折叠后依然在导航栏左侧保留 -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/images/logo.png">
            </a>
            <a class="navbar-brand brand-name" href="{% url 'home' %}">
                <p>{% trans "Xinjiang Horse" %}</p>
            </a>
            <!-- 手机等小屏幕导航栏菜单折叠为右侧按钮 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="collapsed-menu" class="navbar-collapse collapse">
            <!-- 左对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-left">

                <ul class="venus-menu" style="padding-left: 0px">
                    <!-- 首页 -->
                    <li id="li_strain"><a id="strain" href="{% url 'disease_home' %}">{% trans "Home" %}</a></li>
                    <!-- 病因查询 -->
                    <li style="display: block;"><a class="jl" href="#">{% trans "Pathogeny" %}</a>
                        <ul>
                            {% for p in plist %}
                                <li><a href="#{{ p.code }}" class="jl1">{{ p.pathogeny_name }}</a>
                                <ul>
                                    {% for one in p.disease_set.all %}
                                        <li id="rightli"><a href="/horsedisease/hdindex?code={{ one.code }}">{{ one.disease_name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>

                    <!-- 部位查询 -->
                    <li><a href="#" class="jl">{% trans "Position" %}</a>
                        <ul id="rightul">
                            <li><a href="/horsedisease/positionsearch?p_code=201">{% trans "Head" %}</a></li>
                            <li><a href="/horsedisease/positionsearch?p_code=202">{% trans "Neck" %}</a></li>
                            <li><a href="/horsedisease/positionsearch?p_code=203">{% trans "Abdomen" %}</a>
                            <li><a href="/horsedisease/positionsearch?p_code=204">{% trans "Limbs" %}</a></li>
                        </ul>
                    <!-- 最新马讯 -->
                    <li id="li_strain"><a id="strain" href={% url 'articleindex'%}>{% trans "Latest Information" %}</a></li>

                    <!-- 马病维护 -->
                    {% has_perm 'disease.add_disease' user as can_manage_disease %}
                    {% if can_manage_disease %}
                        <li id="li_strain"><a id="strain" href={% url 'maintenance' %}>{% trans "Maintenance" %}</a>
                        </li>
                    {% endif %}
                </ul>

            </ul>

            <!-- 右对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                    <li id="li_login"><a id="logoin" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                        {% has_perm 'disease.add_disease' user as can_manage_disease %}
                        {% if can_manage_disease %}
                            <ul class="dropdown-menu" id="rightul">
                                <li><a href="{% url 'maintenance' %}">{% trans "Maintenance" %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu" id="rightul">
                                <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div><!-- 折叠内容结束 -->
    </div>
</nav>
</body>

<script>
    $(function(){
        $("li .indicator").remove();
        var obj=$("<span>").addClass("caret");
        $(".jl").append(obj);
        var obj1=$("<span>").addClass("caret1");
        $(".jl1").append(obj1);
    })
</script>

</html>