{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% trans "Equine Disease Database" %} - {% block title %}{% endblock %}
    </title>

    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">
    <link href="/static/disease/css/styles.css" rel="stylesheet">

    <!-- 查询搜索和过滤（jQuery Autocomplete） -->
    <link rel="stylesheet" href="/static/disease/js/jquery-ui.css">
    <!-- canvas自适应 -->
    <link rel="stylesheet" href="/static/disease/css/fluidity.min.css">

    <script>

        <!--疾病栏-->
        function getDisease(code){
            var num=0;

            $("#"+code).children().each(function(){
                num++;
            });

            if(num!=0)
                return;

            //if($("#"+code).html()!=null||$("#"+code).html()!="")
             //   return;

            var postdata="pcode="+code+"&csrfmiddlewaretoken={{ csrf_token }}";

            $.ajax({
                url:"/horsedisease/disease",
                data:postdata,
                type:"POST",
                success:function(result){
                    //alert(result.dlist.length);
                    for(var i=0;i<result.dlist.length;i++){
                        //alert(result.dlist[i].name);
                        var ahref=$("<a></a>").text(result.dlist[i].name);  // 使用 jQuery 创建文本

                        ahref.css({
                            "display":"block",
                             "width":"100%",
                            "text-align":"center"
                        });

                        var dcode=result.dlist[i].code//获取病证编号
                        var post="/horsedisease/hdindex?code="+dcode;
                        ahref.attr("href",post);
                        //alert(post);
                        $("#"+code).append(ahref);
                    }
                }
            });
        }
    </script>

</head>
<body>

{% load poll_extras %}
{% jump_link %}

<div id="main-content" class="container">
    {% block content %}
    {% endblock %}

<!-- 查询关联 -->
<script type="text/javascript" src="/static/disease/js/jquery-ui.js"></script>
<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

<script>

    <!--查询-->
        $(function(){
            console.log("nihao");
            $("#stext").autocomplete({
                source: function (request, response) {
                    var postdata="searchname="+$("#stext").val();
                    console.log(postdata);
                    $.ajax({
                            url:"/horsedisease/hdsearch",
                            data:postdata,
                            success:function (result) {
                                console.log(result);
                                response( result );
                            }
                    });
                }
               // availableTags
            });
        });

    <!--部位-->
    var img=new Image();//创建
    var jiaimg=new Image();
    img.src='/static/disease/images/Position.jpg';
    jiaimg.src='/static/disease/images/jiahao.png'
    var canvas=document.getElementById('myCanvas');
    var ctx=canvas.getContext('2d')
    var rect1={x1:170,y1:143,w1:30,h1:30};//定义要画的矩形的位置属性(头)
    var rect2={x2:230,y2:170,w2:30,h2:30};//颈
    var rect3={x3:340,y3:250,w3:30,h3:30};//腹
    var rect4={x4:418,y4:330,w4:30,h4:30};//四肢
    img.onload = function () {
        ctx.drawImage(img, 0,0,700,511);
        //ctx.fillRect(rect1.x1,rect1.y1,rect1.w1,rect1.h1);//绘制矩形
        jiaimg.onload = function () {
            ctx.globalAlpha = 0.5;
            ctx.drawImage(jiaimg, 170,143,30,30);
            ctx.drawImage(jiaimg, 230,170,30,30);
            ctx.drawImage(jiaimg, 330,250,30,30);
            ctx.drawImage(jiaimg, 418,330,30,30);
        }
    }


    canvas.onclick=function(e){//给canvas添加点击事
        e=e||event;//获取事件对象

        var sx=511/document.getElementById("myCanvas").offsetHeight//获取自适应后canvas的高
        var sy=700/document.getElementById("myCanvas").offsetWidth//获取自适应后canvas的宽
        var x=e.offsetX*sx;
        var y=e.offsetY*sy;


        //如果事件位置在矩形区域中
        if(x>=rect1.x1&&x<=rect1.x1+rect1.w1&&y>=rect1.y1&&y<=rect1.y1+rect1.h1){
            //console.log("捕获事件"+x+y);
            //window.open('http://www.baidu.com');//打开指定链接
            location.href="/horsedisease/positionsearch?p_code="+201;
        }
        else if(x>=rect2.x2&&x<=rect2.x2+rect2.w2&&y>=rect2.y2&&y<=rect2.y2+rect2.h2){
           location.href="/horsedisease/positionsearch?p_code="+202;
        }
        else if(x>=rect3.x3&&x<=rect3.x3+rect3.w3&&y>=rect3.y3&&y<=rect3.y3+rect3.h3){
            location.href="/horsedisease/positionsearch?p_code="+203;
        }
        else if(x>=rect4.x4&&x<=rect4.x4+rect4.w4&&y>=rect4.y4&&y<=rect4.y4+rect4.h4){
            location.href="/horsedisease/positionsearch?p_code="+204;
        }
    }

    //获取鼠标点击区域在Html绝对位置坐标
    function mouseCoords(event){
        console.log("page="+event.pageX+"+"+event.pageY)
        if(event.pageX || event.pageY){
            return {x:event.pageX, y:event.pageY};
        }
        return{
            x:event.clientX + document.body.scrollLeft - document.body.clientLeft,
            y:event.clientY + document.body.scrollTop - document.body.clientTop
        };
    }

</script>

</div>

{% include "homepage/xjhorse_footer.html" %}

</body>
</html>
