{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>马病数据库 &mdash;病状图片</title>

    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'disease/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">
    <link href="/static/disease/css/styles.css" rel="stylesheet">
    <!--相册样式-->
    <link href="/static/disease/css/zzsc.css" rel="stylesheet">

</head>
<body>
{% load poll_extras %}
{% jump_link %}

<section class="cntr">
	<div class="m10">
		<div class="cntr mt20">
			<ul class="pgwSlideshow">
                {% for i in hdimgs %}
                    <li>
                        <img src="{{ i.img.url }}" alt="{{ hdlist}}" data-description="{{ i.imgdescribe }}">
                    </li>
                {% endfor %}
			</ul>
		</div>
	</div>
</section>
<script src="/static/disease/js/jquery.min.js" type="text/javascript"></script>

{% include "homepage/xjhorse_footer.html" %}

<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->

<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>

