{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>马病数据库 &mdash; 马病详情</title>

    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">
    <link href="/static/disease/css/styles.css" rel="stylesheet">
    <link href="/static/disease/css/top.css" type="text/css" rel="stylesheet" />
    <script src="/static/disease/js/top.js" type="text/javascript"></script>

</head>
<body>
{% load poll_extras %}
{% jump_link %}

<div id="hdsingle" class="container">
	<div class="row clearfix">
        <!--题目-->
		<div class="col-md-12 column">
            <h4>{{ hdxlist.horse_name}}</h4>
            <hr/>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
            <p>名称：{{ hdxlist.horse_name }}</p>
            <p>别名：{{ hdxlist.another_name }}</p>
            <p>简介：{{ hdxlist.introduction}}</p>
		</div>
		<div class="col-md-4 column" align="right">
			{% for i in hdimglist %}
                {% if forloop.first %}
                    <a href={% url 'hdimg' hdxlist.code%} target="view_window">
                    <img src="{{ i.img.url }}"  width="100%" height="260px" />
                    </a>
                {% endif %}
            {% endfor %}
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h4>辩证要点</h4>
            <hr/>
            {% autoescape off %}
            <p>{{ hdbzlist}}</p>
            {% endautoescape %}
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h4>治疗方案</h4>
            <hr/>
            {% autoescape off %}
            <p>{{ hdzllist}}</p>
            {% endautoescape %}
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h4>预防方案</h4>
            <hr/>
            {% autoescape off %}
            <p>{{ hdyflist}}</p>
            {% endautoescape %}
		</div>
	</div>

    <!--切换-->
    <div id="singlehda" class="row clearfix" style="margin-top: 30px">
		<div class="col-md-6 column">
            {% if hltnum != None%}
                <a href={% url 'hdsingle' hltnum.code%}>
                <span>上一篇</span>
                <h2>{{ hltnum.horse_name }}</h2>
            {% endif %}
            </a>
		</div>
		<div class="col-md-5 column">
            {% if hgtnum != None%}
                <a href={% url 'hdsingle' hgtnum.code%}>
                <span>下一篇</span>
                <h2>{{ hgtnum.horse_name }}</h2>
            {% endif %}
            </a>
		</div>

        <!--返回顶部-->
        <a href="#" onclick="gotoTop();return false;" class="totop"></a>
	</div>
</div>

{% include "homepage/xjhorse_footer.html" %}

<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->

<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>

