{% extends 'disease/disease_base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %} 欢迎您！{% endblock %}

{% block content %}
<div class="container">
    <!--查询-->
    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-8 column" style="text-align: center; margin:0 auto 20px">
            <!--<input type="text"/>-->
            <form class="form-inline" role="form" action='{% url 'search'%}'>
                <div class="form-group col-sm-1">
                </div>
                <div class="form-group col-sm-8" style="padding: 0px;">
                    <input id="stext" name="searchname" type="text" class="form-control" style="width: 100%;"/>
                </div>
                <div class="col-sm-2" style="padding: 0px;">
                    <button type="submit" class="btn btn-default"style="width: 100%">{% trans "Search" %}</button>
                </div>
                <div class="form-group col-sm-1">
                </div>
            </form>
        </div>
        <div class="col-md-2 column">
        </div>
    </div>

    <div class="row clearfix">
        <!--列表-->
        <div class="col-md-2 column">
            <div class="panel-group" id="panel-483685">
                {% for p in plist %}
                <div class="panel panel-default">
                    <div id="list_title" class="panel-heading">
                         <a class="panel-title collapsed" data-toggle="collapse" onclick="getDisease({{ p.code }},'')" data-parent="#panel-483685" href="#{{ p.code }}">
                             {{ p.pathogeny_name }}
                         </a>
                    </div>
                    <div id="{{ p.code }}" class="panel-collapse collapse drop-downlist">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!--画布-->
        <div class="col-md-7 column">
            <canvas id="myCanvas"  width="700px" height="511px"></canvas>
        </div>

        <!--公告栏-->
        <div class="col-md-3 column">
            <div class="sidebar">
                <a href={% url 'articleindex'%}><h2>{% trans "Latest Information" %}</h2></a>
                <ul>
                    {% for a in alist %}
                        <li><a href={% url 'id' a.id %}>{{ a.title }}</a></li>
                    {% endfor %}
                <li><a href={% url 'articleindex'%}>更多</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
