{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>马病数据库 &mdash; 疾病维护</title>

    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'disease/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

    <!-- 查询搜索和过滤（jQuery Autocomplete） -->
    <link rel="stylesheet" href="/static/disease/js/jquery-ui.css">

    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">
    <link href="/static/disease/css/maintenance.css" rel="stylesheet">

    <!--分页-->
    <link rel="stylesheet" href="/static/disease/css/style.css">
    <link rel="stylesheet" href="/static/disease/css/jPages.css">
    <link rel="stylesheet" href="/static/disease/css/animate.css">
    <link rel="stylesheet" href="/static/disease/css/github.css">
    <link rel="stylesheet" href="/static/disease/css/page.css">

    <script src="/static/disease/js/jquery-1.8.2.min.js"></script>
    <script src="/static/disease/js/highlight.pack.js"></script>
    <script src="/static/disease/js/tabifier.js"></script>

</head>
<body>
{% load poll_extras %}
{% jump_link %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form class="form-panel" action="/horsedisease/maintenance/" method="post">
            {% csrf_token %}
                <ul class="panel-content">
                    <li>
                        <select name="pacode">
                            <option  value="">请选择病因</option>
                            {% for pa in palist %}
                                <option value="{{ pa.code }}">{{ pa.pathogeny_name }}</option>
                            {% endfor %}
                        </select>

                        <select name="dcode">
                            <option value="">请选择病证</option>
                            {% for d in dlist %}
                                <option value="{{ d.code }}">{{ d.disease_name }}</option>
                            {% endfor %}
                        </select>

                        <select name="pocode">
                            <option  value="">请选择部位</option>
                            {% for po in polist %}
                                <option value="{{ po.code }}">{{ po.position_name }}</option>
                            {% endfor %}
                        </select>

                        <input id="input" name="searchname"/>
                        <button class="button-primary">查询>></button>

                    </li>
                </ul>
            </form>
        </div>
        <div class="col-md-12 column">
            <ul class="panel-content1">
                <li><label class="checkbox"><input type="checkbox" class="allChk" onchange="selectAll()"><a class="allChk">全选</a></label></li>
                <li><button type="button" class="button-danger" id="del_model"><span class="glyphicon glyphicon-trash"></span> 删除选中的马病</button></li>
                <li><a href={% url 'addhd'%}><button type="button" class="button-success"><span class="glyphicon glyphicon-plus"></span> 添加新的马病</button></a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <table cellspacing="0">
                <thead id="title">
                <tr>
                    <th width="65">选择</th>
                    <th width="65">序号</th>
                    <th width="140">马病名称</th>
                    <th width="250">马病别名</th>
                    <th width="630">马病简介</th>
                </tr>
                </thead>
                <tbody id="hdcontent">
                {% for hd in hdlist %}
                    <tr>
                        <li style="display: inline-block;" >
                            <td style="text-align: center"><input type="checkbox" name="subChk" value={{ hd.code }}></td>
                            <td style="text-align: center"></td>
                            <td style="text-align: center"><a href={% url 'modifydetails' hd.code %}>{{ hd.horse_name }}</a></td>
                            <td style="text-align: center">{{ hd.another_name }}</td>
                            <td>{{ hd.introduction }}</td>
                        </li>
                    </tr>
                {% empty %}
                    <tr>
                        <li style="display: inline-block;" >
                            <td colspan="5" style="text-align: center">非常抱歉，查询到0条记录！</td>
                        </li>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--分页-->
    <div class="row clearfix">
		<div class="col-md-1 column">
		</div>
        <div class="holder col-md-10 column" style="text-align: center">
		</div>
        <div class="col-md-1 column">
		</div>
    </div>
</div>

{% include "homepage/xjhorse_footer.html" %}

<!-- 查询关联 -->
<script type="text/javascript" src="/static/disease/js/jquery-ui.js"></script>

<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->

<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

<!-- 分页 -->
<script src="/static/disease/js/js.js"></script>
<script src="/static/disease/js/jPages.js"></script>

<script>
    /* 查询 */
    $(function(){
        console.log("nihao");
        $("#input").autocomplete({
            source: function (request, response) {
                var postdata="searchname="+$("#input").val();
                console.log(postdata);
                $.ajax({
                    url:"/horsedisease/hdsearch",
                    data:postdata,
                    success:function (result) {
                        console.log(result);
                        response( result );
                    }
                });
            }
            // availableTags
        });
    });

    // JavaScript Document
    $(document).ready(function() {
        // 全选
        $(".allChk").click(function() {
            $("input[name='subChk']").prop("checked",this.checked);
        });
        // 单选
        var subChk = $("input[name='subChk']")
        subChk.click(function() {
            $("#allChk").prop("checked", subChk.length == subChk.filter(":checked").length ? true:false);
        });
        /* 批量删除 */
        $("#del_model").click(function() {
            // 判断是否至少选择一项
            var checkedNum = $("input[name='subChk']:checked").length;
            if(checkedNum == 0) {
                alert("请选择至少一项！");
                return;
            }
            // 批量选择
            if(confirm("确定要删除所选项目？")) {
                var checkedList = new Array();
                $("input[name='subChk']:checked").each(function() {
                    checkedList.push($(this).val());
                });
                $.ajax({
                    type: "POST",
                    url: "/horsedisease/deletemore/",
                    data: {'delitems':checkedList.toString(),csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function(result) {
                        $("[name ='subChk']:checkbox").attr("checked", false);
                        window.location.reload();
                        alert("删除成功！");
                    }
                });
            }
        });
    });

    /* 序号 */
    window.onload = function(){
        var oTable = document.getElementById("hdcontent");
        for(var i=0;i<oTable.rows.length;i++){
            oTable.rows[i].cells[1].innerHTML = (i+1);
            if(i%2==0)    //偶数行
                oTable.rows[i].className = "ys01";
        }
    }

    /* 分页 */
    $(function() {
        /* initiate plugin assigning the desired button labels  */
        $("div.holder").jPages({
            //设置页数按钮所在的层
            containerID : "hdcontent",//显示数据所在的id
            first       : "首页",
            previous    : "上一页",
            next        : "下一页",
            last        : "尾页",
            perPage     :15,      //每页显示数据为多少行
            startPage   :1,       //起始页
            startRange  :10,      //开始页码为10页
            midRange    :10,       //最多显示几个页码，其余用..代替
            endRange    :10,       //结束页码为两个
        });
    });

</script>

</body>
</html>
