{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>马病数据库 &mdash; 疾病修改</title>
    
    <!-- 加载静态文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

    <!--自写样式-->
    <link href="/static/disease/css/common.css" rel="stylesheet">
    <link href="/static/disease/css/maintenance.css" rel="stylesheet">

</head>
<body>
{% load poll_extras %}
{% jump_link %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form action="" class="form-horizontal" id="hdmodify">
                {% csrf_token %}

                <div class="col-md-12 control-label">
                    <div class="col-md-12">
                        <label>名称：</label>
                        <input class="divinput" type="text" name="hdname" value="{{ hdxlist.horse_name }}">
                    </div>
                </div>

                <div class="col-md-12 control-label">
                    <div class="col-md-12">
                        <label>别名：</label>
                        <input class="divinput" type="text" name="athname" value="{{ hdxlist.another_name }}">
                    </div>
                </div>

                <div class="col-md-12 control-label">
                    <div class="col-md-12">
                        <label>简介：</label>
                        <input id="border" name="hdintroduction" type="text" value="{{ hdxlist.introduction}}">
                    </div>
                </div>

                <div class="col-md-12 control-border">
                    <label>辩证要点：</label>
                    <div class="col-md-12 summernote" id="hdbz">
                        {% autoescape off %}
                        <p>{{ hdbzlist}}</p>
                        {% endautoescape %}
                    </div>
                </div>

                <div class="col-md-12 control-border">
                    <label>治疗方案：</label>
                    <div class="col-md-12 summernote" id="hdzl">
                        {% autoescape off %}
                        <p>{{ hdzllist}}</p>
                        {% endautoescape %}
                    </div>
                </div>

                <div class="col-md-12 control-border">
                    <label>预防方案：</label>
                    <div class="col-md-12 summernote" id="hdyf">
                        {% autoescape off %}
                        <p>{{ hdyflist}}</p>
                        {% endautoescape %}
                    </div>
                </div>

                <div class="col-md-12" style="text-align: center">
                    <button class="button-submit" id="savehd">保存</button>
                    <button class="button-reset" id="resethd">重置</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% include "homepage/xjhorse_footer.html" %}

<!-- Bootstrap 核心JavaScript -->
<!-- 放在文档尾部使得页面加载更快> -->

<script src="{% static 'javascript/main.js' %}"></script>

<!-- include libraries(jQuery, bootstrap) -->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->
<script src="/static/disease/bootstrap/js/bootstrap.js"></script>
<!-- include summernote css/js-->
<link href="/static/disease/summernote/summernote.css" rel="stylesheet">
<script src="/static/disease/summernote/summernote.js"></script>

<script>
    /* 可视化HTML编辑器 */
    $(document).ready(function() {
        $('.summernote').summernote();
    });

    /* 保存按钮 */
    $(document).ready(function(){
        $("#savehd").click(function(){
            var formdata=new FormData($("#hdmodify")[0]);
            formdata.append("hdbz",$("#hdbz").summernote('code'))
            formdata.append("hdzl",$("#hdzl").summernote('code'))
            formdata.append("hdyf",$("#hdyf").summernote('code'))
           $.ajax({
               type: "POST",
               url: "/horsedisease/hdmodify/{{ hdxlist.code }}/",
               data: formdata,
               processData: false,  // 不处理数据
               contentType: false,   // 不设置内容类型
               success: function(result) {
                   alert("保存成功！");
                   //window.location.reload();
               }
           });
        });
    });

    /* 重置按钮 */
    $(document).ready(function(){
        $("#resethd").click(function(){
            alert("确认重置吗？");
            window.location.reload();
        });
    });

</script>

</body>
</html>
