{% extends "bootstrap/bootstrap.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "My Application" %}{% endblock %}
{% block head_js %}
    <script src="{% static 'permission/javascript/userapplication.js' %}"></script>
{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'permission/css/ptable.css' %}" type="text/css"/>
{% endblock %}
{% block inner-content %}
    <h1>{% trans "My Application" %}</h1>
    <hr>
    <table class="ptable ptable-rounded" id="application-table">
        <thead>
        <tr>
            <th width="80px">{% trans "Enabled Applications" %}</th>
            <th>{% trans "Participant" %}</th>
            <th>{% trans "Operation" %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "permission/user_application_partial.html" %}
        </tbody>
    </table>
    <br>
    <div id="add-application-btn">
        {% include "permission/user_application_add_btn.html" %}
    </div>
{% endblock %}
