{% load i18n %}
{% if my_applications.count < 5 %}
    <button type="button" class="btn btn-success" id="js-add-application"
            data-url="{% url 'my_application_add' %}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        {% trans "Add Application" %}
    </button>
{% endif %}
