{% load i18n %}
{% load bootstrap3 %}

<form method="post" action="{% url 'my_application_add' %}" class="js-add-application-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Select and enable my application" %}</h4>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div id = "participant">
            {% trans "Please choose a application!" %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">{% trans "Enable application" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>
