{% load i18n %}

{% if my_applications %}
    {% for my_application in my_applications %}
        <tr>
            <td>{{ my_application.application}}</td>
            <td>{{ my_application.application.participant}}</td>
            <td>
                <button type="button"
                        class="btn btn-danger js-application-abandon"
                        data-url="{% url 'my_application_abandon' my_application.id %}">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                    {% trans "Abandon" %}
                </button>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="3">
            {% trans "Notice: You didn't select your applications yet!" %}
        </td>
    </tr>
{% endif %}
