{% load i18n %}

<form method="post" action="{% url 'my_application_abandon' application.id %}" class="js-abandon-application-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Confirm abandon application" %}</h4>
    </div>
    <div class="modal-body">
        <p class="lead">
            {% blocktrans with application_name=application.application %}Are you sure you want to abandon <strong>{{ application_name }}</strong> application?{% endblocktrans %}
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">{% trans "Abandon Application" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>
