.error-box {
    /* basic */
    background-color: #ffffff;
    border-style: groove;
    border-width: 5px;
    border-color: red;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    /* border-radius */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.horizontal-center {
    display: table;
    margin: 0 auto;
}

.center-button{
    margin-top: 15px;
    margin-bottom: 15px;
}
