<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% trans "Xinjiang Horse" %} - {% block title %}{% endblock %}
    </title>

    <!-- 加载静态文件 -->
    <script src="{% static 'breeds/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'breeds/js/bootstrap.min.js' %}"></script>
    {% block head_js %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'breeds/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'breeds/css/breeds.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'breeds/css/ptable.css' %}" type="text/css"/>
    {% block head_css %}
    {% endblock %}
</head>
<body>
{% include "breeds/navbar.html" %}
<div id="main-content" class="container">
    {% block content %}
    {% endblock %}
</div>
{% include "homepage/xjhorse_footer.html" %}
</body>
</html>
