{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "My Horse Breeds List" %}
{% endblock %}


{% block content %}
    <h3>{% trans "My Horse Breeds List" %}（{{ object_list.count }}）</h3>
    <a href="{% url "breeds_manage_create" %}" class="btn btn-primary">{% trans 'Create Breed' %}</a>
    <table  class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>id</th>
            <th>{% trans 'Breed Name' %}[en_us]</th>
            <th>{% trans 'Breed Name' %}[zh_hans]</th>
            <th>{% trans 'Breed Name' %}[ug_ar]</th>
            <th>{% trans 'Breed Name' %}[kk_ar]</th>
            <th align="center">{% trans 'Qualified' %}</th>
            <th>{% trans 'Comment' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'breeds_manage_detail' object.id %}">{{ object.id }}</a>
                </td>
                <td>
                    {{ object.name_en_us|safe }}
                </td>
                <td>
                    {{ object.name_zh_hans|safe }}
                </td>
                <td>
                    {{ object.name_ug_ar|safe }}
                </td>
                <td>
                    {{ object.name_kk_ar|safe }}
                </td>
                <td align="center">
                    {% if object.qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </td>
                <td>
                    {% if object.comment %}
                        {{ object.comment|safe }}
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url "breeds_manage_create" %}" class="btn btn-primary">{% trans 'Create Breeds' %}</a>
{% endblock %}
