{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ breed.name }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>{{ breed.name }}</h3>
            <div>
                <img class="img-responsive img-rounded pull-right" src="{{ breed.stallion_photo.url }}">
            </div>
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'zh-hans' %}
                <div class="breed-photo"><h5>{% trans "Breeds Description" %}</h5></div>
                <div class="chinese-indent">{{ breed.description }}</div>
                <div class="breed-photo"><h5>{% trans "Breeding History" %}</h5></div>
                <div class="chinese-indent">{{ breed.breeding_history }}</div>
                <div class="breed-photo"><h5>{% trans "Current Breeding Country and Region" %}</h5></div>
                <div class="chinese-indent">{{ breed.get_country_region }}</div>
            {% else %}
                <div class="breed-photo"><h5>{% trans "Breeds Description" %}</h5></div>
                <div>{{ breed.description }}</div>
                <div class="breed-photo"><h5>{% trans "Breeding History" %}</h5></div>
                <div>{{ breed.breeding_history }}</div>
                <div class="breed-photo"><h5>{% trans "Current Breeding Country and Region" %}</h5></div>
                <div>{{ breed.get_country_region }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
