{% load i18n %}
<!-- 针对bootstrap_form-->
{% load bootstrap3 %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    <a href="{% url "breeds_manage_list" %}" class="btn btn-success">{% trans 'Cancel' %}</a>
</form>
