{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}
{% load rules %}

{% block title %}
    {% trans "Breed Detail" %}
{% endblock %}


{% block content %}
    <h3>{% trans "Breed Detail" %}</h3>
    {% has_perm 'breeds.change_breed' user object as can_edit_breed %}
    {% if can_edit_breed %}
        <a href="{% url "breeds_manage_update" object.id %}" class="btn btn-warning">{% trans 'Update Breed' %}</a>
    {% endif %}
    {% has_perm 'breeds.delete_breed' user object as can_delete_breed %}
    {% if can_delete_breed %}
        <a href="{% url "breeds_manage_delete" object.id %}" class="btn btn-danger">{% trans 'Delete Breed' %}</a>
    {% endif %}
    <a href="{% url "breeds_manage_list" %}" class="btn btn-success">{% trans 'Back to Breeds List' %}</a>
    <h5>{% trans 'Breed Name' %}[en_us]</h5>
    <div>{{ object.name_en_us }}</div>
    <br>
    <h5>{% trans 'Breed Name' %}[zh_hans]</h5>
    <div>{{ object.name_zh_hans }}</div>
    <br>
    <h5>{% trans 'Breed Name' %}[en_ug_ar]</h5>
    <div>{{ object.name_ug_ar }}</div>
    <br>
    <h5>{% trans 'Breed Name' %}[en_kk_ar]</h5>
    <div>{{ object.name_kk_ar }}</div>
    <br>
    <h5>{% trans 'Breeds Description' %}[en_us]</h5>
    <divd>{{ object.description_en_us }}</divd>
    <br>
    <h5>{% trans 'Breeds Description' %}[zh_hans]</h5>
    <div>{{ object.description_zh_hans }}</div>
    <br>
    <h5>{% trans 'Breeds Description' %}[en_ug_ar]</h5>
    <div>{{ object.description_ug_ar }}</div>
    <br>
    <h5>{% trans 'Breeds Description' %}[en_kk_ar]</h5>
    <div>{{ object.description_kk_ar }}</div>
    <br>
    <h5>{% trans 'Breeding History' %}[en_us]</h5>
    <div>{{ object.breeding_history_en_us }}</div>
    <br>
    <h5>{% trans 'Breeding History' %}[zh_hans]</h5>
    <div>{{ object.breeding_history_zh_hans }}</div>
    <br>
    <h5>{% trans 'Breeding History' %}[en_ug_ar]</h5>
    <div>{{ object.breeding_history_ug_ar }}</div>
    <br>
    <h5>{% trans 'Breeding History' %}[en_kk_ar]</h5>
    <div>{{ object.breeding_history_kk_ar }}</div>
    <br>
    <h5>{% trans 'Stallion Photo' %}[en_ug_ar]</h5>
    <div><img src="{{ object.stallion_photo.url }}"></div>
    <br>
    {% if object.mare_photo %}
        <h5>{% trans 'Mare Photo' %}[en_kk_ar]</h5>
        <div><img src="{{ object.mare_photo.url }}"></div>
        <br>
    {% endif %}
    <br>
    {% has_perm 'breeds.change_breed' user object as can_edit_breed %}
    {% if can_edit_breed %}
        <a href="{% url "breeds_manage_update" object.id %}" class="btn btn-warning">{% trans 'Update Breed' %}</a>
    {% endif %}
    {% has_perm 'breeds.delete_breed' user object as can_delete_breed %}
    {% if can_delete_breed %}
        <a href="{% url "breeds_manage_delete" object.id %}" class="btn btn-danger">{% trans 'Delete Breed' %}</a>
    {% endif %}
    <a href="{% url "breeds_manage_list" %}" class="btn btn-success">{% trans 'Back to Breeds List' %}</a>
{% endblock %}
