{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Horse Breeds List" %}
{% endblock %}


{% block content %}
    <h3>{{ country_region.name }}{% trans "Horse Breeds List" %}</h3>
    <div class="row">
        {% for breed in country_region.breeds.all %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="row-space horse-name">
                    <a href="{% url 'breeds_breed' breed.id %}"> {{ breed.name }} </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
