{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "World Horse Breeds Distribution" %}
{% endblock %}


{% block content %}
    <h3>{% trans "World Horse Breeds Distribution" %}</h3>
    {% for continent in continents %}
        <h4>{{ continent.name }}</h4>
        <hr>
        <div class="row">
            {% for country in continent.get_countries %}
                {% if country.breeds.count %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="{% url 'breeds_country_region' country.code %}">
                            <div class="flag">
                                <img src="{{ country.flag.url }} ">
                                <div class="circle-text">
                                    <div>{{ country.breeds.count }}</div>
                                </div>
                                <span>{{ country.name }}</span>

                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
