{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Horse Breeds" %}
{% endblock %}


{% block content %}
    <!-- 轮播(Carousel)容器 -->
    <div id="slide" class="carousel slide" data-ride="carousel">

        <!-- 指示器 -->
        <ol class="carousel-indicators">
            {% for carousel in carousels %}
                {% if carousel.active %}
                    <li data-target="#slide" data-slide-to="{{ carousel.id }}" class="active"></li>
                {% else %}
                    <li data-target="#slide" data-slide-to="{{ carousel.id }}"></li>
                {% endif %}
            {% endfor %}
        </ol>

        <!-- 图片轮播 -->
        <div class="carousel-inner" role="listbox">

            {% for carousel in carousels %}
                {% if carousel.active %}
                    <div class="item active">
                        <img src="{{ carousel.photo.url }}">
                        <div class="carousel-caption">
                            <p>{{ title }}</p>
                            <h3>{{ carousel.new_ranking }}、{{ carousel.breed_name }}</h3>
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <img src="{{ carousel.photo.url }}">
                        <div class="carousel-caption">
                             <p>{{ title }}</p>
                            <h3>{{ carousel.new_ranking }}、{{ carousel.breed_name }}</h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- 上一个/下一个 -->
        <a class="left carousel-control" href="#slide" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#slide" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="{% url 'breeds_list' %}">
                <div id="thumbnails" class="list"><span>{% trans "List" %}</span></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="{% url 'breeds_distribution' %}">
                <div id="thumbnails" class="distribution"><span>{% trans "Distribution" %}</span></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="{% url 'breeds_video' %}">
                <div id="thumbnails" class="video"><span>{% trans "Video" %}</span></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="{% url 'breeds_album' %}">
                <div id="thumbnails" class="album"><span>{% trans "Album" %}</span></div>
            </a>
        </div>
    </div>

{% endblock %}
