{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "World Horse Breeds List" %}
{% endblock %}


{% block content %}
    <h3>{% trans "World Horse Breeds List" %}（{{ total }}）</h3>
    {% for initial, breedsdict in breeds.items %}
        <h5>{{ initial }}（{{ breedsdict|length }}）</h5>
        <hr>
        <div class="row">
            {% for key, breed in breedsdict.items %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="row-space horse-name">
                        <a href="{% url 'breeds_breed' breed.id %}"> {{ breed.name }} </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
