{% load i18n %}
{% load static %}
{% load rules %}
<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->

<!-- 顶部静态导航栏 -->
<nav class="navbar navbar-toggler navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- 手机等小屏幕导航栏折叠后依然在导航栏左侧保留 -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'breeds/images/logo.png' %}">
            </a>
            <a class="navbar-brand brand-name" href="{% url 'home' %}">
                <p>{% trans "Xinjiang Horse" %}</p>
            </a>
            <!-- 手机等小屏幕导航栏菜单折叠为右侧按钮 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- 一下内容在手机等小屏幕导航栏折叠后将从导航栏消失，通过点击右侧按钮可以展开 -->
        <div id="collapsed-menu" class="navbar-collapse collapse"><!-- 折叠内容开始 -->
            <!-- 左对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-left">
                <li><a href="{% url 'breeds_home' %}">{% trans "Breeds Home" %}</a></li>
                <li><a href="{% url 'breeds_list' %}">{% trans "List" %}</a></li>
                <li><a href="{% url 'breeds_distribution' %}">{% trans "Distribution" %}</a></li>
                <li><a href="{% url 'breeds_video' %}">{% trans "Video" %}</a></li>
                <li><a href="{% url 'breeds_album' %}">{% trans "Album" %}</a></li>
            </ul>
            <!-- 右对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li id="li_login"><a id="logoin" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                        {% has_perm 'breeds.add_breeds' user as can_manage_breeds %}
                        {% if can_manage_breeds %}
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'breeds_manage_list' %}">{% trans "Breeds Managememt" %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div><!-- 折叠内容结束 -->
    </div>
</nav>

