{% extends "breeds/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Horse Breeds Videos" %}
{% endblock %}


{% block content %}
    <h3>{% trans "Horse Breeds Videos" %}</h3>
    <div class="row">
        {% for my_video in videos %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <video preload="none" poster="{{ my_video.poster.url }}" controls>
                    <source src="{{ my_video.url }}"
                            type="video/mp4">
                    {% trans "Your browser does not support the video tag." %}
                </video>
                <p class="video-title">{{ my_video.title }}({{ my_video.duration }})</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
