{% load i18n %}
{% load widget_tweaks %}
<form method="post" enctype="multipart/form-data" action="{% url 'certificate' 5 %}" id="js-authorization-photo-certificate">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Authorization Photo Certification" %}</h4>
    </div>
    <div class="modal-body">
        <div style="background-color: #EED592; padding: 20px; border-radius: 10px; box-shadow: #3c3c3c;"
             class="center-block">

            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
        </div>
        <div id="authorization_certificate_result"></div>
    </div>
    <div class="modal-footer">
        <div class="btns">
            <button type="submit" class="btn btn-success">{% trans "Authorization Photo Certification" %}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
        </div>

    </div>
</form>

<script>
    /**
     * Created by zhangtaihong on 17/12/2.
     */
    $(function () {
        $("#id_authorization_photo_certificate_status").val("2");
        var saveForm = function () {
            var form = $(this);
            var formData = new FormData(form[0])
            Pace.track(function () {
                $.ajax({
                    url: form.attr("action"),
                    data: formData,
                    type: form.attr("method"),
                    enctype: "multipart/form-data",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.form_is_valid) {

                            // 保存结果成功
                            // 隐藏按钮
                            $(".btn-success").hide();
                            // 更新授权委托认证界面
                            $("#authorization_certificate_result").html(data.html_certification_result);
                            // 更新实名认证主界面
                            $("#certification-main").html(data.html_certification);
                        }
                        else {
                            $("#modal-dialog .modal-content").html(data.html_form);
                        }
                    }
                });
            });
            return false;
        };
        <!--保存单位授权委托认证信息-->
        $("#modal-dialog").on("submit", "#js-authorization-photo-certificate", saveForm);
    });
</script>
