<!--  身份证认证结果 -->
{% load i18n %}
<div class="horizontal-center">
    <div class="certificate-result">
        <span>{% trans "Result" %}</span>
        <span>{{ certificate.get_authorization_photo_certificate_status_display }}</span>
    </div>
</div>
