{% extends "bootstrap/bootstrap.html" %}
{% load i18n %}
{% load static %}


{% block head_title %}
    {% trans "Certification" %} {% block head_title_step %}{% endblock %}
{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'certification/css/cropit.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'certification/css/pace-center-atom.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'certification/css/ptable.css' %}" type="text/css"/>

{% endblock %}
{% block head_js %}
    <script src="{% static 'certification/javascript/jquery.cropit.js' %}"></script>
    <script src="{% static 'certification/javascript/certification.js' %}"></script>
    <script src="{% static 'certification/javascript/sha.js' %}"></script>
    <script src="{% static 'certification/javascript/pace.min.js' %}"></script>
    <script src="{% static 'certification/javascript/minority_handle.js' %}"></script>
{% endblock %}

{% block inner-content %}
    <h1>{% trans "Certification" %} {% block step_name %}{% endblock %}</h1>
    <hr>

    {% block step %}{% endblock %}
    {% block step_content %}{% endblock %}

{% endblock %}
