{% load i18n %}

<table class="ptable ptable-rounded">
    <thead>
    <tr>
        <th>{% trans "Certification Type" %}</th>
        <th align="center">{% trans "Certification Status" %}</th>
        <th align="center">{% trans "Operation" %}</th>
        <th align="center">{% trans "Download Sample" %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="js-id-photo">{% trans "ID Photo Certification" %}</td>
        <td align="center">
            {% if certificate.id_photo_certificated %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td>
            {% if certificate.id_photo_certificated %}
                <button type="button"
                        class="btn btn-success js-certification-detail"
                        data-url="{% url 'certificate_detail' 1 %}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% trans "Certification Detail" %}
                </button>
            {% else %}
                <button type="button"
                        class="btn btn-primary js-certification"
                        data-url="{% url 'certificate' 1 %}">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    {% trans "Start Certification" %}
                </button>
            {% endif %}
        </td>
        <td><a target="_blank"
               href="/media/certification/id_photo_sample.png"> {% trans "ID Photo Sample" %}</a>
        </td>
    </tr>
    <tr>
        <td id="js-user-photo">{% trans "User Photo Certification" %}</td>
        <td align="center">
            {% if certificate.user_photo_certificated %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td>
            {% if certificate.user_photo_certificated %}
                <button type="button"
                        class="btn btn-success js-certification-detail"
                        data-url="{% url 'certificate_detail' 2 %}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% trans "Certification Detail" %}
                </button>
            {% else %}
                {% if certificate.id_photo_certificated %}
                    <button type="button"
                            class="btn btn-primary js-certification"
                            data-url="{% url 'certificate' 2 %}">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        {% trans "Start Certification" %}
                    </button>
                {% else %}
                    {% trans "Please finish ID photo Certification first" %}
                {% endif %}
            {% endif %}
        </td>
        <td><a target="_blank"
               href="/media/certification/user_photo_sample.png"> {% trans "User Photo Sample" %}</a>
        </td>
    </tr>
    <tr>
        <td id="js-mobile-sms">{% trans "Mobile SMS Certification" %}</td>
        <td align="center">
            {% if certificate.mobile_certificated %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td>
            {% if certificate.mobile_certificated %}
                <button type="button"
                        class="btn btn-success js-certification-detail"
                        data-url="{% url 'certificate_detail' 3 %}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% trans "Certification Detail" %}
                </button>
            {% else %}
                {% if certificate.user_photo_certificated %}
                    <button type="button"
                            class="btn btn-primary js-certification"
                            data-url="{% url 'certificate' 3 %}">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        {% trans "Start Certification" %}
                    </button>
                {% else %}
                    {% trans "Please finish User photo Certification first" %}
                {% endif %}
            {% endif %}
        </td>
        <td></td>
    </tr>
    <tr>
        <td id="js-corporation-photo">{% trans "Corporation Photo Certification" %}</td>
        <td align="center">
            {% if certificate.corporation_photo_certificate_status == 4 %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td>
            {% if certificate.corporation_photo_certificate_status == 1 %}
                {% if certificate.mobile_certificated %}
                    <button type="button"
                            class="btn btn-primary js-certification"
                            data-url="{% url 'certificate' 4 %}">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        {% trans "Start Certification" %}
                    </button>
                {% else %}
                    {% trans "Please finish mobile Certification first" %}
                {% endif %}
            {% else %}
                <button type="button"
                        class="btn btn-success js-certification-detail"
                        data-url="{% url 'certificate_detail' 4 %}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% trans "Certification Detail" %}
                </button>
            {% endif %}
        </td>
        <td><a target="_blank"
               href="/media/certification/corporation_photo_sample.png"> {% trans "Corporation Photo Sample" %}</a>
        </td>
    </tr>
    <tr>
        <td id="js-authorization-photo">{% trans "Authorization Photo Certification" %}</td>
        <td align="center">
            {% if certificate.authorization_photo_certificate_status == 4 %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td>
            {% if certificate.authorization_photo_certificate_status == 1 %}
                {% if certificate.corporation_photo_certificate_status == 4 %}
                    <button type="button"
                            class="btn btn-primary js-certification"
                            data-url="{% url 'certificate' 5 %}">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        {% trans "Start Certification" %}
                    </button>
                {% else %}
                    {% trans "Please finish Corporation photo Certification first" %}
                {% endif %}
            {% else %}
                <button type="button"
                        class="btn btn-success js-certification-detail"
                        data-url="{% url 'certificate_detail' 5 %}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% trans "Certification Detail" %}
                </button>
            {% endif %}
        </td>

        <td>
            {% if certificate.corporation_photo_certificate_status == 4 %}
                <a target="_blank" href="{% url 'authorization_pdf' %}"> {% trans "Authorization Doc Sample" %}</a>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

<div style="margin-top: 20px;"><strong> {% trans "FAQ" %} </strong></div>
<div class="help" id="js-help-why-certificate">
    {% trans "1. Why do you need to certificate?" %}
</div>
<div class="help" id="js-help-certificate-again">
    {% trans "2. If i already have finished certificating, could i certificate one more time again?" %}
</div>

<script>
    var idPhoto = document.getElementById('js-id-photo');
    idPhoto.onmouseover = function () {
        this.style.backgroundColor = '#00979c';
    };
    idPhoto.onmouseout = function () {
        this.style.backgroundColor = '';
    };
    idPhoto.style.cursor = 'pointer';
    idPhoto.onclick = function () {
        alert("身份证认证步骤：\n" +
            "1、使用手机或照相机对你的身份证进行拍照；\n" +
            "2、将拍好的身份证照片导入正在使用该平台的计算机；\n" +
            "3、点击右侧的【开始认证】；\n" +
            "4、将身份证照片文件拖入绿色区域，或者点击【选择您的身份证照片文件】，然后选择你的身份证照片文件；\n" +
            "5、点击【上传并认证您的身份证照片】，平台会自动完成认证。");
    };

    var userPhoto = document.getElementById('js-user-photo');
    userPhoto.onmouseover = function () {
        this.style.backgroundColor = '#00979c';
    };
    userPhoto.onmouseout = function () {
        this.style.backgroundColor = '';
    };
    userPhoto.style.cursor = 'pointer';
    userPhoto.onclick = function () {
        alert("用户照片认证步骤：\n" +
            "1、你必须先完成身份证认证，才能进行用户照片认证；\n" +
            "2、使用手机或照相机拍一张你手持身份证的上半身标准照片；\n" +
            "3、将拍好的照片导入正在使用该平台的计算机；\n" +
            "4、点击右侧的【开始认证】；\n" +
            "5、将照片文件拖入绿色区域，或者点击【选择您的照片文件】，然后选择你的照片文件；\n" +
            "6、点击【上传并认证您的照片】，平台会自动完成认证。");
    }

    var jsMobileSMS = document.getElementById('js-mobile-sms');
    jsMobileSMS.onmouseover = function () {
        this.style.backgroundColor = '#00979c';
    };
    jsMobileSMS.onmouseout = function () {
        this.style.backgroundColor = '';
    };
    jsMobileSMS.style.cursor = 'pointer';
    jsMobileSMS.onclick = function () {
        alert("手机短信认证步骤：\n" +
            "1、你必须先完成用户照片认证，才能进行手机短信认证；\n" +
            "2、点击右侧的【开始认证】；\n" +
            "3、输入你本人的手机号码；\n" +
            "4、点击【获取短信验证码】；\n" +
            "5、输入你收到的短信验证码；\n" +
            "6、点击【短信验证】。\n");
    }


    var jsCorporationPhoto = document.getElementById('js-corporation-photo');
    jsCorporationPhoto.onmouseover = function () {
        this.style.backgroundColor = '#00979c';
    };
    jsCorporationPhoto.onmouseout = function () {
        this.style.backgroundColor = '';
    };
    jsCorporationPhoto.style.cursor = 'pointer';
    jsCorporationPhoto.onclick = function () {
        alert("法人证书认证步骤：\n" +
            "1、你必须先完成手机短信认证，才能进行法人证书认证；\n" +
            "2、扫描或拍照单位的营业执照或单位的法人证书；\n" +
            "3、将扫描或拍好的照片导入正在使用该平台的计算机；\n" +
            "4、点击右侧的【开始认证】；\n" +
            "5、将法人证书上相关的内容填入表单；\n" +
            "6、点击【选取文件】来选择准备好的法人证书图片文件；\n" +
            "7、点击【法人证书认证】。\n");
    }


    var jsAuthorizationPhoto = document.getElementById('js-authorization-photo');
    jsAuthorizationPhoto.onmouseover = function () {
        this.style.backgroundColor = '#00979c';
    };
    jsAuthorizationPhoto.onmouseout = function () {
        this.style.backgroundColor = '';
    };
    jsAuthorizationPhoto.style.cursor = 'pointer';
    jsAuthorizationPhoto.onclick = function () {
        alert("单位授权委托认证步骤：\n" +
            "1、下载并打印单位授权委托书；\n" +
            "2、在单位授权委托书上签字并加盖单位公章；\n" +
            "3、扫描或拍照签字并加盖单位公章的单位授权委托书；\n" +
            "4、点击右侧的【开始认证】；\n" +
            "5、将扫描或拍好的照片导入正在使用该平台的计算机；\n" +
            "6、点击【选取文件】来选择准备好的授权委托书图片文件；\n" +
            "7、点击【单位授权委托认证】。\n");
    }

    var whyCertificate = document.getElementById('js-help-why-certificate');
    whyCertificate.onmouseover = function () {
        this.style.backgroundColor = '#00979c';
    };
    whyCertificate.onmouseout = function () {
        this.style.backgroundColor = '';
    };
    whyCertificate.style.cursor = 'pointer';
    whyCertificate.onclick = function () {
        alert("一方面是国家互联网信息办公室发布的《互联网用户账号名称管理规定》要求，" +
            "另一方面，本平台的一些操作涉及个人权益、单位权益、电子支付等，实名认证是重要的安全措施！");
    };

    var certificateAgain = document.getElementById('js-help-certificate-again');
    certificateAgain.onmouseover = function () {
        this.style.backgroundColor = '#00979c';
    };
    certificateAgain.onmouseout = function () {
        this.style.backgroundColor = '';
    };
    certificateAgain.style.cursor = 'pointer';
    certificateAgain.onclick = function () {
        alert("如果你已经完成了某项实名认证，自己是无法撤销的！如需重新认证，必须申请平台管理人员撤销你以前的认证记录，然后才能进行重新认证！");
    };
</script>
