{% extends "certification/base.html" %}

{% load i18n %}
{% load static %}

{% block step_content %}
    <div class="horizontal-center">
        <div id="certification-main">
            {% include "certification/certification_partial.html" %}
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
