{% load i18n %}
{% load widget_tweaks %}
<form method="post" enctype="multipart/form-data" action="{% url 'certificate' 4 %}"
      id="js-corporation-photo-certificate">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Corporation Photo Certification" %}</h4>
    </div>
    <div class="modal-body">
        <div style="background-color: #EED592; padding: 20px; border-radius: 10px; box-shadow: #3c3c3c;"
             class="center-block">

            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
            <input type="hidden" id="csrf_token" name="csrf_token" value={{ csrf_token }}>
            <input type="hidden" id="id_user" name="id_user" value={{ request.user.id }}>

        </div>
        <div id="corporation_certificate_result"></div>
    </div>
    <div class="modal-footer">
        <div class="btns">
            <button type="submit" class="btn btn-success">{% trans "Corporation Photo Certification" %}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
        </div>

    </div>
</form>
<script>
    /**
     * 张太红创建于2017/12/15.
     */
    $(function () {
        var saveForm = function () {
            var form = $(this);
            var formData = new FormData(form[0])
            var userID = document.getElementById('id_user').value;
            var uscc = document.getElementById('id_uscc').value;
            var csrfToken = document.getElementById('csrf_token').value;

            Pace.track(function () {
                $.ajax({
                    url: form.attr("action"),
                    data: formData,
                    type: form.attr("method"),
                    enctype: "multipart/form-data",
                    processData: false,
                    contentType: false,
                    beforeSend: function (xhr) {
                        // 向讯服务器发送POST请求之前，先设置CSRF Token
                        xhr.setRequestHeader("X-CSRFToken", csrfToken);
                    },
                    success: function (data) {
                        if (data.form_is_valid) {
                            // 更新certification表
                            updateCertification(userID, uscc, csrfToken);
                            // 保存结果成功
                            // 更新法人证书认证界面
                            $("#corporation_certificate_result").html(data.html_certification_result);
                            // 更新实名认证主界面
                            $("#certification-main").html(data.html_certification);
                        }
                        else {
                            $("#modal-dialog .modal-content").html(data.html_form);
                        }
                    }
                });
            });
            return false;
        };

        var updateCertification = function (userID, uscc, csrfToken) {
            var myFormData = new FormData();
            myFormData.append('user', userID);
            myFormData.append('uscc', uscc);
            myFormData.append('corporation_photo_certificate_status', 2);
            $.ajax({
                url: '/certification/4',
                type: 'POST',
                data: myFormData,
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    // 向讯服务器发送POST请求之前，先设置CSRF Token
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                },
                success: function (data) {
                    // 隐藏按钮
                    $(".btn-success").hide();
                    // 更新法人证书认证界面
                    $("#corporation_certificate_result").html(data.html_certification_result);
                    // 更新实名认证主界面
                    $("#certification-main").html(data.html_certification);
                }
            });
            return false;
        };
        <!--1、保存单位信息，2、保存法人证书认证信息-->
        $("#modal-dialog").on("submit", "#js-corporation-photo-certificate", saveForm);

    });
</script>
