{% load i18n %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans "Corporation Photo Certification Detail" %}</h4>
</div>
<div class="modal-body">
    <div class="horizontal-center">
        <table class="ptable ptable-rounded" align="center">
            <thead>
            <tr>
                <th>{% trans "Result" %}</th>
                <th>{{ certificate.get_corporation_photo_certificate_status_display }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% trans "Unified social credit code" %}</td>
                <td>{{ corporation.uscc }}</td>
            </tr>
            <tr>
                <td>{% trans "Corporation Name" %}</td>
                <td>{{ corporation.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Corporation Type" %}</td>
                <td>{{ corporation.corporation_type }}</td>
            </tr>
            <tr>
                <td>{% trans "Domicile" %}</td>
                <td>{{ corporation.domicile }}</td>
            </tr>
            <tr>
                <td>{% trans "Legal Representative" %}</td>
                <td>{{ corporation.legal_representative }}</td>
            </tr>
            </tbody>
        </table>
        <img src="{{ corporation.corporation_photo.url }}" width="460px">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
</div>
