<!--  身份证认证结果 -->
{% load i18n %}
<div class="horizontal-center">
    <table class="ptable ptable-rounded" width="460px">
        <thead>
        <tr>
        	<th>{% trans "Result" %}</th>
            <th>{% trans "Identity Photo Certificated by AI" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans "User Name" %}</td>
            <td>{{ certificate.userName }}</td>
        </tr>
        <tr>
            <td>{% trans "Gender" %}</td>
            <td>{{ certificate.gender }}</td>
        </tr>
        <tr>
            <td>{% trans "Ethnicity" %}</td>
            <td>{{ certificate.ethnicity }}</td>
        </tr>
        <tr>
            <td>{% trans "Birthday" %}</td>
            <td>{{ certificate.birthday }}</td>
        </tr>
        <tr>
            <td>{% trans "Identity" %}</td>
            <td>{{ certificate.identity }}</td>
        </tr>
        <tr>
            <td>{% trans "Address" %}</td>
            <td>{{ certificate.address }}</td>
        </tr>
        </tbody>
    </table>
</div>
