{% load i18n %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans "ID Photo Certification Detail" %}</h4>
</div>
<div class="modal-body">
    <div class="horizontal-center">
        <img src="{{ certificate.id_photo.url }}">
    </div>
    {% include "certification/id_photo_certificate_result.html" %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
</div>
