{% load i18n %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans "ID Photo Certification" %}</h4>
</div>
<div class="modal-body">
    <div id="image-cropper" class="horizontal-center">
        <div class="cropit-preview"></div>
        <div class="controls-wrapper">
            <div class="rotation-btns side-by-side">
                <span class="icon icon-rotate-left rotate-ccw-btn"></span>
                <span class="icon icon-rotate-right rotate-cw-btn"></span>
            </div>
            <div class="slider-wrapper side-by-side">
                <div class="side-by-side small-logo">
                    <span class="icon icon-image small-image"></span>
                </div>
                <div class="side-by-side zoom-bar">
                    <input type="range" class="cropit-image-zoom-input">
                </div>
                <div class="side-by-side large-logo">
                    <span class="icon icon-image large-image"></span>
                </div>
            </div>
        </div>
        <div class="invisible-input">
            <input type="file" class="cropit-image-input">
            <input type="hidden" id="user" name="user" value={{ user.id }}>
            <input type="hidden" id="csrf_token" name="csrf_token" value={{ csrf_token }}>
            {% if certificate.id_photo %}
                <input type="hidden" id="photo_url" name="photo_url" value={{ certificate.id_photo.url }}/>
            {% else %}
                <input type="hidden" id="photo_url" name="photo_url" value=""/>
            {% endif %}
        </div>
    </div>
    <div class="horizontal-center upload-image">
        <div class="btns">
            <button type="button" class="btn btn-info" id="select-image-btn">{% trans "Select your ID photo" %}</button>
            <button type="button" class="btn btn-success" id="js-upload-button">{% trans "Upload & certificate your ID photo" %}</button>
        </div>
    </div>
</div>
<div id="id_photo_certificate_result"></div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
</div>

<script>
    /**
     * Created by zhangtaihong on 17/12/2.
     */
    $(function () {
        var photo_url = document.getElementById('photo_url').value;
        if (photo_url) {
            $('#image-cropper').cropit(
                {
                    imageState: {
                        src: photo_url,
                        offset: {
                            x: 0,
                            y: 0
                        }
                    },
                }
            );
        }
        else {
            $('#image-cropper').cropit();
        }

        $('#image-cropper').cropit('previewSize', {width: 460, height: 290});

        <!--当用户点击【选择身份证照片文件】按钮时，打开选择文件对话框-->
        $('#select-image-btn').click(function () {
            $('.cropit-image-input').click();
        });

        <!--顺时针旋转身份证照片-->
        $('.rotate-cw-btn').click(function () {
            $('#image-cropper').cropit('rotateCW');
        });

        <!--逆时针旋转身份证照片-->
        $('.rotate-ccw-btn').click(function () {
            $('#image-cropper').cropit('rotateCCW');
        });

        <!--缩小身份证照片-->
        $('.small-image').click(function () {
            var isZoomable = $('#image-cropper').cropit('isZoomable')
            if (isZoomable) {
                var zoom = $('#image-cropper').cropit('zoom');
                $('#image-cropper').cropit('zoom', zoom * 0.99);
            }
        });

        <!--放大身份证照片-->
        $('.large-image').click(function () {
            var isZoomable = $('#image-cropper').cropit('isZoomable')
            if (isZoomable) {
                var zoom = $('#image-cropper').cropit('zoom');
                $('#image-cropper').cropit('zoom', zoom * 1.01);
            }
        });

        <!--调用腾讯OCR识别身份证-->
        $('#js-upload-button').click(function () {
            var imageData = $('#image-cropper').cropit('export');
            var sign = genSign();
            var image = dataURItoBlob(imageData);
            startOcrUpload(sign, image);
        });


        <!-- 生成腾讯万象优图签名 -->
        var genSign = function () {
            var appid = "10109985";                                        // 开发者的项目ID，接入万象优图创建空间时系统生成的唯一标示项目的项目ID
            var bucket = "xjhorse";                                        // 图片空间桶名称
            var secret_id = "AKIDY8iibLsTsAUvEnmKwR3WsIqFTfoOb0hD";        // 密钥id
            var secret_key = "hwy5JUfkEnHoB92PkU7IJE91lMp7FCoK";           // 密钥key
            var expired = Math.round(new Date().getTime() / 1000) + 1800;  // 签名的有效期，单位为秒；有效期30分钟
            var current = Math.round(new Date().getTime() / 1000);         // 当前时间戳，是一个符合UNIX Epoch时间戳规范的数值，单位为秒，多次签名时，e应大于t）

            <!-- 拼接签名串 -->
            var srcStr = 'a=' + appid + '&b=' + bucket + '&k=' + secret_id + '&t=' + current + '&e=' + expired;

            <!--对签名串进行HMAC-SHA1散列，返回原始二进制结果 -->
            var shaObj = new jsSHA("SHA-1", "TEXT");
            shaObj.setHMACKey(secret_key, "TEXT");
            shaObj.update(srcStr);
            var hmac = shaObj.getHMAC("BYTES");

            <!-- 将HMAC-SHA1散列串与原始签名串拼接，然后进行Base64编码 -->
            var signStr = btoa(hmac + srcStr);
            return signStr;
        };

        startOcrUpload = function (sign, imageData) {
            var appid = "10109985";                                        // 开发者的项目ID，接入万象优图创建空间时系统生成的唯一标示项目的项目ID
            var bucket = "xjhorse";                                        // 图片空间桶名称

            <!-- 创建表单并添加表单域 -->
            var formData = new FormData();                                 // 创建表单
            formData.append('appid', appid);                               // 添加表单appid域
            formData.append('bucket', bucket);                             // 添加表单bucket域
            formData.append('card_type', 0);                               // 添加表单card_type域, 0：正面，1：反面
            formData.append('image[' + 0 + ']', imageData);                // 添加表单image[0]域, 内容为裁剪后的身份证正面照片

            <!-- 利用Ajax异步调用腾讯OCR API进行身份证识别 -->
            Pace.track(function () {
                $.ajax({
                    url: '//service.image.myqcloud.com/ocr/idcard',
                    type: 'POST',
                    enctype: "multipart/form-data",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function (xhr) {
                        // 向腾讯服务器发送请求之前，先设置鉴权签名
                        xhr.setRequestHeader('Authorization', sign);
                    },
                    success: function (res) {
                        // 腾讯服务识别成功，保存身份认证信息

                        saveIdentityPhoto(res, imageData);

                    },
                    error: function (res) {
                        // 腾讯服务识别失败
                        var result = res.responseJSON.result_list[0].code;
                        var error = "";
                        switch (result) {
                            case -5106:
                                error = "身份证照片边框不完整";
                                break;
                            case -5107:
                                error = "上传的图片不是身份证";
                                break;
                            case -5108:
                                error = "身份证信息不合规范";
                                break;
                            case -5109:
                                error = "照片太模糊";
                                break;
                            case -7002:
                                error = "不是第二代身份证";
                                break;
                            case -7003:
                                error = "不是身份证正面照片";
                                break;
                            default:
                                error = "拍摄倾角或旋转角过大";
                        }

                        //var error = result.message;

                        alert("十分抱歉，您上传的照片无法通过身份证认证!\n" +
                            "原因：" + error);
                    }
                });
            });
        };

        var dataURItoBlob = function (dataURI) {
            // 将base64/URI编码的数据组件转换为原始二进制数据
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], {type: mimeString});
        };

        var saveIdentityPhoto = function (ocr_result, imageData) {
            res = ocr_result.result_list[0].data;
            <!-- 创建表单并添加表单域 -->
            var formData = new FormData();                                 // 创建表单
            var userID = document.getElementById('user').value;
            var csrfToken = document.getElementById('csrf_token').value;
            formData.append('user', userID);
            formData.append('userName', res.name);
            formData.append('gender', res.sex);
            formData.append('ethnicity', res.nation);
            formData.append('birthday', res.birth);
            formData.append('address', res.address);
            formData.append('identity', res.id);
            formData.append('id_photo', imageData, 'id.png');
            formData.append('id_photo_certificated', 1);


            <!-- 利用Ajax异步保存识别结果及图片 -->
            $.ajax({
                url: '/certification/1',
                type: 'POST',
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function (xhr) {
                    // 向讯服务器发送POST请求之前，先设置CSRF Token
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                },
                success: function (res) {
                    // 隐藏按钮
                    $(".controls-wrapper").hide();
                    $(".upload-image").hide();
                    // 保存成功, 显示身份证识别认证结果
                    $("#id_photo_certificate_result").html(res.html_certification_result);
                    // 更新实名认证主界面
                    $("#certification-main").html(res.html_certification);
                },
                error: function (res) {
                    // 保存失败
                    alert("保存身份证认证信息失败!");
                }
            });
        };
    });
</script>
