{% load i18n %}
{% load widget_tweaks %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans "Mobile SMS Certification" %}</h4>
</div>
<div class="modal-body">
    <div style="width: 440px; background-color: #EED592; padding: 30px; border-radius: 10px; box-shadow: #3c3c3c;"
         class="center-block">
        <form method="post" action="{% url 'certificate' 3 %}">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="id_sms_code">短信验证码:</label>
                <input class="form-control" id="id_sms_code" maxlength="6" type="text"/>
                <button id="js-generate-sms-code" style="margin-top: 15px" type="button" class="btn btn-primary">
                    {% trans "Get SMS Certificate Code" %}
                </button>
            </div>
            <input type="hidden" id="csrf_token" name="csrf_token" value={{ csrf_token }}>
        </form>
    </div>
    <div id="mobile_certificate_result"></div>
</div>
<div class="modal-footer">
    <div class="btns">
        <button id="js-sms-certificate" type="button" class="btn btn-success">{% trans "SMS Certification" %}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
    </div>

</div>

<script>
    /**
     * 张太红创建于2017/12/15.
     */
    $(function () {
        var smsCode = null;
        // Jquery倒计时按钮
        (function (factory) {
            'use strict';

            if (typeof define === 'function' && define.amd) {
                define(['jquery'], factory);
            } else {
                factory(jQuery);
            }

        })(function ($) {
            'use strict';

            $.fn.countdownButton = function (options) {
                var mobile_input = document.getElementById('id_mobile');
                var settings = $.extend({
                    seconds: 60,
                    beforeClick: $.noop,
                    onClick: $.noop
                }, options);

                return this.click(function () {
                    if (settings.beforeClick() !== false) {
                        var btn = $(this);
                        var btnLabel = btn.html();

                        var timeoutSeconds = settings.seconds;
                        var remainingSeconds = timeoutSeconds;

                        btn.prop('disabled', true);
                        mobile_input.setAttribute("disabled", "disabled");

                        var interval = setInterval(function () {
                            btn.html(btnLabel + '(' + remainingSeconds-- + '秒)');
                        }, 1000);

                        setTimeout(function () {
                            clearInterval(interval);
                            btn.html(btnLabel);
                            btn.prop('disabled', false);
                            //mobile_input.removeAttribute("disabled");
                        }, timeoutSeconds * 1000);

                        settings.onClick();
                    }
                });
            }

        });

        // 获取验证码短信按钮
        (function () {
            $('form button').countdownButton({
                seconds: 60,
                beforeClick: beforeClick,
                onClick: onClick
            });

            function beforeClick() {
                var mobile = document.getElementById('id_mobile').value;
                if (!mobile) {
                    alert("您必须输入自己的手机号码，以便接收验证码短信！");
                    return false;
                }
                if (mobile.length != 11) {
                    alert("手机号码位数不正确，错误的手机号码将导致您无法收到验证码短信！");
                    return false;
                }
            }

            function onClick() {
                var mobile = document.getElementById('id_mobile').value;
                smsCode = randomNumber(100000, 999999);
                var sign = genSign(mobile, smsCode);
                sendSMS(mobile, sign, smsCode);
            }

        })();

        // 随机生成6位验证码
        var randomNumber = function (min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        }
        <!--调用腾讯OCR识别身份证-->
        $('#js-sms-certificate').click(function () {
            var mobile = document.getElementById('id_mobile').value;
            if (!mobile) {
                alert("您必须输入自己的手机号码，以便接收验证码短信！");
                return false;
            }
            if (mobile.length != 11) {
                alert("手机号码位数不正确，错误的手机号码将导致您无法收到验证码短信！");
                return false;
            }

            var mobileSMSCode = document.getElementById('id_sms_code').value;
            if (!mobileSMSCode) {
                alert("您必须输入短信验证码！");
                return false;
            }
            if (mobileSMSCode.length != 6) {
                alert("验证码位数不正确，验证码应当是一个6位数字！");
                return false;
            }
            if (mobileSMSCode != smsCode) {
                alert("验证码不正确！");
                return false;
            }
            saveMobile();
        });


        <!-- 生成腾讯短信服务签名 -->
        var genSign = function (mobile, code) {
            var appkey = "e3f663cb9bbf0aa9f39450d111d1f72e";         // 开发者的AppID
            var current = Math.round(new Date().getTime() / 1000);   // 当前时间戳，为符合UNIX Epoch时间戳规范的数值，单位为秒

            <!-- 拼接签名串 -->
            var srcStr = 'appkey=' + appkey + '&random=' + code + '&time=' + current + '&mobile=' + mobile;

            <!--对签名串进行SHA256散列，返回原始二进制结果 -->
            var shaObj = new jsSHA("SHA-256", "TEXT");
            shaObj.update(srcStr);

            return shaObj.getHash("HEX");
        };

        // 发送短信验证码
        sendSMS = function (mobile, sign, code) {
            var appid = "1400055665";                                  // 腾讯短信AppID
            var current = Math.round(new Date().getTime() / 1000);     // 当前时间，为符合UNIX Epoch时间戳规范的数值，单位为秒
            var url = "https://yun.tim.qq.com/v5/tlssmssvr/sendsms?sdkappid=" + appid + "&random=" + code;

            var data = {
                tel: {
                    nationcode: "86",         // 国家码
                    mobile: mobile            // 手机号码
                },
                type: 0,                      // 0:普通短信;1:营销短信（强调：要按需填值，不然会影响到业务的正常使用）
                msg: "您的验证码为：" + code + "，请于1分钟内填写。如非本人操作，请忽略本短信。",     // utf8编码，需要匹配审核通过的模板内容
                sig: sign,                    //app凭证
                time: current,                //unix时间戳，请求发起时间，如果和系统时间相差超过10分钟则会返回失败
                extend: "",                   //通道扩展码，可选字段，默认没有开通(需要填空)
                ext: ""                       //用户的session内容，腾讯server回包中会原样返回，可选字段，不需要就填空。
            }
            var jsonData = JSON.stringify(data);
            <!-- 利用Ajax异步调用腾讯短信服务发送短信验证码 -->
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: jsonData,
                /*
                 beforeSend: function (xhr) {
                 // 向腾讯服务器发送请求之前，先设置鉴权签名
                 xhr.setRequestHeader('Authorization', sign);
                 },
                 */
                success: function (res) {
                    // 短信发送成功
                    // alert(res.result);
                },
                error: function (res) {
                    // 短信发送失败
                    alert("发送验证短信失败\n" +
                        "错误代码：" + res.result + "\n" +
                        "错误信息：" + res.errmsg);
                }
            });
        };


        saveMobile = function () {
            <!-- 创建表单并添加表单域 -->
            var formData = new FormData();                                 // 创建表单
            var userID = document.getElementById('id_user').value;
            var mobile = document.getElementById('id_mobile').value;
            var csrfToken = document.getElementById('csrf_token').value;
            formData.append('user', userID);
            formData.append('mobile', mobile);
            formData.append('mobile_certificated', 1);


            <!-- 利用Ajax异步保存手机短信认证结果 -->
            $.ajax({
                url: '/certification/3',
                type: 'POST',
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function (xhr) {
                    // 向讯服务器发送POST请求之前，先设置CSRF Token
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                },
                success: function (res) {
                    // 隐藏按钮
                    $("#js-sms-certificate").hide();
                    $("#js-generate-sms-code").hide();

                    // 保存结果成功
                    // 更新短信认证结果
                    $("#mobile_certificate_result").html(res.html_certification_result);
                    // 更新实名认证主界面
                    $("#certification-main").html(res.html_certification);
                },
                error: function (res) {
                    // 保存结果失败
                    alert("保存手机短信认证信息失败!");
                }
            });
        };
    });
</script>
