<!--  身份证认证结果 -->
{% load i18n %}
<div class="horizontal-center">
    <div class="horizontal-center">
        <table class="ptable ptable-rounded" width="440px">
            <thead>
            <tr>
                <th>{% trans "Result" %}</th>
                <th>{% trans "Mobile SMS Certificate successfully" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% trans "User Name" %}</td>
                <td>{{ certificate.userName }}</td>
            </tr>
            <tr>
                <td>{% trans "Mobile" %}</td>
                <td>{{ certificate.mobile }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
