<!--  身份证认证结果 -->
{% load i18n %}
<div class="horizontal-center">
    <div class="certificate-result">
        <span>{% trans "Result" %}</span>
        <span>{% trans "User Photo Certificated by AI" %}</span>
    </div>
</div>
