<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% trans "Xinjiang Horse" %} - {% block title %}{% endblock %}
    </title>

    <!-- 加载静态文件 -->
    <script src="{% static 'racing/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'racing/js/bootstrap.min.js' %}"></script>
    {% block head_js %}
    {% endblock %}

    <link href="{% static 'racing/datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'racing/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'racing/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>

    <link rel="stylesheet" href="{% static 'racing/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'racing/css/racing.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'racing/css/ptable.css' %}" type="text/css"/>
    {% block head_css %}
    {% endblock %}
</head>
<body>
{% include "racing/navbar.html" %}
<div id="main-content" class="container">
    {% block content %}
    {% endblock %}
</div>
{% include "homepage/xjhorse_footer.html" %}

<!-- 模式窗口 -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

</body>
</html>
