{% extends "racing/bootstrap.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "My Role" %}{% endblock %}
{% block head_js %}
    <script src="{% static 'racing/js/racing.js' %}"></script>
{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'racing/css/ptable.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'racing/css/racing.css' %}" type="text/css"/>
{% endblock %}
{% block inner-content %}
    <h1>{% trans "My Role" %}</h1>
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit">{% trans 'Submit' %}</button>
    </form>
{% endblock %}
