{% load i18n %}
{% load static %}
{% load rules %}
<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->

<!-- 顶部静态导航栏 -->
<nav class="navbar navbar-toggler navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- 手机等小屏幕导航栏折叠后依然在导航栏左侧保留 -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'breeds/images/logo.png' %}">
            </a>
            <a class="navbar-brand brand-name" href="{% url 'home' %}">
                <p>{% trans "Xinjiang Horse" %}</p>
            </a>
            <!-- 手机等小屏幕导航栏菜单折叠为右侧按钮 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- 一下内容在手机等小屏幕导航栏折叠后将从导航栏消失，通过点击右侧按钮可以展开 -->
        <div id="collapsed-menu" class="navbar-collapse collapse"><!-- 折叠内容开始 -->
            <!-- 左对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-left">
                <li><a href="{% url 'racing_home' %}">{% trans "Racing Home" %}</a></li>
                <li><a href="{% url 'regulation' %}">{% trans "Regulation" %}</a></li>
                <li><a href="{% url 'game_list' %}">{% trans "Equestrian Events" %}</a></li>
                <li><a href="{% url 'team' %}">{% trans "Contestants" %}</a></li>
                <li><a href="{% url 'schedule_list' %}">{% trans "Schedule" %}</a></li>
                <li><a href="{% url 'honorary_wall' %}">{% trans "Honorary Wall" %}</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'enrollment' %}">{% trans "Enrollment" %}</a></li>
                {% else %}
                    {% has_perm 'racing.admin' user '天马赛事' as racing_admin %}
                    {% if racing_admin %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{% trans "Contestants Authorize" %}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'horse_authorize' %}">{% trans "Horse Authorize" %}</a></li>
                                <li><a href="{% url 'horseman_authorize' %}">{% trans "Horseman Authorize" %}</a></li>
                                <li><a href="{% url 'referee_authorize' %}">{% trans "Referee Authorize" %}</a></li>
                                <li><a href="{% url 'member_authorize' %}">{% trans "Member Authorize" %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'enrollment_authorize' %}">{% trans "Enrollment Authorize" %}</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'enrollment_admin_index' %}">注册中心</a></li>
                    {% else %}
                        <li><a href="{% url 'enrollment' %}">{% trans "Enrollment" %}</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="{% url 'ticket' %}">{% trans "Ticket" %}</a></li>
            </ul>
            <!-- 右对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li id="li_login"><a id="logoin" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% has_perm 'permission.application_user' user '天马赛事' as racing_user %}
                            {% if racing_user %}
                                <li><a href="{% url 'my_racing_role' %}">{% trans "My Role" %}</a></li>
                                {% has_perm 'racing.admin' user as racing_admin %}
                                {% if racing_admin %}
                                    <li><a href="{% url 'role_list' %}">{% trans "Role List" %}</a></li>
                                    <li>
                                        <a href="{% url 'announcement_manage_list' %}">{% trans "Announcement Manage" %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'regulation_manage_list' %}">{% trans "Regulation Manage" %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'game_manage_list' %}">{% trans "Equestrian Events Manage" %}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!-- 折叠内容结束 -->
    </div>
</nav>

