{% extends "racing/bootstrap.html" %}
{% load static %}
{% load i18n %}


{% block head_title %}{% trans "Role List" %}{% endblock %}
{% block head_js %}
    <script src="{% static 'racing/js/racing.js' %}"></script>
{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'racing/css/ptable.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'racing/css/racing.css' %}" type="text/css"/>
{% endblock %}
{% block inner-content %}
    <h1>{% trans "Role List" %}</h1>
    <hr>
    <table class="ptable ptable-rounded" id="role-table">
        <thead>
        <tr>
            <th>{% trans "User Name" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Mobile" %}</th>
            <th>{% trans "Role" %}</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for object in object_list %}
                <tr>
                    <td>{{ object.user.certification.userName }}</td>
                    <td>{{ object.user.email }}</td>
                    <td>{{ object.user.certification.mobile }}</td>
                    <td>{{ object.role }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">
                    {% trans "Notice: There is no user and corresponding role yet!" %}
                </td>
            </tr>
        {% endif %}

        </tbody>
    </table>
{% endblock %}
