{% load i18n %}
{% load rules %}

{% if my_permissions %}
    {% for my_permission in my_permissions %}
        <tr>
            <td>{{ my_permission.role.name }}</td>
            <td>{{ my_permission.role.description|safe }}</td>
            {% has_perm 'racing.can_delete_role' user my_permission.role as can_delete_role %}
            {% if can_delete_role %}
                <td>
                    <button type="button"
                            class="btn btn-danger js-role-abandon"
                            data-url="{% url 'my_role_abandon' my_permission.id %}">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                        {% trans "Delete" %}
                    </button>
                </td>
            {% else %}
                <td>{% trans "Can't delete " %}</td>
            {% endif %}
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td></td>
        <td colspan="2">
            {% trans "Notice: You didn't select your role yet!" %}
        </td>
    </tr>
{% endif %}
