{% extends "racing/bootstrap.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "My Role" %}{% endblock %}
{% block head_js %}
    <script src="{% static 'racing/js/racing.js' %}"></script>
{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'racing/css/ptable.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'racing/css/racing.css' %}" type="text/css"/>
{% endblock %}

{% block inner-content %}
    <h1>{% trans "My Role" %}</h1>
    <hr>
    <table class="ptable ptable-rounded" id="role-table">
        <thead>
        <tr>
            <th>{% trans "Role Name" %}</th>
            <th>{% trans "Role Description" %}</th>
            <th>{% trans "Operation" %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "racing/user_role_partial.html" %}
        </tbody>
    </table>
    <br>
    <div id="add-role-btn">
        {% include "racing/user_role_add_btn.html" %}
    </div>
{% endblock %}
