{% load i18n %}
<button type="button" class="btn btn-success" id="js-add-role"
        data-url="{% url 'my_role_add' %}">
    <span class="glyphicon glyphicon-plus-sign"></span>
    {% trans "Add Role" %}
</button>
