{% load i18n %}

<form method="post" action="{% url 'my_role_abandon' permission.id %}" class="js-abandon-role-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Confirm abandon role" %}</h4>
    </div>
    <div class="modal-body">
        <p class="lead">
            {% blocktrans with permission_name=permission.role.name %}Are you sure you want to abandon <strong>{{ permission_name }}</strong> role?{% endblocktrans %}
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">{% trans "Abandon Role" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>
