{% load i18n %}
{% load bootstrap3 %}

<form method="post" action="{% url 'my_role_add' %}" class="js-add-role-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Select and Add my Role" %}</h4>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div id = "description">
            {% trans "Please choose a Role!" %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">{% trans "Add Role" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>
