.panel-content{
    padding-left: 0px;
}

.panel-content li{
    height: 40px;
    display: inline-block;
}

select {
    height: 30px;
    -moz-box-sizing: border-box;
    width: 126px;
    padding: 4px 12px;
    border: 1px solid #8ac007;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: inset 0 1px 1px rgba(103, 249, 6, 0.1);
    margin-left: 0;
}

.panel-content1{
    padding-left: 20px;
}

.panel-content1 li{
    display: inline-block;
}

.checkbox a{
    vertical-align: middle;
    padding-top: 5px;
    font-size: 14px;
}

/*查询输入框*/
#input{
    width: 140px;
    display: inline-block;
    height: 30px;
    line-height: 20px;
    padding: 4px 12px;
    border: 1px solid #8ac007;
    border-radius: 4px;   /*边框圆角*/
    box-shadow: inset 0 1px 1px rgba(103, 249, 6, 0.1);
}
/*查询按钮*/
.button-primary{
    color: #ffffff;
    background-color: #3d9df0;
    border-color: #1b8cee;
    text-align: center;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 4px;
}
/*删除按钮*/
.button-danger{
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
    text-align: center;
    vertical-align: middle;
    padding: 4px 9px;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;
}
/*添加按钮*/
.button-success{
    color: #ffffff;
    background-color: #8ac007;
    border-color: #4eac4b;
    text-align: center;
    vertical-align: middle;
    padding: 4px 9px;
    font-size: 14px;
    border-radius: 4px;
}
/*保存按钮*/
.button-submit{
    color: #ffffff;
    background-color: #8ac007;
    border-color: #4eac4b;
    text-align: center;
    vertical-align: middle;
    padding: 4px 14px;
    font-size: 15px;
    border-radius: 4px;
    margin: 6px 15px;
}
/*重置按钮*/
.button-reset{
    color: #ffffff;
    background-color: #f0b54a;
    border-color: #ee8c03;
    text-align: center;
    vertical-align: middle;
    padding: 4px 14px;
    font-size: 15px;
    border-radius: 4px;
    margin: 6px 15px;
}

/*表格标题栏*/
#title th{
    text-align: center;
    font-size: 15px;
    background: #8ac00733;
}

/*表格*/
table{
    border:0;
    border-collapse:collapse;
}
table td,table th{
    border:1px solid #999;
    padding:.5em 1em
}

/*边框*/
#border{
    float: left;
    width: 100%;
    height: 30px;
    border-style: double;/*双线边框*/
    border-color: #8ac007;
}

/*前三行内容左对齐（病因、病证、部位、编号、名称、别名）*/
.control-label{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom:15px;
    padding-top: 0px !important;
}

/*<label>和<input>设置*/
.control-label label{
    display: block;
    float: left;
}
.divinput{
    float: left;
    width: 100%;
    height: 30px;
    border-style: double;/*双线边框*/
    border-color: #8ac007;
    text-align: left;
}
.form-horizontal>.control-border label{
    margin-bottom: 6px;
}

/*新增马病设置<select>*/
.addselect {
    height: 30px;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 4px 12px;
    border: 1px solid #8ac007;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: inset 0 1px 1px rgba(103, 249, 6, 0.1);
    margin-left: 0;
}