.content{margin: 0px 50px;}
.venus-menu{margin: 30px 0 10px 0;}
.bggjgjjgjywrturuwehegqeq410004{display:block;margin:0 auto}
.bggjgjjgjywrturuwehegqeq410005{float:right;margin:10px 0 10px 10px}
.bggjgjjgjywrturuwehegqeq410006{float:left;margin:10px 10px 10px 0}
.bggjgjjgjywrturuwehegqeq410007{float:left}
.bggjgjjgjywrturuwehegqeq410008{float:right}
.bggjgjjgjywrturuwehegqeq410009{text-align:center}
.bggjgjjgjywrturuwehegqeq410010{text-align:right}
.bggjgjjgjywrturuwehegqeq410011{text-align:left}
.bggjgjjgjywrturuwehegqeq410012{border:1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.bggjgjjgjywrturuwehegqeq410012 img{margin:0;padding:0;border:0 none;}
.bggjgjjgjywrturuwehegqeq410012 p.bggjgjjgjywrturuwehegqeq410013{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}
.bggjgjjgjywrturuwehegqeq410014{margin:0 !important;max-height:1em;}
blockquote.bggjgjjgjywrturuwehegqeq410015{margin-right:20px;text-align:right;margin-left:0;width:33%;float:left;}
blockquote.bggjgjjgjywrturuwehegqeq410016{margin-left:20px;text-align:left;margin-right:0;width:33%;float:right;}
.bggjgjjgjywrturuwehegqeq410017 a{float: left;display: block;color: #666;margin-left: 5px;margin-bottom: 5px;padding: 3px 7px;line-height: 1em;background: #EEE;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.venus-menu{margin:0;padding: 0;position:relative;float:left;font-family: 'Open Sans', sans-serif;list-style: none;background: #006400;}
.venus-menu li{display: inline-block;margin: 0;padding: 0;float: left;line-height: 20px;position: relative;}
.bggjgjjgjywrturuwehegqeq410018{float: left;}
#sdzzzzzdsscscsgagdgd10002{width: 100%;}
#sdzzzzzdsscscsgagdgd10002 caption{text-align: right;color: #333;font-size: 12px;margin-top: 10px;margin-bottom: 15px;}
#sdzzzzzdsscscsgagdgd10002 thead{font-size: 10px;}#sdzzzzzdsscscsgagdgd10002 thead th{padding-bottom: 10px;}
#sdzzzzzdsscscsgagdgd10002 tbody{color: #aaa;}
#sdzzzzzdsscscsgagdgd10002 tbody td{background: #f5f5f5;border: 1px solid #fff;text-align: center;padding:8px;}
#sdzzzzzdsscscsgagdgd10002 tbody td:hover{background: #fff;}
#sdzzzzzdsscscsgagdgd10002 tbody .bggjgjjgjywrturuwehegqeq410019{background: none;}
#sdzzzzzdsscscsgagdgd10002 tfoot #sdzzzzzdsscscsgagdgd10003{font-size: 10px;text-transform: uppercase;text-align: right;}
#sdzzzzzdsscscsgagdgd10002 tfoot #sdzzzzzdsscscsgagdgd10004{font-size: 10px;text-transform: uppercase;padding-top: 10px;}
#sdzzzzzdsscscsgagdgd10005{width: 740px;margin: 0 auto;position: relative;text-shadow: 1px 1px 1px #FFF;}
#sdzzzzzdsscscsgagdgd10006{float: left;}
#sdzzzzzdsscscsgagdgd10006 h2,#sdzzzzzdsscscsgagdgd10006 h1{margin: 0;line-height: 1em;font-size: 20px;font-weight: normal;font-style: normal;}
#sdzzzzzdsscscsgagdgd10006 h2 a,#sdzzzzzdsscscsgagdgd10006 h1 a{color: #7B7B7B;text-decoration: none;}
#sdzzzzzdsscscsgagdgd10006 h2 a:hover,#sdzzzzzdsscscsgagdgd10006 h1 a:hover{color: #000}
#sdzzzzzdsscscsgagdgd10007{position: absolute;height: 48px;top: 4px;right: -15px;font-family: 'Droid Sans', arial, serif;}
.bggjgjjgjywrturuwehegqeq410020,.bggjgjjgjywrturuwehegqeq410020 *{margin: 0;padding: 0;list-style: none;}
.venus-menu > li > a{padding: 15px;color: #fff;text-decoration: none;display: block;-webkit-transition: color 0.2s linear, background 0.2s linear;-moz-transition: color 0.2s linear, background 0.2s linear;-o-transition: color 0.2s linear, background 0.2s linear;transition: color 0.2s linear, background 0.2s linear;}
.venus-menu li:hover > a,.venus-menu li.active a{background: #006400;color: #fff;}
.venus-menu > li > a i{color: #bababa;}
.venus-menu > li:hover > a i,.venus-menu li.active a i{color: #fff;}
.bggjgjjgjywrturuwehegqeq410020{line-height: 1.0}
.bggjgjjgjywrturuwehegqeq410020 ul{position: absolute;top: -999em;width: 10em;}
.bggjgjjgjywrturuwehegqeq410020 ul li{width: 100%}
.bggjgjjgjywrturuwehegqeq410020 li:hover{visibility: inherit;}
.bggjgjjgjywrturuwehegqeq410020 li{float: left;position: relative;}
.bggjgjjgjywrturuwehegqeq410020 a{display: block;position: relative;}
.bggjgjjgjywrturuwehegqeq410020 li:hover ul,.bggjgjjgjywrturuwehegqeq410020 li.bggjgjjgjywrturuwehegqeq410021 ul{left: 0;top: 3em;z-index: 99;background: #FFF;padding: 10px 0;border: 1px solid #DDD;border-top: none;}
ul.bggjgjjgjywrturuwehegqeq410020 li:hover li ul,ul.bggjgjjgjywrturuwehegqeq410020 li.bggjgjjgjywrturuwehegqeq410021 li ul{top: -999em}
ul.bggjgjjgjywrturuwehegqeq410020 li li:hover ul,ul.bggjgjjgjywrturuwehegqeq410020 li li.bggjgjjgjywrturuwehegqeq410021 ul{left: 10em;top: 0;}
ul.bggjgjjgjywrturuwehegqeq410020 li li:hover li ul,ul.bggjgjjgjywrturuwehegqeq410020 li li.bggjgjjgjywrturuwehegqeq410021 li ul{top: -999em}
ul.bggjgjjgjywrturuwehegqeq410020 li li li:hover ul,ul.bggjgjjgjywrturuwehegqeq410020 li li li.bggjgjjgjywrturuwehegqeq410021 ul{left: 10em;top: 0;}
.bggjgjjgjywrturuwehegqeq410020{float: left;margin-bottom: 1em;}
.bggjgjjgjywrturuwehegqeq410020 a{color: #666;padding: 0 15px;text-decoration: none;}
.bggjgjjgjywrturuwehegqeq410020 a:focus,.bggjgjjgjywrturuwehegqeq410020 a:hover,.bggjgjjgjywrturuwehegqeq410020 a:active{color: #000;}
.bggjgjjgjywrturuwehegqeq410022 a{color: #000;}
.venus-menu ul, .venus-menu ul li ul{list-style: none;margin: 0;padding: 0;display: none;position: absolute;z-index: 99;width: 140px;}
.venus-menu > li > ul > li:first-child a:before{
    content: '';
    position: absolute;
    bottom: 48px;
    left: 45%;
    margin-left: -48px;
    width: 0;
    height: 0;
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid rgba(255, 255, 255, 0);
    /*border-bottom: 8px solid #006400;三角*/
}
.bggjgjjgjywrturuwehegqeq410020 ul a:focus,.bggjgjjgjywrturuwehegqeq410020 ul a:hover,.bggjgjjgjywrturuwehegqeq410020 ul a:active{color: #000 !important;}
li.bggjgjjgjywrturuwehegqeq410021{color: #000}.bggjgjjgjywrturuwehegqeq410020 li li{text-transform: none;}
.bggjgjjgjywrturuwehegqeq410020 li li li{background: #FFF}.bggjgjjgjywrturuwehegqeq410020 ul a{color: #999;padding: 1em 1.2em}
.bggjgjjgjywrturuwehegqeq410022 ul a{color: #000 !important;}
.bggjgjjgjywrturuwehegqeq410020 a.bggjgjjgjywrturuwehegqeq410023{padding-right: 2.25em;min-width: 1px;}
.bggjgjjgjywrturuwehegqeq410024{position: absolute;display: block;right: .75em;width: 9px;height: 5px;text-indent: -999em;overflow: hidden;}
a > .bggjgjjgjywrturuwehegqeq410024{top: .4em;background-position: 0 -100px;}
a:focus > .bggjgjjgjywrturuwehegqeq410024,a:hover > .bggjgjjgjywrturuwehegqeq410024,a:active > .bggjgjjgjywrturuwehegqeq410024,li:hover > a > .bggjgjjgjywrturuwehegqeq410024,li.bggjgjjgjywrturuwehegqeq410021 > a > .bggjgjjgjywrturuwehegqeq410024{background-position: -9px 0px;}
.bggjgjjgjywrturuwehegqeq410020 ul .bggjgjjgjywrturuwehegqeq410024{top: 1em;width: 5px;height: 9px;}
.bggjgjjgjywrturuwehegqeq410020 ul a > .bggjgjjgjywrturuwehegqeq410024{background-position: 0 0}
.bggjgjjgjywrturuwehegqeq410020 ul a:focus > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul a:hover > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul a:active > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul li:hover > a > .bggjgjjgjywrturuwehegqeq410024,.bggjgjjgjywrturuwehegqeq410020 ul li.bggjgjjgjywrturuwehegqeq410021 > a > .bggjgjjgjywrturuwehegqeq410024{background-position: -5px 0;}
#sdzzzzzdsscscsgagdgd10008{margin-bottom: 40px;}
.venus-menu > li > ul > li ul li:first-child a:before{
    content: '';
    position: absolute;
    bottom: 16px;
    left: 45%;
    margin-left: -71px;
    width: 0;
    height: 0;
    border-top: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid #006400;
    border-bottom: 9px solid rgba(255, 255, 255, 0);
}
.venus-menu ul li ul{top: 0;left: 100%;padding-left: 10px;}
.venus-menu ul li{clear:both;width:100%;border: none;}
.bggjgjjgjywrturuwehegqeq410025{float: left;width: 290px;margin-right: 25px;text-align: center;}
.bggjgjjgjywrturuwehegqeq410025 h2{font-size: 16px;font-weight: bold;margin-bottom: 20px;}
#sdzzzzzdsscscsgagdgd10009 h2{font-size: 14px;font-style: normal;margin-bottom: 20px;}
#sdzzzzzdsscscsgagdgd10010{}#portfolio-group{margin: 40px 0px;}
#sdzzzzzdsscscsgagdgd10011{list-style: none;}
#sdzzzzzdsscscsgagdgd10011 a{font-size: 10px;font-weight: bold;float: left;padding: 5px 10px;margin-right: 5px;margin-bottom: 5px;cursor: pointer;color: #969696;background: -moz-linear-gradient( top, #f2f2f2 0%, #dbdbdb);background: -webkit-gradient( linear, left top, left bottom, from(#f2f2f2), to(#dbdbdb));border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border: 1px solid #CCC;text-shadow: 1px 1px 1px #FFF;}
#sdzzzzzdsscscsgagdgd10011 a:hover{background: #EEE;color: #666;}
#sdzzzzzdsscscsgagdgd10011 a span{display: block;border-top: 1px solid #FFF;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.bggjgjjgjywrturuwehegqeq410026{position: relative;float: left;width: 150px;margin-right: 20px;margin-bottom: 20px;cursor: pointer;}
.bggjgjjgjywrturuwehegqeq410026 img{}.overlay{width: 150px;height: 120px;position: absolute;display: none;left: 0;top: 0;}
.venus-menu ul li a{
    padding:7px 20px;
    width:100%;
    color:#fff;
    font-size:14px;
    text-decoration:none;
    display:inline-block;
    float:left;
    clear:both;
    background: #006400;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.venus-menu ul li:hover > a{background: #006400;}
.venus-menu > li > ul > li:first-child:hover a:before{border-bottom-color: #006400;}
.venus-menu > li > ul > li ul li:first-child:hover a:before{border-right-color: #006400;}
.bggjgjjgjywrturuwehegqeq410027 p{margin-top: 45px;margin-left: 40px;}
.bggjgjjgjywrturuwehegqeq410028,.bggjgjjgjywrturuwehegqeq410029{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);-moz-opacity: 0.60;-khtml-opacity: 0.60;opacity: 0.60;}
.bggjgjjgjywrturuwehegqeq410028:hover,.bggjgjjgjywrturuwehegqeq410029:hover{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);-moz-opacity: 0.80;-khtml-opacity: 0.80;opacity: 0.80;}
.bggjgjjgjywrturuwehegqeq410028{display: block;float: left;margin-right: 10px;text-indent: -99999px;width: 32px;height: 32px;}
.bggjgjjgjywrturuwehegqeq410029{display: block;float: left;text-indent: -99999px;width: 32px;height: 32px;}
#sdzzzzzdsscscsgagdgd10012{float: left;width: 200px;}
#sdzzzzzdsscscsgagdgd10013{float: right;width: 400px;}
#sdzzzzzdsscscsgagdgd10014{padding: 25px 0;}
#sdzzzzzdsscscsgagdgd10015 a,#sdzzzzzdsscscsgagdgd10016 a{display:block;float: left;height:30px;width:30px;margin-right: 5px;}
#sdzzzzzdsscscsgagdgd10016 a{background-position: -30px 0;}
#sdzzzzzdsscscsgagdgd10015 a:hover{background-position: 0px -30px;}
#sdzzzzzdsscscsgagdgd10016 a:hover{background-position:  -30px;}
#sdzzzzzdsscscsgagdgd10017{position: relative;width: 660px;height: 350px;}
.venus-menu > li .indicator{position: absolute;color: #fff;top: 15px;right: 0px;font-size: 20px;-webkit-transition: color 0.2s linear;-moz-transition: color 0.2s linear;-o-transition: color 0.2s linear;transition: color 0.2s linear;}
.venus-menu > li:hover > .indicator{color: #fff;}
.venus-menu ul > li .indicator{top: 14px;right: 8px;color: #fff;}
.bggjgjjgjywrturuwehegqeq410030{position: relative}
.bggjgjjgjywrturuwehegqeq410030 img{position: absolute;top: 0px;left: 0px;z-index: 6;}
.bggjgjjgjywrturuwehegqeq410030 a.bggjgjjgjywrturuwehegqeq410031{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;border: 0;padding: 0;margin: 0;z-index: 6;display: none;}
.venus-menu i{line-height: 20px !important;margin-right: 6px;font-size: 20px;float: left;}
.bggjgjjgjywrturuwehegqeq410032{display: block;position: absolute;z-index: 5;height: 100%;}
.bggjgjjgjywrturuwehegqeq410033{display: block;position: absolute;z-index: 5;}
.bggjgjjgjywrturuwehegqeq410034{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.8;width:100%;z-index:8;}
.bggjgjjgjywrturuwehegqeq410034 p{padding:5px;margin:0;}
.bggjgjjgjywrturuwehegqeq410034 a{display:inline !important;}
.bggjgjjgjywrturuwehegqeq410035{display:none;}
.bggjgjjgjywrturuwehegqeq410036 a{position: absolute;top: 45%;z-index: 9;cursor: pointer;}
.bggjgjjgjywrturuwehegqeq410037{left: 0px}
.bggjgjjgjywrturuwehegqeq410038{right: 0px}
.bggjgjjgjywrturuwehegqeq410039 a{position: relative;z-index: 9;cursor: pointer;}
.venus-menu > li.showhide span.title{margin: 13px 0 0 20px;float: left;}
.venus-menu > li.showhide span.icon{margin: 16px 20px;float: right;}
.venus-menu > li.showhide .icon em{margin-bottom: 3px;display: block;width: 20px;height: 2px;background: #ccc;}
.bggjgjjgjywrturuwehegqeq410039 a.bggjgjjgjywrturuwehegqeq410040{font-weight: bold}
.bggjgjjgjywrturuwehegqeq410036 a{display: block;width: 20px;height: 40px;text-indent: -9999px;border: 0;-webkit-transition: hover 0.2s ease-in-out;-moz-transition: hover 0.2s ease-in-out;-o-transition: hover 0.2s ease-in-out;-ms-transition: hover 0.2s ease-in-out;transition: hover 0.2s ease-in-out;}
a.bggjgjjgjywrturuwehegqeq410038{background-position: -20px 0 !important;right: -20px;}a.bggjgjjgjywrturuwehegqeq410037{left: -20px}
.venus-menu li.search{float: right;}
.venus-menu li.search form{margin: 13px 20px 0 0;}
.venus-menu li.search form input.search{height: 26px;float: right;padding-left: 5px;padding-right: 5px;color: #777;outline: none;border: solid 1px #dedede;-o-transition: border .3s linear;-moz-transition: border .3s linear;-webkit-transition: border .3s linear;transition: border .3s linear;}
.venus-menu li.search form input.search:focus{border-color: #006400;}
#sdzzzzzdsscscsgagdgd10018{}
.post-entry{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
.bggjgjjgjywrturuwehegqeq410041{margin-bottom: 20px;}
.bggjgjjgjywrturuwehegqeq410042{float: left;height: 150px;width: 150px;}
.bggjgjjgjywrturuwehegqeq410043{float: right;width: 480px;}
#sdzzzzzdsscscsgagdgd10018 ul,ol{margin-left: 50px;margin-bottom: 10px;}
.bggjgjjgjywrturuwehegqeq410044,.bggjgjjgjywrturuwehegqeq410045{background: #F9F9F9;font-size: 11px;color: #999;padding: 5px;margin: 8px 0px;text-shadow: 1px 1px 1px #FFF;letter-spacing: 1px;}
.bggjgjjgjywrturuwehegqeq410044 a,.bggjgjjgjywrturuwehegqeq410045 a,.bggjgjjgjywrturuwehegqeq410044 span,.bggjgjjgjywrturuwehegqeq410045 span{color: #000;}
.bggjgjjgjywrturuwehegqeq410045{margin-bottom: 20px !important;}
.bggjgjjgjywrturuwehegqeq410046{margin-right: 10px;margin-top: 30px;font-size: 12px;}
.bggjgjjgjywrturuwehegqeq410046 a{margin-left: 5px;}
#sdzzzzzdsscscsgagdgd10018 h1{margin-bottom: 0px}
.bggjgjjgjywrturuwehegqeq410047 h2{line-height: 1.2em;margin: 0 !important;font-size: 21px;}
.bggjgjjgjywrturuwehegqeq410047 h2 a{text-decoration: none;}
.bggjgjjgjywrturuwehegqeq410048{margin-bottom: 20px !important;}
#sdzzzzzdsscscsgagdgd10019{font-size: 14px;padding: 20px 0px;margin-bottom: 40px;border-bottom: 1px dotted #CCC;}
#sdzzzzzdsscscsgagdgd10019 p{margin: 0;padding: 0;}
.zoom-out{-webkit-animation: zoomOut 600ms ease both;-moz-animation: zoomOut 600ms ease both;-o-animation: zoomOut 600ms ease both;animation: zoomOut 600ms ease both;}
@-webkit-keyframes zoomOut{0%{-webkit-transform: scale(.6);}100%{-webkit-transform: scale(1);}}
@-moz-keyframes zoomOut{0%{-moz-transform: scale(.6);}100%{-moz-transform: scale(1);}}
@-o-keyframes zoomOut{0%{-o-transform: scale(.6);}100%{-o-transform: scale(1);}}
@keyframes zoomOut{0%{transform: scale(.6);}100%{transform: scale(1);}}
.slide-left{-webkit-animation: slide-left 600ms ease both;-moz-animation: slide-left 600ms ease both;-o-animation: slide-left 600ms ease both;animation: slide-left 600ms ease both;}
@-webkit-keyframes slide-left{0%{-webkit-transform: translateX(-2000px);}100%{-webkit-transform: translateX(0);}}
@-moz-keyframes slide-left{0%{-moz-transform: translateX(-2000px);}100%{-moz-transform: translateX(0);}}
@-o-keyframes slide-left{0%{-o-transform: translateX(-2000px);}100%{-o-transform: translateX(0);}}
@keyframes slide-left{0%{transform: translateX(-2000px);}100%{transform: translateX(0);}}
#sdzzzzzdsscscsgagdgd10020{margin-bottom: 20px;}
#sdzzzzzdsscscsgagdgd10021{float: left;width: 50%;}
#sdzzzzzdsscscsgagdgd10022{float: right;width: 50%;text-align: right;}
#sdzzzzzdsscscsgagdgd10021 a{float: left;}
#sdzzzzzdsscscsgagdgd10022 a{float: right !important;}
#sdzzzzzdsscscsgagdgd10023{background: #F9F9F9;margin: 30px 0px;padding: 20px;border-top: 1px solid #EEE;border-bottom: 1px solid #EEE;}
#sdzzzzzdsscscsgagdgd10024{float: left;width: 70px;}
#sdzzzzzdsscscsgagdgd10024 img{padding: 3px;border: 1px solid #CCC;}
#sdzzzzzdsscscsgagdgd10025{float: right;width: 540px;}
#sdzzzzzdsscscsgagdgd10023 h4{margin-top: 0px;margin-bottom: 5px;}
#sdzzzzzdsscscsgagdgd10026{margin: 20px 0;padding-bottom: 20px;border-bottom: 1px solid #EEE;color: #999;}
.bggjgjjgjywrturuwehegqeq410049{margin-bottom: 20px}.bggjgjjgjywrturuwehegqeq410050{float: left;width: 60px;margin-right: 20px;}
.bggjgjjgjywrturuwehegqeq410050 img{padding: 3px;border: 1px solid #EEE;}
.bggjgjjgjywrturuwehegqeq410051{float: right;width: 580px;}
#sdzzzzzdsscscsgagdgd10026 h3{margin: 0 0 20px}
#sdzzzzzdsscscsgagdgd10026 h4{font-size: 12px;font-style: normal;margin-top: 0px;margin-bottom: 5px;}
#sdzzzzzdsscscsgagdgd10026 h4 a:hover{text-decoration: none;}
#sdzzzzzdsscscsgagdgd10027{}
#commentsbox{margin-top: 30px}
#sdzzzzzdsscscsgagdgd10028 ol,#sdzzzzzdsscscsgagdgd10028 ul{list-style: none;margin-left: 0 !important;}
#sdzzzzzdsscscsgagdgd10028 li{margin-bottom: 30px}
.bggjgjjgjywrturuwehegqeq410052{list-style: none;margin: 30px 0 0;text-indent: 0;}
.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410053{margin: 0 0 0px 50px}
.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410054{margin: 0 0 0px 50px}
.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410055{margin: 0 0 0px 50px}
.bggjgjjgjywrturuwehegqeq410052 li.bggjgjjgjywrturuwehegqeq410056{margin: 0 0 0px 50px}
.bggjgjjgjywrturuwehegqeq410057{background: #FFF;position: relative;padding: 20px;border-bottom: 1px dashed #E3E3E3;}
#sdzzzzzdsscscsgagdgd10028 .bggjgjjgjywrturuwehegqeq410058{float: left;margin-right: 30px;}
.bggjgjjgjywrturuwehegqeq410059{font-size: 12px;color: #000;line-height: 1em;margin-bottom: 5px;}
.bggjgjjgjywrturuwehegqeq410060{display: none}
.bggjgjjgjywrturuwehegqeq410061 a{margin-bottom: 10px;font-size: 10px;font-style: italic;color: #666;}
.bggjgjjgjywrturuwehegqeq410062{font-size: 10px;position: absolute;bottom: -10px;right: 0;border: 1px solid #E3E3E3;padding: 0 8px;background: #EEE;color: #666;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;}
.bggjgjjgjywrturuwehegqeq410063 a{color: #F00;line-height: 20px;height: 20px;}
.bggjgjjgjywrturuwehegqeq410063 a:hover{text-decoration: underline;}
#sdzzzzzdsscscsgagdgd10029{margin: 40px 0 15px}
#sdzzzzzdsscscsgagdgd10030{margin: 0 0 10px;padding: 0;clear: both;}
#sdzzzzzdsscscsgagdgd10031 label{display: block;font-size: 11px;}
@media only screen and (max-width: 768px){
    .venus-menu li{display: block;width: 100%;}
    .venus-menu > li > a{padding: 13px 20px 14px 20px;}
    /* display:none */
    .venus-menu > li.brand{display: none !important;}
    .venus-menu a{width: 100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
    .venus-menu ul, .venus-menu ul li ul{width: 100%;padding: 0;left: 0;border: none;position: static;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
    .venus-menu > li > ul > li:first-child a:before,.venus-menu > li > ul > li ul li:first-child a:before{border: none;}
    .venus-menu ul li{border-left: none;border-right: none;}
    .venus-menu ul li a{padding-top:10px;padding-bottom:10px;}
    .venus-menu ul > li > a{padding-left: 40px !important;}
    .venus-menu > li .indicator{top: 14px;right: 20px;font-size: 20px;}
    .venus-menu ul > li .indicator{top: 10px;right: 20px;}
    .venus-menu li.search form{margin: 12px 18px 0 18px;}
    .venus-menu li.search form input.search{width: 100%;margin-bottom: 12px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
    .venus-menu > li > ul > li > a{padding-left: 40px !important;}
    .venus-menu > li > ul > li > ul > li > a{padding-left: 60px !important;}
    .venus-menu > li > ul > li > ul > li > ul > li > a{padding-left: 80px !important;}}
#sdzzzzzdsscscsgagdgd10031 input{margin-bottom: 10px;width: 40%;}
#sdzzzzzdsscscsgagdgd10031 textarea{margin-top: 10px;display: block;width: 70%;}
#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10032,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10033,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10034,#sdzzzzzdsscscsgagdgd10031 textarea{background: #FFF;position: relative;padding: 5px;border: 1px solid #E3E3E3;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10032:focus,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10033:focus,#sdzzzzzdsscscsgagdgd10031 input#sdzzzzzdsscscsgagdgd10034:focus,#sdzzzzzdsscscsgagdgd10031 textarea:focus{-moz-box-shadow: 3px 3px 0px #EEE;-webkit-box-shadow: 3px 3px 0px #EEE;box-shadow: 3px 3px 0px #EEE;}
#sdzzzzzdsscscsgagdgd10035{cursor: pointer;font-size: 12px;color: #969696;padding: 5px 0px;width: 100px !important;background: -moz-linear-gradient( top, #f2f2f2 0%, #dbdbdb);background: -webkit-gradient( linear, left top, left bottom, from(#f2f2f2), to(#dbdbdb));border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border: 1px solid #CCC;}
#sdzzzzzdsscscsgagdgd10035:hover{background: #EEE !important}
.bggjgjjgjywrturuwehegqeq410064{position: absolute;left: 0;bottom: 0;color: #EEE;}