h2 {
	font-size:1.7em;
	font-weight:inherit;
	margin:0 0 10px 0;
	font-family: 'Quattrocento Sans', sans-serif;
	color:#006400;
}

.sidebar h2 {
	padding:5% 5% 0 5%;
	text-align:center;
	font-weight:bold
}

.sidebar ul {
	padding:0 5%;
}

.sidebar {
	width:100%;
	margin: 0px auto;
	background:#EFFFD7;
	border-radius:20px;
	box-shadow: 0 0px 6px rgba(0, 100, 0, 0.8);
}

.sidebar ul{
	padding:0% 5% 5% 5%;
}

.sidebar li {
	display:block;
	list-style:0;
	width:100%;
}

.sidebar li a {
	display:block;
	padding:10px 10px 10px 20px;
	background:url(/static/disease/images/p.png) no-repeat 5px 15px;
	text-decoration:none;
	/*font-style:italic;/*字体*/
	font-size: 110%;
	color:#3a3a3a;
}

.sidebar li a:hover {
	background:#006400;
	color:#dea20c;
	text-shadow:0 0px, 1px 1px #000000;
}

.text {
	text-align:center;
}
/* for 768px or less */
@media screen and (max-width: 768px) {
	.contentBody, .sidebar {
		float:none;
		width:auto;
	}
	.sidebar {
		margin:30px 0 0 0;
	}
}

/* hr横线样式 */
#hdsingle hr {
	margin-top: 0;
	height:5px;
	border:none;
	border-top:5px ridge #8ac007;
}

/* 上一篇下一篇的颜色 */
#singlehda span{
    color:#006400;
}

/* 加粗字体*/
#hdsingle h4{
     font-weight:bold;
}

#articlesingle h3{
    color:#006400;
}

/*滚动播放图片宽高自适应*/
.imgadaption img{
	margin: 0 auto;
	width: 100%;
	max-height:780px;
	height:780px;
	height:expression(document.body.clientWidth>780?"780px":"auto");
	overflow:hidden;
}

/* 马病查询页面字体设置 */
#hdindex{
	font-size: 20px;
	padding-bottom: 20px;
	text-align: center;
}

/*告示栏和导航栏对齐*/
.column{
	padding-right: 30px;
}

/*病因下拉菜单内病证样式*/
.drop-downlist a {
	background: #EFFFD7;
	color: #3a3a3a;
	padding-bottom: 1px;
	padding-top: 2px;
}