/* CSS Document */
*{
    margin:0;
    padding:0;
    list-style:none;
    border:none;
}

body{
    background:#fafafa;
}

.totop{
    position:fixed;
    right:25px;
    bottom:25px;
    display:block;
    width:26px;
    height:62px;
    background:url(/static/disease/images/rocket.png) no-repeat 0 0;
    -webkit-transition: all 0.2s ease-in-out;
}

.totop:hover{
    background:url(/static/disease/images/rocket.png) no-repeat 0 -62px;
}
