{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/idcard_recognition.js' %}"></script>
    <script src="{% static 'racing/js/enrollment_admin.js' %}"></script>
    <script src="{% static 'racing/js/racing_datetimepicker.js' %}"></script>
    <script>
        var uploading = false;
        //马匹列表
        var horseowner_list = [];
        var now_selected_horseowner_num;

        //选择马主
        function selete_horseowner(num) {
            now_selected_horseowner_num = num;
            $(".selected_horseowner_name").text(horseowner_list[num].name);
            $(".selected_horseowner_identity").text(horseowner_list[num].identity);
            $(".selected_horseowner_mobile").text(horseowner_list[num].mobile);

            var obj = $("#selected_horseowner").clone();
            obj.removeAttr("id");
            obj.addClass("selected_horseowner_clone");
            $("#id_user").after(obj);

            $("#id_user").val(horseowner_list[num].id);
            $("#id_user").attr("type", "hidden");
            $("#horseowner_list").remove();

        }

        //删除马主
        function delete_horseowner() {
            $("#id_user").val("");
            $("#id_user").attr("type", "text");
            $(".selected_horseowner_clone").remove();
        }

        //回调函数
        function submit_fail_callback() {
            selete_horseowner(now_selected_horseowner_num);
        }


        $(function () {

            var now_search_text = ""
            var timeseed;

            //
            $("#id_user").on("keyup", function () {
                //
                if (now_search_text != $(this).val() && $(this).val() != "") {
                    $("#horseowner_list").remove();
                    console.log("数据改变！");
                    now_search_text = $(this).val();

                    window.clearTimeout(timeseed);
                    timeseed = window.setTimeout(get_horseownerlist, 1000);

                } else if ($(this).val() == "") {
                    $("#horseowner_list").remove();
                    now_search_text = "";
                    window.clearTimeout(timeseed);
                }
                console.log("键盘事件！");
            });

            //获取马主列表
            function get_horseownerlist() {
                console.log("发送请求！");
                $.ajax({
                    url: "{% url 'enrollment_admin_search_horseowner' %}",
                    data: "search_text=" + now_search_text,
                    type: "GET",
                    success: function (data) {
                        if (data.status == 1) {
                            $("#id_user").after(data.horse_list_html);
                            horseowner_list = data.horseowner_list;
                        } else if (data.status == -1) {
                            $("#id_user").after(data.horse_list_html);
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block head_css %}
    <style type="text/css">
        #main-content {
            min-height: 300px;
        }

        .form-horizontal .form-group {
            margin: 0px;
        }

        hr {
            border-color: #3F0C1F;
            border-width: 1px 0 0 0;
            margin-top: 0px;
        }

        #selected_horseowner {
            display: none;
            background-color: white;
            border-radius: 3px;
        }

        .selected_horseowner_clone {
            background-color: white;
            border-radius: 3px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12" style="text-align: center">
            <h1>马匹注册</h1>
        </div>
    </div>

    <div class="row">
        <div id="form_area" class="col-xs-offset-2 col-xs-8"
             style="background: #f5f5f5;padding: 0px 30px 30px 30px;box-shadow: 0 0 10px #3F0C1F;border: 1px solid #3F0C1F;border-radius: 2px;">

            {% autoescape off %}
                {{ html_form }}
            {% endautoescape %}

        </div>
    </div>

    <table class="table" id="selected_horseowner">
        <tbody>
        <tr>
            <td class="selected_horseowner_name"></td>
            <td class="selected_horseowner_identity"></td>
            <td class="selected_horseowner_mobile"></td>
            <td><a href="#" onclick="delete_horseowner()" class="selected_horseowner_delete">删除</a></td>
        </tr>
        </tbody>
    </table>

{% endblock %}