<div id="horseowner_list" style="background-color: white;border-radius: 3px;">
<table class="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>身份证</th>
            <th>手机号</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
   {% for ho in horseowner_list %}
   <tr>
       <td>{{ ho.user.certification.userName }}</td>
       <td>{{ ho.user.certification.identity }}</td>
       <td>{{ ho.user.certification.mobile }}</td>
       <td><a href="#"  onclick="selete_horseowner({{ forloop.counter0 }})">选择</a></td>
   </tr>
       {% empty %}
       <tr>
            <td colspan="4">搜索为空</td>
        </tr>
   {% endfor %}
   </tbody>
</table>
</div>