{% extends "racing/base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}

{% block head_css %}

    <style type="text/css">
        #main-content {
            min-height: 300px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1>马匹列表</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="col-xs-4">
                <input type="text" autocomplete="off" class="form-control" value="{{ search_text }}" name="search_text"
                       id="search_text" placeholder="请输入搜索文本">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">搜索</button>
                <button type="button" onclick="javascript:location.href='{% url 'enrollment_admin_horse_list' %}'"
                        class="btn btn-default">重置
                </button>
            </div>
        </form>
        <div class="col-xs-4" style="text-align: right">
            <button type="button" onclick="javascript:location.href='{% url 'enrollment_admin_horse' %}'" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>添加马匹</button>
        </div>
    </div>

    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'name' %}</th>
            <th>芯片号</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Breed' %}</th>
            <th>{% trans 'Brand' %}</th>
            <th>{% trans 'Prize' %}</th>
            <th>马主</th>
            <th>马主手机号</th>
            <th>{% trans 'Qualified' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% autopaginate horse_list 10 %}
        {% for horseitem in horse_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ horseitem.name }}</td>
                <td>{{ horseitem.chip_no }}</td>
                <td>{{ horseitem.gender }}</td>
                <td>{{ horseitem.breed }}</td>
                <td>{{ horseitem.brand }}</td>
                <td>{{ horseitem.get_all_prize }}</td>
                <td>{{ horseitem.user.userName }}</td>
                <td>{{ horseitem.user.mobile }}</td>
                <td>
                {% if horseitem.qualified %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
                </td>
                <td><a href="/racing/enrollment_admin/horse/?id={{ horseitem.id }}">编辑</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate using "racing/pagination/pagination.html" %}

{% endblock %}