<div id="horseman_list" style="background-color:lightgrey;border-radius: 3px;">
<table class="table">
    <thead>
        <tr>
            <td>姓名</td>
            <td>身份证</td>
            <td>手机号</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
   {% for hm in horseman_list %}
   <tr>
       <td>{{ hm.user.userName }}</td>
       <td>{{ hm.user.identity }}</td>
       <td>{{ hm.user.mobile }}</td>
       <td><a href="#"  onclick="selete_horseman({{ forloop.counter0 }})">选择</a></td>
   </tr>
       {% empty %}
       <tr>
        <td colspan="4">搜索为空</td>
       </tr>
   {% endfor %}
   </tbody>
</table>
</div>