{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/enrollment_admin_change_role.js' %}"></script>
{% endblock %}

{% block head_css %}

    <style type="text/css">
        #main-content {
            min-height: 300px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1>马主列表</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="col-xs-4">
                <input type="text" autocomplete="off" class="form-control" value="{{ search_text }}" name="search_text"
                       id="search_text" placeholder="请输入搜索文本">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">搜索</button>
                <button type="button" onclick="javascript:location.href='{% url 'enrollment_admin_horseowner_list' %}'"
                        class="btn btn-default">重置
                </button>
            </div>
        </form>
        <div class="col-xs-4" style="text-align: right">
            <button type="button" class="btn btn-default" onclick="javascript:location.href='{% url 'enrollment_admin_horsememberowner' %}'">
                <span class="glyphicon glyphicon-plus"></span>创建单位马主</button>
            <button type="button" class="btn btn-default" onclick="javascript:location.href='{% url 'enrollment_admin_horseowner' %}'">
                <span class="glyphicon glyphicon-plus"></span>创建个人马主</button>
        </div>
    </div>

    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Username' %}</th>
            <th>真实姓名</th>
            <th>{% trans 'Role' %}</th>
            <th>{% trans 'Mobile' %}</th>
            <th>{% trans 'Identity' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% autopaginate h_p_list 10 %}
        {% for hp in h_p_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ hp.user.username }}</td>
                <td>{{ hp.user.certification.userName }}</td>
                <td>{{ hp.role }}</td>
                <td>{{ hp.user.certification.mobile }}</td>
                <td>{{ hp.user.certification.identity }}</td>
                <td>
                    {% if hp.role.id == 6 %}
                        <a href="/racing/enrollment_admin/horsememberowner/?id={{ hp.user.id }}">编辑</a>
                    {% elif hp.role.id == 7 %}
                        <a href="/racing/enrollment_admin/horseowner/?id={{ hp.user.id }}">编辑</a>
                    {% endif %}

                    |<a href="#" class="user_role_change" data-url="{% url 'enrollment_admin_permission_change' hp.user.id %}">角色</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate using "racing/pagination/pagination.html" %}

{% endblock %}