<div id="horse_list" style="background-color: lightgrey;border-radius: 3px;">
<table class="table">
    <thead>
        <tr>
            <td>马名</td>
            <td>芯片号</td>
            <td>烙号</td>
            <td>马主名</td>
            <td>身份证</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
   {% for horse in horse_list %}
   <tr>
       <td>{{ horse }}</td>
       <td>{{ horse.chip_no }}</td>
       <td>{{ horse.brand }}</td>
       <td>{{ horse.user.userName }}</td>
       <td>{{ horse.user.identity }}</td>
       <td><a href="#"  onclick="selete_horse({{ forloop.counter0 }})">选择</a></td>
   </tr>
       {% empty %}
       <tr>
        <td colspan="6">搜索为空</td>
       </tr>
   {% endfor %}
   </tbody>
</table>
</div>