{% extends "racing/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load static %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}


{% block head_js %}
    <script src="{% static 'racing/js/enrollment_admin_change_role.js' %}"></script>
{% endblock %}

{% block head_css %}

    <style type="text/css">
        #main-content {
            min-height: 300px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1>骑师列表</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="col-xs-4">
                <input type="text" autocomplete="off" class="form-control" value="{{ search_text }}" name="search_text"
                       id="search_text" placeholder="请输入搜索文本">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">搜索</button>
                <button type="button" onclick="javascript:location.href='{% url 'enrollment_admin_horseman_list' %}'"
                        class="btn btn-default">重置
                </button>
            </div>
        </form>
        <div class="col-xs-4" style="text-align: right">
            <button type="button" class="btn btn-default"
                    onclick="javascript:location.href='{% url 'enrollment_admin_horseman' %}'">
                <span class="glyphicon glyphicon-plus"></span>创建骑师
            </button>
        </div>
    </div>

    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Username' %}</th>
            <th>真实姓名</th>
            <th>{% trans 'Role' %}</th>
            <th>{% trans 'Mobile' %}</th>
            <th>{% trans 'Prize' %}</th>
            <th>{% trans 'Identity' %}</th>
            <th>{% trans 'Qualified' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% autopaginate horseman_list 10 %}
        {% for horsemanitem in horseman_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ horsemanitem.user.user.username }}</td>
                <td>{{ horsemanitem.user.userName }}</td>
                <td>骑师</td>
                <td>{{ horsemanitem.user.mobile }}</td>
                <td>{{ horsemanitem.get_all_prize }}</td>
                <td>{{ horsemanitem.user.identity }}</td>
                <td>
                    {% if horsemanitem.qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </td>
                <td><a href="/racing/enrollment_admin/horseman/?id={{ horsemanitem.user.user.id }}">编辑</a>
                    {% if horsemanitem.qualified %}
                        |<a href="#" class="user_role_change"
                            data-url="{% url 'enrollment_admin_permission_change' horsemanitem.user.user.id %}">角色</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate using "racing/pagination/pagination.html" %}

{% endblock %}