{% extends "racing/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}

{% block head_js %}
    <script>
    $(document).ready(function(){
        $(".enrollment_category_area").on("click",function () {
            //$("#modal-dialog").modal('show');
            location.href=$(this).attr("data-url");
        });
    });
    </script>
{% endblock %}

{% block head_css %}
    <style type="text/css">
        #main-content{
            min-height: 300px;
        }
        .enrollment_category_area{
            width: 100%;
            height: 100px;
            background-color: #FFEAEF;
            margin-top: 10px;
            text-align: center;
            font-size: 20px;
            line-height: 100px;
            border-radius: 5px;
        }
        .enrollment_category_area:hover{
            box-shadow: 5px 5px 2px #888888;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h3>注册中心</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-6 col-sm-3">
            <div class="enrollment_category_area"  data-url="{% url 'enrollment_admin_horseowner_list' %}">
                马主
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="enrollment_category_area"  data-url="{% url 'enrollment_admin_horse_list' %}">
                马匹
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="enrollment_category_area" data-url="{% url 'enrollment_admin_horseman_list' %}">
                骑师
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="enrollment_category_area" data-url="{% url 'enrollment_admin_referee_list' %}">
                裁判
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="enrollment_category_area" data-url="{% url 'enrollment_admin_member_list' %}">
                参赛队伍
            </div>
        </div>
        <div class="col-xs-6 col-sm-3" style="display: none;">
            <div class="enrollment_category_area">
                参赛报名
            </div>
        </div>
    </div>
{% endblock %}