{% load i18n %}
{% load bootstrap3 %}

<form method="post" action="{% url 'enrollment_admin_member_game' enrollment.member.user.user.id %}" class="js-create-enrollment-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Create Game" %}</h4>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {% bootstrap_form ed_modelform %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">{% trans "Create Game" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>
