{% extends "racing/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load static %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}


{% block head_js %}
    <script src="{% static 'racing/js/enrollment_admin_change_role.js' %}"></script>
{% endblock %}

{% block head_css %}

    <style type="text/css">
        #main-content {
            min-height: 300px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1>队伍列表</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="col-xs-4">
                <input type="text" autocomplete="off" class="form-control" value="{{ search_text }}" name="search_text"
                       id="search_text" placeholder="请输入搜索文本">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">搜索</button>
                <button type="button" onclick="javascript:location.href='{% url 'enrollment_admin_member_list' %}'"
                        class="btn btn-default">重置
                </button>
            </div>
        </form>
        <div class="col-xs-4" style="text-align: right">
            <button type="button" class="btn btn-default" onclick="javascript:location.href='{% url 'enrollment_admin_organizationmember' %}'">
                <span class="glyphicon glyphicon-plus"></span>创建单位队伍</button>
            <button type="button" class="btn btn-default" onclick="javascript:location.href='{% url 'enrollment_admin_indivdualmember' %}'">
                <span class="glyphicon glyphicon-plus"></span>创建个人队伍</button>
        </div>
    </div>

    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Member Name' %}</th>
            <th>会员类型</th>
            <th>真实姓名</th>
            <th>{% trans 'Mobile' %}</th>
            <th>{% trans 'Identity' %}</th>
            <th>{% trans 'Qualified' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% autopaginate member_list 10 %}
        {% for memberitem in member_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ memberitem.member_name }}</td>
                <td>{{ memberitem.get_member_type }}</td>
                <td>
                    {% if memberitem.member_type == 1 %}
                        {{ memberitem.user.userName }}
                    {% elif memberitem.member_type == 2 %}
                        {{ memberitem.user.uscc.name }}
                    {% endif %}
                </td>
                <td>{{ memberitem.user.mobile }}</td>
                <td>{{ memberitem.user.identity }}</td>
                <td>
                {% if memberitem.qualified %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
                </td>
                <td>
                    {% if memberitem.member_type == 1 %}
                        <a href="/racing/enrollment_admin/indivdualmember/?id={{ memberitem.user.user.id }}">编辑</a>
                    {% elif memberitem.member_type == 2 %}
                        <a href="/racing/enrollment_admin/organizationmember/?id={{ memberitem.user.user.id }}">编辑</a>
                    {% endif %}
                {% if memberitem.qualified %}
                    |<a href="#" class="user_role_change" data-url="{% url 'enrollment_admin_permission_change' memberitem.user.user.id %}">角色</a>|<a href="{% url 'enrollment_admin_member_game' memberitem.user.user.id %}">报名</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate using "racing/pagination/pagination.html" %}

{% endblock %}