{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'racing/js/idcard_recognition.js' %}"></script>
    <script src="{% static 'racing/js/enrollment_admin.js' %}"></script>
    <script>
        var uploading = false;
    </script>
{% endblock %}

{% block head_css %}
    <style type="text/css">
        #main-content {
            min-height: 300px;
        }

        .form-horizontal .form-group {
            margin: 0px;
        }

        hr {
            border-color: #3F0C1F;
            border-width: 1px 0 0 0;
            margin-top: 0px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12" style="text-align: center">
            <h1>单位队伍注册</h1>
        </div>
    </div>

    <div class="row">
        <div  id="form_area" class="col-xs-offset-2 col-xs-8"
             style="background: #f5f5f5;padding: 0px 30px 30px 30px;box-shadow: 0 0 10px #3F0C1F;border: 1px solid #3F0C1F;border-radius: 2px;">
            {% autoescape off %}
                {{ html_form }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}