{% extends "racing/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load static %}

{% block title %}
    {% trans "Delete Horse" %}
{% endblock %}


{% block head_js %}
    <script src="{% static 'racing/js/enrollment_admin_change_role.js' %}"></script>
{% endblock %}

{% block head_css %}

    <style type="text/css">
        #main-content {
            min-height: 300px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1>裁判列表</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="col-xs-4">
                <input type="text" autocomplete="off" class="form-control" value="{{ search_text }}" name="search_text"
                       id="search_text" placeholder="请输入搜索文本">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">搜索</button>
                <button type="button" onclick="javascript:location.href='{% url 'enrollment_admin_referee_list' %}'"
                        class="btn btn-default">重置
                </button>
            </div>
        </form>
        <div class="col-xs-4" style="text-align: right">
            <button type="button" class="btn btn-default"
                    onclick="javascript:location.href='{% url 'enrollment_admin_referee' %}'">
                <span class="glyphicon glyphicon-plus"></span>创建裁判
            </button>
        </div>
    </div>
    <table class="ptable ptable-rounded">
        <thead>
        <tr>
            <th>{% trans 'Serial Number' %}</th>
            <th>{% trans 'Username' %}</th>
            <th>真实姓名</th>
            <th>{% trans 'Role' %}</th>
            <th>{% trans 'Mobile' %}</th>
            <th>{% trans 'Identity' %}</th>
            <th>{% trans 'Qualified' %}</th>
            <th>{% trans 'Operation' %}</th>
        </tr>
        </thead>
        <tbody>
        {% autopaginate referee_list 10 %}
        {% for refereeitem in referee_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ refereeitem.user.user.username }}</td>
                <td>{{ refereeitem.user.userName }}</td>
                <td>裁判</td>
                <td>{{ refereeitem.user.mobile }}</td>
                <td>{{ refereeitem.user.identity }}</td>
                <td>
                    {% if refereeitem.referee_qualified %}
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="/racing/enrollment_admin/referee/?id={{ refereeitem.user.user.id }}">编辑</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate using "racing/pagination/pagination.html" %}

{% endblock %}