{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<form  action="{% url 'enrollment_admin_indivdualmember' %}"
        data-url="{% url 'enrollment_admin_member_list' %}"
        id="indmember_enrollment_form"
        class="form-horizontal enrollment_form"
        role="form">
    {% csrf_token %}
    <h3>账号创建</h3>
    <hr>
    {% bootstrap_form userform %}
    {% if iscreating %}
        <input type="checkbox" hidden checked name="iscreating">
    {% endif %}

    <h3>实名认证</h3>
    <hr>
    {% bootstrap_form icform %}

    <h3>队伍认证</h3>
    <hr>
    {% bootstrap_form memberform %}

    <hr style="margin-top: 10px;">
    <div class="form-group">
        {% if iscreating %}
            <div class="col-xs-12" style="text-align: center;">
                <button type="submit" class="btn btn-default btn-lg">创建</button>
            </div>
        {% else %}
            <div class="col-xs-12" style="text-align: center;">
                <button type="submit" class="btn btn-default btn-lg">修改</button>
            </div>
        {% endif %}
    </div>

</form>