{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<form   action="{% url 'enrollment_admin_horsememberowner' %}"
        data-url="{% url 'enrollment_admin_horseowner_list' %}"
        id="horsememberowner_enrollment_form"
        class="form-horizontal enrollment_form"
        role="form">
    {% csrf_token %}
    <h3>账号创建</h3>
    <hr>
    {% bootstrap_form userform %}
    {% if iscreating %}
        <input type="checkbox" hidden checked name="iscreating">
    {% endif %}

    <h3>单位信息认证</h3>
    <hr>
    {% bootstrap_form cpform %}

    <h3>个人实名认证</h3>
    <hr>
    {% bootstrap_form mcform %}

    <hr style="margin-top: 10px;">
    <div class="form-group">
        {% if iscreating %}
            <div class="col-xs-12" style="text-align: center;">
                <button type="submit" class="btn btn-default btn-lg">创建</button>
            </div>
        {% else %}
            <div class="col-xs-12" style="text-align: center;">
                <button type="submit" class="btn btn-default btn-lg">修改</button>
            </div>
        {% endif %}
    </div>

</form>