{% load i18n %}
{% load bootstrap3 %}

<form method="post" action="{% url 'enrollment_admin_permission_change' user_id %}" class="js-create-role-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Create Game" %}</h4>
    </div>
    <div class="modal-body">
        <table class="ptable ptable-rounded">
            <thead>
            <tr>
                <th style="text-align: center">当前角色</th>
            </tr>
            </thead>
            <tbody>
            {% for item in user_permission_list %}
                <tr>
                    <td style="text-align: center">{{ item.role.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
        {% bootstrap_form userrole_modelform %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">添加角色</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    </div>
</form>