{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<form action="{% url 'enrollment_admin_horse' %}"
      data-url="{% url 'enrollment_admin_horse_list' %}"
      id="horse_enrollment_form"
      class="form-horizontal enrollment_form"
      role="form">
    {% csrf_token %}

    <h3>马匹信息填写</h3>
    <hr>
    {% bootstrap_form horseform %}

    {% if iscreating %}
        <input type="checkbox" hidden checked name="iscreating">
    {% endif %}

    <hr style="margin-top: 10px;">

    <div class="form-group">
        {% if iscreating %}
            <div class="col-xs-12" style="text-align: center;">
                <button type="submit" class="btn btn-default btn-lg">创建</button>
            </div>
        {% else %}
            <div class="col-xs-12" style="text-align: center;">
                <button type="submit" class="btn btn-default btn-lg">修改</button>
            </div>
        {% endif %}
    </div>

</form>