{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load set_var_tag %}

{% block title %}
    {% trans "Schedule" %}
{% endblock %}


{% block content %}
    <h3>{{ regulation.name }}-{% trans 'Schedule' %}</h3>
    <div class="row">
        {% for game in games %}
            {% if game.get_enrollment_group %}
                {% for key, values in game.get_enrollment_group.items %}
                    <div class="col-md-6 col-sm-12">
                        <div class="game-name">{{ game.name }}
                            <br>
                            <a href="/racing/get_schedule_pdf/{{ game.id }}" target="_blank">
                                <span class="glyphicon glyphicon-floppy-save"></span>导出日程
                            </a>
                        </div>
                        <div id="schedule">
                            <span>{{ game.game_day }}{{ game.time }}（{{ key }}）</span>
                            <div>
                                <table class="ptable ptable-rounded">
                                    <thead>
                                    <tr>
                                        <th class="horizontal-center"
                                            width="60px">{% trans "Starting Gate Number" %}</th>
                                        <th>{% trans "Horse" %}</th>
                                        <th>{% trans "Horseman" %}</th>
                                        <th>{% trans "Team" %}</th>
                                    </tr>
                                    </thead>
                                    {% for i in all_starting_gate_no %}
                                        <tr class="schedule-row">
                                            <td class="horizontal-center">{{ i }}</td>

                                            {% with flag=2 %}

                                                {% for enoll in values %}

                                                    {% if enoll.starting_gate_no == i %}
                                                        {% set flag = 0 %}
                                                        {% if enoll.published %}
                                                            <td>
                                                                <a href="/racing/team/horse_detal/{{ enoll.horse.id }}">{{ enoll.horse.name }}</a>
                                                            </td>
                                                            <td>{{ enoll.horseman }}</td>
                                                            <td>{{ enoll.enrollment.member }}</td>
                                                        {% else %}
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if forloop.last and flag == 2 %}
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    {% endif %}

                                                {% empty %}
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                {% endfor %}

                                            {% endwith %}

                                        </tr>
                                    {% endfor %}
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-6 col-sm-12">
                    <div class="game-name">{{ game.name }}
                        <br>
                        <a href="/racing/get_schedule_pdf/{{ game.id }}" target="_blank">
                            <span class="glyphicon glyphicon-floppy-save"></span>导出日程
                        </a>
                    </div>
                    <div id="schedule">
                        <span>{{ game.game_day }}{{ game.time }}</span>
                        <div>
                            <table class="ptable ptable-rounded">
                                <thead>
                                <tr>
                                    <th class="horizontal-center" width="60px">{% trans "Starting Gate Number" %}</th>
                                    <th>{% trans "Horse" %}</th>
                                    <th>{% trans "Horseman" %}</th>
                                    <th>{% trans "Team" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in all_starting_gate_no %}
                                    <tr class="schedule-row">
                                        <td class="horizontal-center">{{ i }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
