{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="en" {% block htmlattr %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "Xinjiang Horse" %}-{% block head_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
    {% block head_css %}{% endblock %}

    <script src="{% static 'javascript/html5shiv.js' %}"></script>
    <script src="{% static 'javascript/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'javascript/respond.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
    {% block head_js %}{% endblock %}
</head>
<body class='{% block pageclass %}{% endblock %}' {% block bodyattr %}{% endblock %}>

{% block nav %}
    {% include "homepage/xjhorse_nav.html" %}
{% endblock %}
<div id="main-content" class="container">
    {% block content %}

        <div class="row">
            <div id="account_inner" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 big-box">
                {% block inner-content %}
                {% endblock %}
            </div>
        </div>

    {% endblock %}
</div>
{% block footer %}
    {% include "homepage/xjhorse_footer.html" %}
{% endblock %}

{% block tail_js %}
{% endblock %}

<!-- 模式窗口 -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

</body>
</html>

