<ul class="errorlist">
    <li>username
        <ul class="errorlist">
            <li>用户名已经存在！</li>
        </ul>
    </li>
    <li>email
        <ul class="errorlist">
            <li>邮箱号已经存在！</li>
        </ul>
    </li>
</ul>