{% load i18n %}
{% load static %}
<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->

<!-- 顶部静态导航栏 -->
<nav class="navbar navbar-toggler navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- 手机等小屏幕导航栏折叠后依然在导航栏左侧保留 -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'breeds/images/logo.png' %}">
            </a>
            <a class="navbar-brand brand-name" href="{% url 'home' %}">
                <p>{% trans "Xinjiang Horse" %}</p>
            </a>
            <!-- 手机等小屏幕导航栏菜单折叠为右侧按钮 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- 一下内容在手机等小屏幕导航栏折叠后将从导航栏消失，通过点击右侧按钮可以展开 -->
        <div id="collapsed-menu" class="navbar-collapse collapse"><!-- 折叠内容开始 -->
            <!-- 左对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-left">
                <li><a href="{% url 'horsefarm_home' %}">{% trans "Horse Harm Home" %}</a></li>
                <li><a href="">{% trans "Menu Item1" %}</a></li>
                <li><a href="">{% trans "Menu Item2" %}</a></li>
                <li><a href="">{% trans "Menu Item3" %}</a></li>
                <li><a href="">{% trans "Menu Item4" %}</a></li>
            </ul>
            <!-- 右对齐 -->
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>{{ user.email }}</li>
                {% endif %}
            </ul>
        </div><!-- 折叠内容结束 -->
    </div>
</nav>

