{% extends "racing/base.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}

{% block title %}
    {% trans "Honorary Wall" %}
{% endblock %}


{% block content %}
    <div>
      <!-- Tab panes -->
      <div class="tab-content">
        <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <select class="form-control" id="type" name="type">
                    <option value="0">  {% trans 'Horse' %}  </option>
                    <option value="1">  {% trans 'Horseman' %}  </option>
                </select>
                <input type="text" id="keywords" name="keywords" class="form-control" placeholder="{% trans 'Keywords' %}">
              </div>
              <button type="button" id="search" class="btn btn-default">{% trans 'Search' %}</button>
        </form>

            <h3>{% trans 'Ranking' %}</h3>
            <table class="ptable ptable-rounded" id="content">
                <thead>
                <tr>
                    <th>{% trans 'Serial Number' %}</th>
                    <th>{% trans 'Horse Name' %}</th>
                    <th>{% trans 'Horse Photo' %}</th>
                    <th>{% trans 'Brand' %}</th>
                    <th>{% trans 'Gender' %}</th>
                    <th>{% trans 'Birthday' %}</th>
                    <th>{% trans 'Birthplace' %}</th>
                    <th>{% trans 'Breed' %}</th>
                    <th>{% trans 'Horse Owner' %}</th>
                    <th>{% trans 'Competition Experience' %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for object in all_horses %}
                        <tr>
                            <td>
                                {{ forloop.counter|safe }}
                            </td>
                            <td>
                                {{ object.name|safe }}
                            </td>
                            <td>
                                <a onclick="get_competition_detail({{ object.id }}, 0)" data-toggle="modal" data-target="#competition_detail_model">
                                  <img src="{{ MEDIA_URL|safe }}{{ object.horse_photo|safe }}" style="width: 100px;height: 70px">
                                </a>

                            </td>
                            <td>
                                {{ object.brand|safe }}
                            </td>
                            <td>
                                {% ifequal object.gender 0 %} {% trans 'Stallion' %} {% endifequal %}
                                {% ifequal object.gender 1 %} {% trans 'Mare' %} {% endifequal %}
                                {% ifequal object.gender 2 %} {% trans 'Gelding' %} {% endifequal %}
                            </td>
                            <td>
                                {{ object.birthday|safe }}
                            </td>
                            <td>
                                {{ object.birthplace|safe }}
                            </td>
                            <td>
                                {{ object.breed|safe }}
                            </td>
                            <td>
                                {{ object.user.userName|safe }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" onclick="get_competition_detail({{ object.id }},0)" data-toggle="modal" data-target="#competition_detail_model">
                                  {% trans 'Competition Experience Detail' %}
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="competition_detail_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="competition_detail_model_label">{% trans 'Competition Experience' %}</h4>
                  </div>
                  <div class="modal-body" id="records">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Ok' %}</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>

    <br>
    <script>
     $('#search').click(function () {
         var type = $('#type option:selected').val();
         var keywords = $('#keywords').val();
        $.ajax({
            type: "post",
            url: "{% url 'honorary_search' %}",
            data: {
                'type': type,
                'keywords': keywords,
            },
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (data) {
                $('#content').children().remove();
                if(type == '0'){  //赛马
                    var j = 1;
                    $("#content").append("<thead><tr>"
                        +"<th>{% trans 'Serial Number' %}</th>"
                        +"<th>{% trans 'Horse Name' %}</th>"
                        +"<th>{% trans 'Horse Photo' %}</th>"
                        +"<th>{% trans 'Brand' %}</th>"
                        +"<th>{% trans 'Gender' %}</th>"
                        +"<th>{% trans 'Birthday' %}</th>"
                        +"<th>{% trans 'Birthplace' %}</th>"
                        +"<th>{% trans 'Breed' %}</th>"
                        +"<th>{% trans 'Horse Owner' %}</th>"
                        +"<th>{% trans 'Competition Experience' %}</th>"
                        +"</tr></thead><tbody>");
                    for (var i in data) {
                        if(data[i]['gender'] == '1'){
                            data[i]['gender'] = '{% trans 'Stallion' %}';
                        }
                        else if(data[i]['gender'] == '2'){
                            data[i]['gender'] = '{% trans 'Mare' %}';
                        }
                        else if(data[i]['gender'] == '3'){
                            data[i]['gender'] = '{% trans 'Gelding' %}';
                        }
                        $("#content").append("<tr>"
                            +"<td>" + j + "</td>"
                            +"<td>" + data[i]['name'] + "</td>"
                            +"<td><img src='{{ MEDIA_URL|safe }}"+ data[i]['horse_photo'] + "' style='width: 100px;height: 70px'></td>"
                            +"<td>" + data[i]['brand'] + "</td>"
                            +"<td>" + data[i]['gender'] + "</td>"
                            +"<td>" + data[i]['birthday'] + "</td>"
                            +"<td>" + data[i]['birthplace'] + "</td>"
                            +"<td>" + data[i]['breed'] + "</td>"
                            +"<td>" + data[i]['user'] + "</td>"
                            +"<td><button type='button' class='btn btn-danger btn-sm' onclick='get_competition_detail("
                            + data[i]['id']+ ",0)' data-toggle='modal' data-target='#competition_detail_model'>{% trans 'Competition Experience Detail' %}</button></td>"
                            +"</tr>"
                            );
                        j++;
                    }
                }
                else if(type == '1'){ //骑师
                    $("#content").append("<thead><tr>"
                        +"<th>{% trans 'Serial Number' %}</th>"
                        +"<th>{% trans 'Horseman Name' %}</th>"
                        +"<th>{% trans 'Horseman Photo' %}</th>"
                        +"<th>{% trans 'Gender' %}</th>"
                        +"<th>{% trans 'Old' %}</th>"
                        +"<th>{% trans 'Height' %}</th>"
                        +"<th>{% trans 'Weight' %}</th>"
                        +"<th>{% trans 'Native Place' %}</th>"
                        +"<th>{% trans 'Employer' %}</th>"
                        +"<th>{% trans 'Competition Experience' %}</th>"
                        +"</tr></thead><tbody>");
                    var j = 1;
                    for (var i in data) {
                        $("#content").append("<tr>"
                            +"<td>" + j + "</td>"
                            +"<td>" + data[i]['user_name'] + "</td>"
                            +"<td><img src='{{ MEDIA_URL|safe }}"+ data[i]['horseman_photo'] + "' style='width: 100px;height: 70px'></td>"
                            +"<td>" + data[i]['gender'] + "</td>"
                            +"<td>" + data[i]['old'] + "</td>"
                            +"<td>" + data[i]['height'] + "</td>"
                            +"<td>" + data[i]['weight'] + "</td>"
                            +"<td>" + data[i]['native_place'] + "</td>"
                            +"<td>" + data[i]['employer'] + "</td>"
                            +"<td><button type='button' class='btn btn-danger btn-sm' onclick='get_competition_detail("
                            + data[i]['user_id']+ ",1)' data-toggle='modal' data-target='#competition_detail_model'>{% trans 'Competition Experience Detail' %}</button></td>"
                            +"</tr>"
                            );
                        j++;
                    }
                }
                var j = 1;


            }
        });
     });

     function get_competition_detail(id,type) {
         $.ajax({
            type: "post",
            url: "{% url 'get_competition_detail' %}",
            data: {
                'id': id,
                'type': type,
            },
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (data) {
                if(type == '0'){ //赛马
                    $("#records").children().remove();
                    $("#records").append("<span style='float:left'>{% trans 'Competition Experience' %}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='float:right'>{% trans 'Competition Ranking' %}</span><hr/>");
                    for (var i in data) {
                        $("#records").append("<span style='float:left'>"
                        + data[i]['game']
                                +"</span><span style='float:right'>"
                        + data[i]['ranking']
                        + "</span><br/>");
                    }
                }
                else if(type == '1'){ //骑师
                    $("#records").children().remove();
                    $("#records").append("<span style='float:left'>{% trans 'Competition Experience' %}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='float:right'>{% trans 'Competition Ranking' %}</span><hr/>");
                    for (var i in data) {
                        $("#records").append("<span style='float:left'>"
                        + data[i]['game']
                                +"</span><span style='float:right'>"
                        + data[i]['ranking']
                        + "</span><br/>");
                    }
                }
            }
         });
     }
    </script>
{% endblock %}
